<section class="accordion white-background">
    <div class="container">
        <div class="large-section-header grey-typography strong-typography" ng-if="$ctrl.data.header">
            <h3 class="large-section-title">{{$ctrl.data.header}}</h3>
        </div>
        <ul class="accordion-section">
            <li class="accordion-wrapper" ng-repeat="item in $ctrl.data.accordionItems">
                <h4>{{item.title}}</h4>
                <div class="accordion-content" ng-bind-html="item.content | html"></div>
            </li>
        </ul>
    </div>
</section>