
/***************************************
	Bottom banner
***************************************/

.conclusion-promo-section {
  background-repeat: no-repeat;
  background-position: 0 50%;
  background-size: cover;
  margin-bottom: 4em;

  &.move-up {
    margin-top: -6em;

    .container {
      padding-top: 5.5em;
    }
  }

  &.no-bottom-margin {
    margin-bottom: 0;
  }

  &.margin-top {
    margin-top: 4em;
  }

  .container {
    z-index: 10;
    text-align: center;
    padding-top: 4.063em;
  }

  .note-bottom {
    position: absolute;
    bottom: 0;
    width: 100%;
    text-align: center;
    display: block;
    left: 0;
  }
}

@include media(769px) {
  .conclusion-promo-section {
    .container {
      max-width: 45em;

      &.row {
        max-width: 1030px;
      }
    }

    &.wide {
      .container {
        max-width: 1030px;
      }
    }
  }
}
