<section class="conclusion-promo-section no-margin" ng-class="$ctrl.setBackgroundImage()" ng-style="$ctrl.data.backgroundImage && { 'background-image' : 'url(' + $ctrl.data.backgroundImage + ')'}">
	<div class="container">
		<h3 class="section-title" ng-bind-html="$ctrl.data.Body | xpm:'NGPromoSection':'textBlock'"></h3>
		<div ng-if="$ctrl.data.textBlock" ng-bind-html="$ctrl.data.textBlock | xpm:'NGPromoSection':'textBlock'"></div>
		<div class="section-footer">
			<a ng-repeat="dlButton in $ctrl.data.dlButtons" ng-click="$ctrl.navigateUserTo(dlButton.link, $event)" class="button {{dlButton.class}}">{{dlButton.text}}</a>
			<p ng-if="$ctrl.data.footNote" class="note note-bottom" ng-bind-html="$ctrl.data.footNote | xpm:'NGPromoSection':'textBlock'"></p>
		</div>
	</div>
</section>
