<ul class="articles-list image-aside">
    <li dir-paginate="item in $ctrl.resources | itemsPerPage: $ctrl.pageSize" current-page="$ctrl.currentPage"
        pagination-id="resourceCategoryVideosPagination">

        <figure>
            <a ui-sref="resources-category.video-details({category: $ctrl.category,path:item.url})">
                <!--<img ng-src="{{item.image | addLocalRoot}}" alt="{{item.image}}">-->
                <iframe width="640" height="150" ng-src="{{item.video | trustUrl}}" frameborder="0" allowfullscreen></iframe>
            </a>
        </figure>

        <h2>
          <a href ui-sref="resources-category.video-details({category: $ctrl.category, path:item.url})" ng-bind="::item.title"></a>
        </h2>

        <p class="meta category">
          <a ui-sref="resources-category.video-details({category: $ctrl.category, path:item.url})" ng-bind="::item.subcategoryTitle"></a>
        </p>

        <p ng-bind="::item.summary"></p>
        <a  class="button transparent icon-doc icon-pdf"
            href="{{item.link.link}}"
            ng-hide="item.isVideoContent"
            download
            ng-bind="::item.link.text"></a>
    </li>
</ul>

<div class="pagination">
    <dir-pagination-controls boundary-links="true" pagination-id="resourceCategoryVideosPagination" on-page-change="pageChangeHandler(newPageNumber)"></dir-pagination-controls>
</div>
