<header class="about-us-page-header" ng-style="{'background-image': 'url(' + $ctrl.headerData.headerBgImg + ')'}">
    <div class="container">
        <div class="page-info">
            <breadcrumb></breadcrumb>
        </div>
        <div class="page-headline">
            <div class="page-headline-inner">
                <div class="page-headline-text">
                    <!--<span class="page-date">{{$ctrl.headerData.pubDate | date: 'longDate'}}</span>-->
                    <h1 class="page-title">{{$ctrl.headerData.headerTitle}}</h1>
                </div>
            </div>
        </div>
    </div>
</header>
