.notification-bar {
  color: #fff;
  font-size: .8em;
  padding-bottom: .5em;
  padding-top: 1em;
  position: relative;
  background-color: #000;

  .mobile-navigation-opened & {
    display: none;
  }

  .notification-bar-content {
    margin-right: 20px;
  }

  p {
    color: #fff;
    margin-bottom: .5em;
  }

  a {
    color: #fff;
    text-decoration: none;

    &:hover {
      text-decoration: underline;
    }
  }

  .close {
    position: absolute;
    cursor: pointer;
    right: 0;
    text-decoration: none;
    top: 4px;
  }

  &.green {
    background-color: #006d5c;
  }

  &.red {
    background-color: #ed2939;
  }

  &.blue {
    background-color: #51aee2;
  }

  &.yellow {
    background-color: #ffce44;
  }

  &.grey {
    background-color: #eee;
    color: #515151;

    a {
      color: #515151;
    }

    p {
      color: #515151;
      text-align: left;
    }
  }

  .button.gray {
    background-color: #f8f8f8;

    p {
      color: #444;

      a {
        color: #444;
        text-decoration: underline;
      }
    }
  }

  .button.close {
    position: relative;
    float: right;
    width: 100%;
  }

  .description-left {
    width: 100%;
    float: left;
  }

  &.show-icon {
    position: relative;
    padding-left: 3.5em;
    padding-right: 1em;

    .font-icons {
      font-size: 1.5em;
      position: absolute;
      top: .65em;
      left: .8em;
      color: #535353;
    }
  }

  &.red,
  &.green,
  &.blue,
  &.yellow {
    .font-icons {
      color: #fff;
    }
  }

  &.divider {
    border: none;
  }

  p {
    &.larger-size {
      font-size: 1.09375em;
    }

    &.large-size {
      font-size: 1.25em;
    }
  }
}

@include media(600px) {
  .notification-bar {
    .button.close {
      margin-right: -15px;
      width: auto;
    }

    .description-left {
      width: 80%;
    }
  }
}

@media (max-width: 768px) {
  body.sticky-header-hp-on {
    .notification-bar {
      top: 4.4em;
    }
  }
}
