/***************************************
	HMC
***************************************/

.modal-header {
  position: relative;
  background: #eee;

  .modal-button {
    @include transition(all .15s ease-in);
    position: absolute;
    top: 0;
    display: block;
    font-size: .75em;
    padding: 1.5em;
    color: #999;

    .font-icons {
      vertical-align: middle;
    }

    .text {
      display: none;
      padding-left: .5em;
      font-weight: 700;
      text-transform: uppercase;
      vertical-align: middle;
    }

    &.modal-back {
      left: 0;
      border-right: 1px solid #ddd;
    }

    &.modal-close {
      right: 0;
      border-left: 1px solid #ddd;

      .font-icons {
        &:before {
          font-size: 1.125em;
        }
      }
    }

    &:hover {
      background-color: #fff;
      color: $kgreen;
      cursor: pointer;
    }
  }
}

.timeline-wrapper {
  position: relative;
  width: 50%;
  margin: 0 auto;

  .progress {
    position: absolute;
    top: 50%;
    left: 0;
    height: .125em;
    margin-top: -.0625em;
    background: $bordergreen;
  }

  .timeline {
    @include list-reset;
    @include clearfix;
    position: relative;
    width: 100%;
    padding: 1.0625em 0;
    height: 50px;

    &:before {
      content: "";
      position: absolute;
      top: 50%;
      left: 0;
      right: 0;
      width: 100%;
      height: .125em;
      margin-top: -.0625em;
      background: #ddd;
    }

    > li {
      float: left;
      text-align: right;

      .bullet {
        position: relative;
        z-index: 10;
        top: .125em;
        right: -.375em;
        display: block;
        float: right;
        text-indent: -9000em;
        width: .75em;
        height: .75em;
        background: #ddd;
        border-radius: 1em;
      }

      &:first-child {
        position: absolute;
        left: 0;
        width: 0 !important;

        .bullet {
          float: none;
          right: auto;
          left: -.375em;
        }
      }
    }

    .done {
      .bullet {
        background: $bordergreen;
      }
    }

    .active {
      .bullet {
        width: 1em;
        height: 1em;
        top: auto;
        right: -.5em;
        background: $bordergreen;

        &:before {
          content: "";
          position: absolute;
          top: 50%;
          left: 50%;
          width: .375em;
          height: .375em;
          margin-left: -.1875em;
          margin-top: -.1875em;
          background: #fff;
          border-radius: 1em;
        }
      }
    }
  }
}

.hmc-selector {
  .button {
    &:disabled {
      color: #ccc !important;

      &:hover {
        color: #ccc !important;
        background-color: #fff !important;
        border-color: #DFEAF0 !important;
      }
    }
  }

  form {
    display: flex;
    flex-wrap: wrap;
    align-items: stretch;

    #hmc-os-selection {
      display: flex;
      flex-wrap: wrap;
      align-items: stretch;
      width: 100%;
    }

    .checkbox {
      display: flex;
      flex-wrap: wrap;
      align-items: stretch;

      label {
        width: 100%;
      }

      &:after {
        display: none;
      }
    }
  }

  .hmc-label {
    width: 100%;
  }
}

.hmc-main {
  padding: 1.5em 0;
  background: #fff url("/content/en-global/images/hmc-bg.png") 1em 1em no-repeat;

  .container {
    padding: 0;
    max-width: 53em;
  }

  .featured-section {
    margin-top: 2em;

    ul.product-list {
      .product-item {
        &.product-small {
          justify-content: flex-start;

          .price {
            min-height: 50px;
          }
        }
      }
    }
  }

  .section-desc-small {
    text-align: center;
    color: #929292;
    font-size: .813em;
  }

  .section-desc + .section-desc-small {
    margin-top: -1em;
  }

  h3.section-title + .section-desc {
    margin-top: -.5em;
  }

  .check-list {
    margin-bottom: 2em;
  }

  .product-intro {
    margin-bottom: 0;
  }

  .reviews-list {
    padding-top: .5em;
    margin-bottom: 0;

    blockquote {
      margin-bottom: 0;
    }
  }

  .buy-block {
    .detail {
      p {
        text-align: center;
        font-size: .875em;
        color: #444;
      }
    }
  }

  .row-promo {
    display: none;
    margin-top: 3em;
    margin-bottom: 1px;

    .promo-wrapper {
      padding: 1.7em 1.5em 1em;
      background: #fff;
      border: 1px solid $kred;

      .intro {
        display: table-cell;
        vertical-align: middle;
        padding-right: .5em;

        p {
          margin-bottom: .5em;
          font-size: 1.125em;
          font-weight: 700;
          color: $kred;

          span {
            font-size: .8125em;
            color: #888;
            font-weight: 300;
          }
        }
      }

      .features {
        display: table-cell;
        vertical-align: middle;

        .check-list {
          margin-bottom: 0;

          > li {
            display: inline-block;
            margin-bottom: .5em;
            margin-left: 1em;
            font-size: em(13);
            color: #444;

            &:before {
              color: $kred;
            }
          }
        }
      }

      .font-icons {
        display: block;
        height: 0;
        position: relative;
        left: 0;
        top: -1.08em;
        margin-bottom: .15em;
        text-align: center;
        font-size: 3em;
        color: $kred;

        &:before {
          position: relative;
          left: .35em;
        }

        &:after {
          content: "\e92f";
          background: #fff;
        }
      }
    }
  }

  .buy-box-wrapper {
    margin-bottom: 1em;

    .buy-block {
      padding: 2em 1.5em;
      background: #f8f8f8 url("../i/bg-pattern.jpg") 50% 50% no-repeat;
      background-size: cover;
      border: 1px solid #eee;
      box-shadow: 0 2px 0 0 rgba(0, 0, 0, .05);

      .price {
        margin-bottom: 1em;

        p {
          font-size: em(32);
          color: $kred;

          &.price-old {
            font-size: em(15);

            .price-saving {
              color: #333;
            }
          }
        }
      }

      form {
        .price {
          p {
            &.price-old {
              .price-saving {
                color: $kred;
              }
            }
          }
        }
      }
    }
  }

  .button {
    width: 100%;
  }
}

.hmc-result {
  .featured-section > .row {
    display: flex;

    & > div {
      display: flex;
    }
  }
}

.hmc-footer {
  .lightgreen-background {
    margin-bottom: 0;

    .container {
      padding: 2em 0;
    }
  }
}

.hmc-verdict .featured-section {
  & > .row,
  & > .row > div {
    display: flex;
  }
}

.hmc-products-section {
  &.no-gutter {
    margin-left: -1em;
  }

  & + .hmc-products-section {
    margin-top: 1.5em;
  }
}

.hmc-product {
  position: relative;
  margin-left: -1em;
  margin-right: -1em;
  padding: 1.5em 1em .5em;
  background: #fff;
  border: 1px solid #eee;
  border-top: 0;

  &:first-child {
    border-top: 1px solid #e5e5e5;
  }

  .product-item {
    @include clearfix;

    header {
      display: block;
      margin-bottom: .75em;
      padding-bottom: .75em;
      border-bottom: 1px solid #e5e5e5;

      .product-title {
        min-height: 3.75em;
      }
    }

    .buy-block {
      .detail {
        p {
          margin-bottom: .25em;
        }
      }
    }
  }

  .product-intro {
    padding-top: 1em;
    border-top: 1px solid #e5e5e5;
  }

  &.check-element,
  &.radio-element {
    .product-item {
      header {
        padding-right: 2em;
      }
    }

    .form-element {
      position: absolute;
      top: 4em;
      right: .75em;

      label {
        span {
          display: none;
        }
      }
    }

    &:hover {
      position: relative;
      z-index: 10;
      border-color: #ccc;
      box-shadow: 0 -1px 0 0 #ccc;
    }

    &:first-child {
      &:hover {
        box-shadow: inherit;
      }
    }
  }

  &.deselected,
  &.disabled {
    @include transition(all .15s ease-in);
    background: #f8f8f8;
  }

  &.disabled {
    pointer-events: none;

    &:hover {
      cursor: default;
    }
  }

  &.selected {
    @include transition(all .15s ease-in);
    border-color: #e5e5e5;
    box-shadow: 0 2px 0 0 rgba(0, 0, 0, .05);

    &.radio-element {
      &:hover {
        border-color: #ccc;
        box-shadow: 0 2px 0 0 rgba(0, 0, 0, .05);
      }
    }
  }
}

.homepage-main {
  .hmc-section.variant-2 {
    .hmc-selector {
      &.hmc-embedded {
        box-shadow: none;

        .hmc-main {
          background-image: none;
          background-color: #fff;
        }
      }
    }
  }
}

.hmc-addons-section {
  background: #f8f8f8;
}

.hmc-addon {
  @include transition(all .15s ease-in);
  position: relative;
  margin-left: -1em;
  margin-right: -1em;
  padding: 1.5em 1em .5em;
  height: 100%;
  background: #f8f8f8;
  border: 1px solid #f8f8f8;

  .intro {
    margin-bottom: 1em;

    p {
      margin-bottom: .5em;
      font-size: .75em;
      color: #777;
    }
  }

  .product-item {
    position: relative;
    text-align: left;

    header {
      display: block;
      padding-left: 3em;
      padding-right: 2em;

      figure {
        margin-left: -3em;
        width: 2.5em;
      }

      &.divider {
        padding-bottom: 1em;
      }
    }

    .product-title {
      padding-top: .25em;
      line-height: .9;

      span {
        font-size: .8125em;
      }

      .surtitle {
        font-size: .6em;
        line-height: 1;
      }
    }

    .form-element {
      position: absolute;
      top: 1.25em;
      right: -.25em;

      span {
        display: none;
      }
    }

    .price {
      p {
        font-size: 1.25em;
      }
    }
  }

  &:hover {
    position: relative;
    z-index: 10;
    border-color: #ccc;
  }

  &.selected {
    @include transition(all .15s ease-in);
    background: #fff;
    border-color: $bordergreen;
    box-shadow: 0 2px 0 0 rgba(0, 0, 0, .05);
  }
}

.hmc-product-form {
  .form-body {
    @include clearfix;
    display: flex;
    flex-wrap: wrap;
    align-items: stretch;
    margin-bottom: 2em;

    & > * {
      flex-grow: 1;
    }

    .hmc-products-section.hor-list {
      display: flex;
      flex-wrap: wrap;
      align-items: stretch;

      & > * {
        flex-grow: 1;
      }
    }

    &.row {
      & > * {
        display: flex;
        flex-wrap: wrap;
        align-items: stretch;

        & > * {
          flex-grow: 1;
        }
      }
    }
  }

  .form-footer {
    .price-total {
      margin-bottom: .75em;

      .label {
        margin-bottom: 0;
        line-height: 1;
        text-align: center;
        text-transform: uppercase;
        color: #999;
        font-size: .75em;
        font-weight: 700;
      }

      .price {
        margin-bottom: 0;
        line-height: 1.3;
        font-size: 1.5em;
        font-weight: 700;
      }
    }
  }
}

@include media(769px) {
  .modal-header {
    .modal-button {
      .text {
        display: inline;
      }
    }
  }

  .hmc-main {
    padding: 2.5em 0;

    .featured-section {
      margin-top: 2em;
    }

    .row-promo {
      display: block;
    }
  }

  .hmc-products-section {
    &.no-gutter {
      margin-left: auto;
    }

    & + .hmc-products-section {
      margin-top: 0;
    }
  }

  .hmc-product {
    margin: 0;

    .product-item {
      header {
        margin-bottom: 0;
        border: 0;
        padding-right: 0;

        .product-title {
          font-size: 1.25em;
        }
      }

      .buy-block {
        padding: .6em 0 .2em;
        border-left: 1px solid #e5e5e5;
      }

      &.product-small {
        .product-title {
          font-size: 1.125em;
        }
      }
    }

    .product-intro {
      padding: .5em 0 0 3%;
      border-top: 0;
    }

    .no-buy-btn {
      .form-element {
        display: none;
      }
    }

    &.check-element,
    &.radio-element {
      padding-left: 3em;

      .form-element {
        top: 50%;
        right: auto;
        left: 1em;
        margin-top: -.75em;
      }
    }
  }

  .hmc-addon {
    margin: 0;
    padding-left: 1.5em;
    padding-right: 1.5em;

    .product-item {
      position: static;

      header {
        padding-right: 0;

        .product-title {
          font-size: 1.25em;
        }
      }
    }

    &.check-element {
      .product-item {
        padding-bottom: 2.5em;

        .form-element {
          top: auto;
          bottom: 1.5em;
          right: auto;
          left: 50%;
          margin-left: -.5em;
        }
      }
    }
  }

  .hmc-product-form {
    .form-body {
      margin-bottom: 1.5em;
    }

    .form-footer {
      text-align: right;

      .price-total {
        margin: 0 1.5em 0 0;
        display: inline-block;
        vertical-align: middle;

        .label {
          display: inline-block;
          vertical-align: middle;
        }

        .price {
          display: inline-block;
          vertical-align: middle;
        }
      }

      .sticky-button-wrapper {
        display: inline-block;
        vertical-align: middle;
      }

      .form-element {
        display: inline-block;
        vertical-align: middle;

        .button {
          margin-bottom: 0;
        }
      }
    }
  }

  .hor-list {
    border-top: 1px solid #eee;
    border-left: 1px solid #eee;

    .hmc-product {
      border-left: 0;

      &:first-child {
        border-top: 0;
      }

      &.check-element,
      &.radio-element {
        padding-left: 1em;
        padding-bottom: 3em;

        &:hover {
          box-shadow: -1px -1px 0 0 #ccc;
        }

        .product-item {
          header {
            padding-right: 0;

            &.divider {
              border-bottom: 1px solid #e5e5e5;
              margin-bottom: .75em;
            }
          }

          .buy-block {
            padding: 0;
            border: 0;
          }
        }

        .form-element {
          top: auto;
          bottom: 1.5em;
          right: auto;
          left: 50%;
          margin-left: -.5em;
        }
      }
    }
  }
}

.hmc-modal-wrapper-default,
.hmc-modal-wrapper-v2 {
  .ngdialog-content {
    background-color: transparent;
    padding: 0;
  }

  .white-popup {
    padding: 0;
    width: 100%;
  }
}

.hmc-modal-wrapper-default {
  .ngdialog-overlay {
    background-color: rgba(11, 11, 11, .8);
  }
}

.hmc-modal-wrapper-v2 {
  .ngdialog-overlay {
    background-color: rgba(210, 210, 210, .8);
  }
}

.hmc-template-v2 {
  .button {
    &.disabled,
    &:disabled {
      background-color: #aaa;
    }
  }
}

#hmc-modal {
  background-color: #fff;

  & > *:last-child {
    margin-bottom: 0;
  }

  .check-element,
  .radio-element {
    cursor: pointer;
  }

  .buy-block {
    .account-info {
      margin-top: 0;
    }
  }

  .featured-section {
    .product-item > header {
      min-height: 86px;
    }

    ul {
      &.product-list {
        > li {
          border-left: 1px solid #e5e5e5;
        }
      }
    }
  }

  &:not(.hmc-template-v2) {
    label {
      min-height: 106px;
    }

    .hmc-step-2 {
      label {
        min-height: 138px;

        .locale--es-es & {
          min-height: 145px;
        }
      }
    }
  }

  label {
    @include prefixer(user-select, none, webkit moz ms o spec);
  }

  .hmc-next-button.arrow-icon {
    @include transition(background-image 0s ease-in);
    padding-right: 2em !important;
    background-image: url("../i/arrow-next.png");
    background-repeat: no-repeat;
    background-position: 100% -72px;

    &:hover {
      @include transition(background-image 0s ease-in);
      background-position: 100% -156px;
    }

    &:disabled {
      @include transition(background-image 0s ease-in);
      background-position: 100% 12px;

      &:hover {
        @include transition(background-image 0s ease-in);
        background-position: 100% 12px;
      }
    }
  }
}

.locale--es-mx {
  #hmc-modal {
    &:not(.hmc-template-v2) {
      .hmc-step-2 {
        label {
          min-height: 141px;
        }
      }
    }
  }
}

@media screen and (-o-min-device-pixel-ratio: 5/4), (-webkit-min-device-pixel-ratio: 1.25), (min-resolution: 120dpi) {
  #hmc-modal .hmc-next-button.arrow-icon {
    background-image: url("../i/arrow-next@2x.png");
    background-size: 20px 200px;
  }
}

@media screen and (max-width: 768px) {
  #hmc-modal {
    .sticky-button-wrapper {
      .form-element.sticky {
        background-color: #fff;
        bottom: 0;
        box-shadow: 0 -1px 2px rgba(0, 0, 0, .1);
        left: 0;
        padding: 20px;
        position: fixed;
        width: 100%;
        z-index: 999;
      }

      input {
        margin-bottom: 0;
      }
    }
  }
}

/***************************************
  Reviews
***************************************/

.reviews-section {
  .section-footer {
    text-align: center;

    .button {
      margin: 0;
      color: $kgreen;
    }
  }
}

.reviews-list,
ul.reviews-list {
  @include list-reset;
  margin-bottom: .75em;

  figure,
  .figure {
    display: none;
    margin-top: em(20);
  }

  blockquote {
    padding-left: 0;
    padding-right: 0;
    font-size: .875em;

    @include clearfix;

    p {
      &:before {
        content: "\"";
        position: absolute;
        top: 0;
        left: -.5em;
      }
    }

    cite {
      font-size: 1em;
    }

    .starbar {
      margin-left: 1em;
    }

    .cite-subtitle {
      display: block;
      font-weight: 300;
      margin-top: .15em;
      margin-left: 1.2em;
      font-size: .857em;
    }

    footer,
    .footer {
      padding-right: em(20);
      padding-top: .85em;
      float: left;
      width: 65%;
    }

    figure,
    .blockquote-figure {
      text-align: right;
      display: block;
      margin-top: 0;
      float: left;
      width: 35%;

      img {
        width: 75px;
        display: inline-block;
      }
    }
  }
}

.testimonials-slider {
  .slick-slide {
    padding: 0 em(30);
  }

  .slick-arrow {
    position: absolute;
    top: 50%;
    margin-top: -.5em;
    display: block;
    font-size: 2.5em;
    width: 1em;
    height: 1em;
    color: #ccc;
    text-indent: -9000em;

    &:hover {
      color: #ddd;
    }

    &:before {
      position: absolute;
      top: -.1em;
      left: -.1em;
      font-size: 1.25em;
      width: 1em;
      height: 1em;
      text-indent: 0;
      text-align: center;
    }
  }

  .next-slide {
    right: -.2em;

    &:before {
      content: "\f105";
    }
  }

  .prev-slide {
    left: -.2em;

    &:before {
      content: "\f104";
    }
  }

  .slick-dots {
    border-top: 0;
  }
}

@include media(769px) {
  .reviews-list,
  ul.reviews-list {
    blockquote {
      figure,
      .blockquote-figure {
        display: none;
      }
    }

    figure,
    .figure {
      display: block;
    }
  }

  .testimonials-slider {
    .slick-slide {
      padding: 0;
    }

    .next-slide {
      right: -.7em;
    }

    .prev-slide {
      left: -1.1em;
    }

    blockquote {
      padding-right: em(46);
    }
  }
}

@include media(993px) {
  .testimonials-slider {
    .prev-slide {
      left: -1.5em;
    }
  }
}

.locale--ru-ru .hmc-main .row-promo .promo-wrapper .features .check-list > li {
  float: left;
  clear: both;
}

.locale--zh-cn {
  .product-item {
    &.product-small {
      .desc {
        p {
          min-height: 40px;
        }
      }
    }
  }
}
