<div ng-if="ngDialogData.isPopupOpen">
  <div id="hmc-modal" ng-class="[ ngDialogData.stateClass, ngDialogData.step.stateClass, { 'hmc-auto-popup-base' : ngDialogData.step.autoPopup === true } ]" class="white-popup">
    <div ng-if="ngDialogData.isMobile && ngDialogData.autoPopupActive" class="hmc-mobile-banner">
      <button ng-click="closeThisDialog()" aria-label="Dismiss" title="Close (Esc)" type="button" class="ngdialog-close"></button>

      <div class="green-background">
        <div class="container">
          <h2 class="title" ng-bind-html="ngDialogData.step1.hmcPromo.hmcPromoTitle"></h2>
          <p ng-bind-html="ngDialogData.step1.hmcPromo.hmcPromoDescription"></p>
          <a ng-click="ngDialogData.loadHMC($event)" href class="hmc-open hmc-show-start-screen button white">{{ngDialogData.step1.hmcPromo.hmcPromoTryNowBtn}}</a>
        </div>
      </div>
    </div>

    <div ng-class="{'hmc-banner-popup-active' : ngDialogData.step.autoPopup === true}">
      <div class="modal-header">
        <a data-hmc-action="back" ng-hide="ngDialogData.step.stateClass === 'hmc-modal-step1'" ng-click="ngDialogData.backBtn($event)" class="modal-button modal-back"><span class="font-icons icon-arrow-left"></span><span class="text">{{ngDialogData.hmcUI.hmcUIBackText}}</span></a>

        <div class="timeline-wrapper">
          <ul class="timeline">
            <li ng-class="{ 'active' : ngDialogData.step.currentStep === 'step-1' }" class="done" style="width:50%;"><span class="bullet"></span></li>
            <li ng-class="{ 'active' : ngDialogData.step.currentStep === 'step-2', 'done' : ngDialogData.step.currentStep !== 'step-1' }" style="width:50%;"><span class="bullet"></span></li>
            <li ng-class="{ 'active' : ngDialogData.step.currentStep === 'results' }" style="width:50%;"><span class="bullet"></span></li>
          </ul>

          <div ng-style="ngDialogData.progressBar(ngDialogData.step)" class="progress"></div>
        </div>

        <a ng-click="closeThisDialog()" class="modal-button modal-close"><span class="font-icons icon-cancel"></span></a>
      </div>

      <div class="hmc-main inactive-previous fade-in">
        <div ng-if="ngDialogData.step.autoPopup === true" class="promo-header-desktop">
          <div class="promo-header lightgreen-background">
            <div class="container">
              <h2 class="title" ng-bind-html="ngDialogData.step1.hmcPromo.hmcPromoTitle"></h2>
              <p ng-bind-html="ngDialogData.step1.hmcPromo.hmcPromoDescription"></p>
            </div>
          </div>
          
          <hmc-promo-banner ng-bind-html="ngDialogData.step1.hmcPromo.hmcPromoBanner"></hmc-promo-banner>
        </div>

        <div class="container">
          <div class="hmc-section variant-2">

            <!-- hmc steps start -->

            <div ng-if="ngDialogData.step.currentStep === 'step-1'" class="hmc-header">
              <h3 class="section-title">{{ngDialogData.step1.hmcStep1Title}}</h3>
              <section-subtitle-data ng-bind-html="ngDialogData.step1.hmcStep1Subtitle | html"></section-subtitle-data>
            </div>

            <div ng-if="ngDialogData.step.currentStep === 'step-2'" class="hmc-header">
              <h3 class="section-title">{{ngDialogData.step2.hmcStep2Title}}</h3>
              <section-subtitle-data ng-bind-html="ngDialogData.step2.hmcStep2Subtitle | html"></section-subtitle-data>
            </div>

            <div class="hmc-selector">
              <div ng-if="ngDialogData.step.currentStep === 'step-1'" class="current-step hmc-step-1">
                <!-- step 1 -->

                <form id="hmc-devices-form" class="required">
                  <div class="hmc-label" ng-bind-html="ngDialogData.step1.hmcStep1LabelTitle | html"></div>

                  <div id="hmc-os-selection" class="checkbox-group">
                    <div ng-click="ngDialogData.selectCheckbox($event)" data-hmc-action="os-selection" ng-repeat="OS in ngDialogData.step1.hmcOSSelect" class="form-element checkbox">
                      <input type="checkbox" ng-attr-name="{{OS.hmcOSId}}" ng-attr-value="{{OS.hmcOSId}}" ng-attr-id="{{OS.hmcOSId}}">
                      <label ng-attr-for="{{OS.hmcOSId}}" ng-class="OS.hmcOsClassName"><span class="font-icons"></span>{{OS.hmcOS}}</label>
                    </div>
                  </div>

                  <div class="form-element buttons">
                    <input ng-disabled="!ngDialogData.requiredOptionActive" data-hmc-action="start" ng-click="ngDialogData.getSelectedOS($event)" type="submit" class="button transparent hmc-next-button arrow-icon" ng-attr-value="{{ngDialogData.hmcUI.hmcUIStartText}}" disabled>
                  </div>
                </form>

                <!-- step 1 end -->
              </div>

              <div ng-if="ngDialogData.step.currentStep === 'step-2'" class="current-step hmc-step-2">
                <!-- step 2 -->

                <form id="hmc-pc-form">
                  <div class="hmc-label">
                    <div class="top-description" ng-bind-html="ngDialogData.step2.hmcStep2LabelTitle | html"></div>

                    <a ng-if="ngDialogData.kscAvailable" ng-click="ngDialogData.selectAll($event)" class="select-all" data-test="hmc-label--all">
                      <i class="font-icons icon-check"></i>{{ngDialogData.hmcUI.hmcUISelectAllText || 'Select All'}}
                    </a>
                  </div>

                  <div class="checkbox-group" id="hmc-questions-selection">
                    <div ng-click="ngDialogData.selectCheckbox($event)"
                         data-hmc-action="question-selection"
                         ng-repeat="question in ngDialogData.step2.hmcQuestionBlocks"
                         ng-class="{'select-all' : $last && !ngDialogData.kscAvailable}"
                         class="form-element checkbox">
                      <input type="checkbox" ng-attr-value="{{question.hmcQuestionId}}" ng-attr-name="{{question.hmcQuestionId}}">
                      <label ng-class="question.hmcQuestionClassName" ng-attr-for="{{question.hmcQuestionId}}" data-test="hmc-cta--{{question.hmcQuestionId}}"><span ng-class="'icon-' + question.hmcQuestionClassName" class="font-icons"></span> {{question.hmcQuestion}}</label>
                    </div>
                  </div>

                  <div class="form-element buttons">
                    <input data-hmc-action="next" type="submit" ng-click="ngDialogData.checkQuestions($event)" class="button transparent arrow-icon hmc-next-button" ng-attr-value="{{ngDialogData.hmcUI.hmcUINextText}}">
                  </div>
                </form>
                <!-- step 2 end -->

              </div>
            </div>

            <!-- results -->

            <div ng-if="ngDialogData.step.currentStep === 'results'" class="current-step hmc-verdict">
              <h3 class="section-title">{{ngDialogData.hmcUI.hmcResultsTitle || ngDialogData.step1.hmcStep1Title}}</h3>
              <p ng-if="ngDialogData.hmcVerdict.length === 1" class="section-desc" ng-bind-html="hmcUI.hmcVerdict1upSubtitle"></p>
              <p ng-if="ngDialogData.hmcVerdict.length > 1" class="section-desc" ng-bind-html="hmcUI.hmcVerdict2upSubtitle"></p>

              <div ng-if="ngDialogData.hmcVerdict.length > 1" ng-switch="ngDialogData.kscAvailable && ngDialogData.hmcVerdict.length === 3 && ngDialogData.hmcVerdict[ngDialogData.hmcVerdict.length - 1].shortName !== 'kpm'">
                <div ng-switch-when="true" class="hmc-result" ng-if="ngDialogData.kscAvailable && ngDialogData.hmcVerdict.length === 3 && ngDialogData.hmcVerdict[ngDialogData.hmcVerdict.length - 1].shortName !== 'kpm'">
                  <section class="featured-section">
                    <div class="row">
                      <div class="col-l-8">
                        <ul class="product-list section-col-l-2 no-gutter">
                          <li ng-repeat="product in ngDialogData.hmcVerdict | limitTo:2:0">
                            <div class="product-item product-small">
                              <header class="divider">
                                <figure>
                                  <a ng-href="{{product.learnMoreLink}}" ng-click="closeThisDialog()">
                                    <img ng-src="{{product.fullSizeImage | addLocalRoot}}" ng-attr-title="{{product.prodMainTitle}}" ng-attr-alt="{{product.prodMainTitle}}" />
                                  </a>
                                </figure>
                                <div class="tagline"><p>{{product.summary}}</p></div>
                                <h2 class="product-title">
                                  <a ng-href="{{product.learnMoreLink}}" ng-click="closeThisDialog()">
                                    <span ng-bind-html="product.prodKasperskyTitle | html" class="surtitle"></span>
                                    <span>{{product.prodMainTitle}}</span>
                                    <span class="subtitle">{{product.prodAddTitle || '&nbsp;'}}</span>
                                  </a>
                                </h2>
                              </header>
                              <div data-mh="desc-divider" class="desc divider">
                                <p ng-bind-html="product.shortDesc | html"></p>
                                <div class="meta reviews">
                                  <bazaarvoice ng-if="product.bvId" product-id="{{product.bvId}}"></bazaarvoice>
                                </div>
                              </div>

                              <buyblock-radio
                                selected-pack="{{product.selectedDevices}}"
                                selected-term="1"
                                product-name="{{product.shortName}}"
                                component="{{ngDialogData.component}}"
                                template="hmc"
                                selected-autorenew="{{ngDialogData.data.hmc_bb_autorenew[0] || 'false'}}"
                                >
                              </buyblock-radio>
                            </div><!-- /product-item -->
                          </li>
                        </ul>
                      </div>

                      <div class="col-l-4">
                        <ul class="product-list">
                          <li ng-repeat="product in ngDialogData.hmcVerdict | limitTo:1:2">
                            <div class="product-item product-small" ng-class="{'featured-item' : $last && product.shortName !== 'kpm'}">
                              <div ng-if="product.shortName !== 'kpm'" class="promoline"><p>{{ngDialogData.hmcUI.hmcUIRecommendedText}}</p></div>
                              <header class="divider">
                                <figure>
                                  <a ng-href="{{product.learnMoreLink}}" ng-click="closeThisDialog()">
                                    <img ng-src="{{product.fullSizeImage | addLocalRoot}}" ng-attr-title="{{product.prodMainTitle}}" ng-attr-alt="{{product.prodMainTitle}}" />
                                  </a>
                                </figure>
                                <div ng-class="{'red' : product.shortName !== 'kpm'}" class="tagline">
                                  <p>{{product.summary}}</p>
                                </div>
                                <h2 class="product-title">
                                  <a ng-href="{{product.learnMoreLink}}" ng-click="closeThisDialog()">
                                    <span class="surtitle">{{product.prodKasperskyTitle}}</span>
                                    <span>{{product.prodMainTitle}}</span>
                                    <span class="subtitle">{{product.prodAddTitle || '&nbsp;'}}</span>
                                  </a>
                                </h2>
                              </header>
                              <div data-mh="desc-divider" class="desc divider">
                                <p ng-bind-html="product.shortDesc">{{product.shortDesc | html}}</p>
                                <div class="meta reviews">
                                  <bazaarvoice ng-if="product.bvId" product-id="{{product.bvId}}"></bazaarvoice>
                                </div>
                              </div>

                              <buyblock-radio
                                highlighted="{{$last && product.shortName !== 'kpm'? true : false}}"
                                selected-pack="{{product.selectedDevices}}"
                                selected-term="1"
                                product-name="{{product.shortName}}"
                                component="{{ngDialogData.component}}"
                                template="hmc"
                                selected-autorenew="{{ngDialogData.data.hmc_bb_autorenew[0] || 'false'}}"
                                >
                              </buyblock-radio><!-- /buy-block -->
                            </div><!-- /product-item -->
                          </li>
                        </ul>
                      </div>
                    </div>
                  </section>

                  <hmc-promo-2up ng-if="ngDialogData.hmcVerdict[ngDialogData.hmcVerdict.length - 1].shortName !== 'kpm'"></hmc-promo-2up>
                </div>

                <div ng-switch-default class="hmc-result">
                  <section class="featured-section">
                    <ul class="product-list no-gutter{{' section-col-l-' + ngDialogData.hmcVerdict.length}}">
                      <li ng-if="product" ng-repeat="product in ngDialogData.hmcVerdict track by $index">
                        <div class="product-item product-small" ng-class="{'featured-item' : $last && product.shortName !== 'kpm'}">
                          <div ng-if="$last && product.shortName !== 'kpm'" class="promoline">
                            <p>{{ngDialogData.hmcUI.hmcUIRecommendedText}}</p>
                          </div>

                          <header class="divider">
                            <figure>
                              <a ng-href="{{product.learnMoreLink}}" ng-click="closeThisDialog()">
                                <img ng-src="{{product.fullSizeImage | addLocalRoot}}" ng-attr-title="{{product.prodMainTitle}}" ng-attr-alt="{{product.prodMainTitle}}" />
                              </a>
                            </figure>

                            <div class="tagline">
                              <p>{{product.summary}}</p>
                            </div>
                            <h2 class="product-title">
                              <a ng-href="{{product.learnMoreLink}}" ng-click="closeThisDialog()">
                                <span ng-bind-html="product.prodKasperskyTitle | html" class="surtitle"></span>
                                <span>{{product.prodMainTitle}}</span>
                                <span class="subtitle">{{product.prodAddTitle || '&nbsp;'}}</span>
                              </a>
                            </h2>
                          </header>

                          <div data-mh="desc-divider" class="desc divider">
                            <p ng-bind-html="product.shortDesc | html"></p>
                            <div class="meta reviews">
                              <bazaarvoice ng-if="product.bvId" product-id="{{product.bvId}}"></bazaarvoice>
                            </div>
                          </div>

                          <buyblock-radio
                            highlighted="{{$last && product.shortName !== 'kpm' ? true : false}}"
                            selected-pack="{{product.selectedDevices}}"
                            selected-term="1"
                            product-name="{{product.shortName}}"
                            component="{{ngDialogData.component}}"
                            template="hmc"
                            selected-autorenew="{{ngDialogData.data.hmc_bb_autorenew[0] || 'false'}}"
                            >
                          </buyblock-radio>
                        </div><!-- /product-item -->
                      </li>
                    </ul>
                  </section><!-- /featured-section -->

                  <hmc-promo-2up ng-if="ngDialogData.hmcVerdict[ngDialogData.hmcVerdict.length - 1].shortName !== 'kpm'"></hmc-promo-2up>
                </div>
              </div>

              <div class="hmc-result" ng-if="ngDialogData.hmcVerdict.length === 1">
                <section class="product-header divider">
                  <div class="row">
                    <div class="welcome-section col-l-8">
                      <div class="page-headline compact-headline">
                        <figure><img ng-src="{{ngDialogData.hmcVerdict[0].fullSizeImage}}" ng-attr-title="{{ngDialogData.hmcVerdict[0].fullSizeImage}}" ng-attr-alt="{{ngDialogData.hmcVerdict[0].prodMainTitle}}" /></figure>
                        <h1 class="page-title product-title">
                          <span ng-bind-html="ngDialogData.hmcVerdict[0].prodKasperskyTitle | html" class="surtitle"></span>
                          <span>{{ngDialogData.hmcVerdict[0].prodMainTitle}}</span>
                          <span class="subtitle ng-binding">{{ngDialogData.hmcVerdict[0].prodAddTitle}}</span>
                        </h1>
                        <div class="product-promos">
                          <div class="meta reviews">
                            <bazaarvoice ng-if="ngDialogData.hmcVerdict[0].bvId" product-id="{{ngDialogData.hmcVerdict[0].bvId}}"></bazaarvoice>
                          </div>
                        </div>
                      </div>
                      <div class="product-intro desktop-only">
                        <div class="desc" ng-bind-html="ngDialogData.hmcVerdict[0].description | html"></div>
                      </div>


                    </div><!-- /welcome-section -->

                    <aside class="buy-section col-l-4">
                      <buyblock-radio
                        selected-pack="{{ngDialogData.hmcVerdict[0].selectedDevices}}"
                        selected-term="1 Year"
                        product-name="{{ngDialogData.hmcVerdict[0].shortName}}"
                        component="{{ngDialogData.component}}"
                        template="hmc-1up"
                        selected-autorenew="{{ngDialogData.data.hmc_bb_autorenew[0] || 'false'}}"
                        >
                      </buyblock-radio>
                    </aside><!-- /buy-section -->
                    <div class="product-intro mobile-only">
                      <div class="desc" ng-bind-html="ngDialogData.hmcVerdict[0].description | html"></div>
                    </div>
                  </div>
                </section>

                <hmc-reviews></hmc-reviews>
              </div>
            </div>

            <!-- hmc steps end -->

          </div>
        </div>
      </div>

      <div class="hmc-footer">
        <stats-widget></stats-widget>
      </div>
    </div>
  </div>
</div>
