<div id="hmc-modal" class="white-popup hmc-start-screen">
	<div class="modal-header modal-header-no-steps">
		<a href="" class="modal-button modal-back" ng-if="ngDialogData.stepHistory.length > 2" ng-click="ngDialogData.backOneStep()">
			<span class="font-icons icon-arrow-left"></span><span class="text"></span>
		</a>
		<a href="" class="modal-button modal-close" ng-click="ngDialogData.closePopup()"><span class="font-icons icon-cancel"></span></a>
	</div>
	<div class="hmc-main">
		<div class="container">
			<h3 class="section-title">{{ngDialogData.data.header}}</h3>
			<div class="hmc-section variant-3">
				<div class="row">
					<div class="hmc-desc col-l-6">
						<p class="hmc-steps">{{ngDialogData.data.step}}</p>
						<p class="hmc-question" ng-bind-html="ngDialogData.data.desc|html"></p>
						<p class="note desktop-only" ng-bind-html="ngDialogData.data.note|html"></p>
					</div>
					<div class="hmc-select col-l-6 hmc-embedded">
						<form>
							<div class="form-element-group radio-group divider">
								<div class="form-element radiobox" ng-class="{'selected': ngDialogData.license_number_detection.license_number <= ngDialogData.data.number}">
									<input type="radio" name="radio-item" id="radio-item-1" value="25" ng-model="ngDialogData.license_number_detection.license_number">
									<label for="radio-item-1">{{ngDialogData.data.upTo}} {{ngDialogData.data.number}}</label>
								</div>
								<div class="form-element radiobox" ng-class="{'selected': ngDialogData.license_number_detection.license_number > ngDialogData.data.number}">
									<input type="radio" name="radio-item" id="radio-item-2" value="26" ng-model="ngDialogData.license_number_detection.license_number">
									<label for="radio-item-2">{{ngDialogData.data.moreThan}} {{ngDialogData.data.number}}</label>
								</div>
							</div>
							<div class="form-element buttons">
								<button type="submit" ng-click="ngDialogData.checkAndChangeStep()" class="button green hmc-open" value="Continue">{{ngDialogData.data.btnText}}</button>
							</div>
						</form>
					</div>
				</div>
				<p class="note mobile-only" ng-bind-html="ngDialogData.data.note|html"></p>
			</div>
		</div>
	</div>
</div>
