<div id="hmc-modal" class="white-popup hmc-start-screen">
	<div class="modal-header modal-header-no-steps">
		<a href="" class="modal-button modal-back" ng-if="ngDialogData.stepHistory.length > 2" ng-click="ngDialogData.backOneStep()">
			<span class="font-icons icon-arrow-left"></span><span class="text"></span>
		</a>
		<a href="" class="modal-button modal-close" ng-click="ngDialogData.closePopup()"><span class="font-icons icon-cancel"></span></a>
	</div>
	<div class="hmc-main">
		<div class="container">
			<h3 class="section-title">{{ngDialogData.data.header}}</h3>
			<p ng-bind-html="ngDialogData.data.desc|html"></p>
			<div class="featured-section hmc-combo">
				<div class="row">
					<div class="col-l-8">
						<ul class="product-list section-col-l-2 no-gutter">
							<li ng-repeat="product in ngDialogData.products">
								<div class="product-item text-left horizontal-item">
									<header class="divider">
										<figure>
											<a ng-href="{{product.prodPageLink}}">
												<img ng-src="{{product.prodIcon | addLocalRoot}}" alt="{{product.title}}">
											</a>
										</figure>
										<h2 class="product-title">
											<a ng-href="{{product.prodPageLink}}">
												<span class="subtitle light">{{product.prodMainTitle}}</span>
												<span>{{product.prodAddTitle}}</span>
											</a>
										</h2>
									</header>
									<p class="desc" ng-bind-html="product.overrideProdDescHmc || product.description | html"></p>
								</div>
							</li>
						</ul>
					</div>
					<div class="col-l-4">
						<div class="buy-block">
							<buyblock-vsb-dropdown product-name="{{ngDialogData.products[0].shortName}}_{{ngDialogData.products[1].shortName}}" template="hmc-universal" selected-pack="{{ngDialogData.selectedPack}}"></buyblock-vsb-dropdown>
						</div>
					</div>
				</div>
			</div>
			<p class="note" ng-bind-html="ngDialogData.data.note|html"></p>
		</div>
	</div>
</div>
