<section ng-class="!$ctrl.usePressDetailTemplate ? 'about-us-news-cards' : 'about-us-news-cards green-title carrot'" ng-if="$ctrl.resources.length > 0 && !$ctrl.isJPPressReleasesDetailsPage">
    <div class="container">
        <h3>{{::$ctrl.translations.relatedArticles || 'Articles related to'}} {{$ctrl.relatedArticleCategory}}</h3>
        <ul class="section-col-l-3">
            <li ng-repeat="item in $ctrl.resources | orderBy: 'pubDate' | limitTo : 3">
                <!--<a ui-sref="press-releases.details({path:$ctrl.getUserFriendlyUrl(item)})">-->
                <!--<figure class="thumbnail">-->
                <!--<img ng-src="{{item.image | addLocalRoot}}">-->
                <!--</figure>-->
                <!--</a>-->
                <div class="content">
                    <h4><a ui-sref="press-releases.details({path:$ctrl.getUserFriendlyUrl(item)})" ng-bind-html="item.title"></a></h4>
                    <p ng-bind-html="item.summary"></p>
                    <a class="more" ui-sref="press-releases.details({path:$ctrl.getUserFriendlyUrl(item)})">{{::$ctrl.translations.prReadMore || 'Learn more'}} &gt;</a>
                </div>
            </li>
        </ul>
    </div>
</section>
<!-- /news-cards -->
