# Project dependencies
.cache
node_modules
yarn-error.log

.fusebox

# Build directory
/public
.DS_Store

/content/modified
build
/editor/build
gatsby/pages/**/shared
gatsby/editor/**/shared
.vscode

npm-debug.log
