<header ng-if="$ctrl.data" class="page-header product-header">
	<div class="container">
		<div class="page-info">
			<ul ng-if="$ctrl.data.quickmenuButtons" class="quick-menu">
				<li ng-repeat="item in $ctrl.data.quickmenuButtons">
					<a ng-click="$ctrl.navigateUserTo(item.link, null, item.isExternal[0] === 'Yes')" class="{{item.class}}">{{item.text}}</a>
				</li>
				<callback-form></callback-form>
			</ul>
			<breadcrumb ng-if="$ctrl.data.hideBreadcrumbs != 'Yes'"></breadcrumb> <!--BREADCRUMBS-->
		</div>
	</div>
</header>
<section ng-if="$ctrl.data" class="product-header divider">
	<div class="container">
		<div class="row">
			<div class="welcome-section col-l-8">
				<div class="page-headline smaller-headline">
					<figure><img ng-src="{{::$ctrl.data.image}}" alt="{{::$ctrl.data.imageAlt}}"></figure>
					<h1 class="product-title b2b-product-title" data-product-name="{{$ctrl.data.imageAlt}}">
						<span class="surtitle">{{::$ctrl.data.surtitle}}</span>
						<span>{{::$ctrl.data.header}}</span>
						<span class="big">{{::$ctrl.data.bigText}}</span>
					</h1>
					<h2 class="page-desc variant-2" ng-bind-html="$ctrl.data.description"></h2>
					<div class="product-promos no-margin">
						<div class="documents no-float">
							<a ng-if="$ctrl.data.bannerbuttons" ng-repeat="bannerbuttons in $ctrl.data.bannerbuttons" class="{{bannerbuttons.class}}" ng-href="{{bannerbuttons.link}}" target="{{bannerbuttons.isExternal == 'Yes' ? '_blank' : ''}}">
								{{bannerbuttons.text}} <span>{{bannerbuttons.postText}}</span>
							</a>
						</div>
					</div>
				</div>
				<hr class="divider">
				<div class="content">
					<b2b-product-description template="no-sidebar"></b2b-product-description>
				</div>
			</div><!-- /welcom-section -->

			<aside class="buy-section col-l-4">
				<buyblock-vsb-dropdown template="smb-prod" product-info="$ctrl.productInfo"></buyblock-vsb-dropdown>
			</aside><!-- /buy-section -->
		</div>
	</div>
</section>
