<header ng-hide="!$ctrl.data" class="page-header no-breadcrumbs image-bg subheader subheader-v2" ng-style="{'background-image': 'url(' + $ctrl.data.bannerImage + ')'}">
    <div class="container">
        <div class="page-info">
            <ul ng-if="$ctrl.data.quickmenuButtons != null" class="quick-menu">
                <li ng-repeat="item in $ctrl.data.quickmenuButtons">
                    <a ng-if="!item.product" ng-click="$ctrl.navigateUserTo(item.link, null, item.isExternal[0] === 'Yes')" class="{{item.class}}">{{item.text}}</a>
                </li>
            </ul>
            <breadcrumb ng-if="$ctrl.data.hideBreadcrumbs != 'Yes'"></breadcrumb> <!--BREADCRUMBS-->
        </div>

        <!-- ABOUT MOTORSPORT -->
        <div ng-if="$ctrl.data.headerType == 'Motorsport'">
          <div class="row">
    				<div class="col-l-10 col-xl-11">
    					<h1 class="page-title" ng-bind-html="$ctrl.data.header"></h1>
              <h2 class="page-desc" ng-bind-html="$ctrl.data.description"></h2>
              <a ng-href="{{$ctrl.data.bannerbuttons[0].link}}" class="button {{$ctrl.data.bannerbuttons[0].class}}" ng-attr-target="{{$ctrl.data.bannerbuttons[0].isExternal[0] === 'Yes' ? '_blank' : ''}}">{{$ctrl.data.bannerbuttons[0].text}}</a>
    				</div>
    				<div class="col-l-2 col-xl-1 partner-logo">
    					<img ng-src="{{$ctrl.data.image}}" width="57" height="56">
    				</div>
    			</div>
        </div>
        <!-- ABOUT MOTORSPORT - END -->
    </div>
</header>
