<div class="nano-banner white-background">
    <div class="container">
        <div class="nano-content">
            <div class="product-item product-small">
                <header>
                    <figure><img ng-src="{{$ctrl.product.smallSizeImage}}"></figure>
                    <h2 class="product-title">{{$ctrl.product.title}}</h2>
                </header>
            </div>
        </div>
        <div class="nano-cta" ng-if="!$ctrl.isProductBlocked && $ctrl.minPrice">
            <div class="price">
                <p class="small">{{$ctrl.data.nanoBannerPriceText}} {{$ctrl.minPrice | customCurrency}}</p>
            </div>
            <a ng-href="{{button.link}}" class="button {{button.class}}" ng-repeat="button in $ctrl.data.nanoBannerButtons" ng-click="$ctrl.scrollToBuy($event)">{{button.text}}</a>
        </div>
    </div>
</div>
<header class="page-header solid subheader-v4 grey-typography strong-typography divider-2 large-divider">
    <div class="overlay-clouds-2">
        <img ng-src="{{$ctrl.data.topBg}}" />
    </div>
    <div class="container">
        <div class="page-cloud-title" ng-style="$ctrl.data.titleImage && {'background-image': 'url(' + $ctrl.data.titleImage + ')'}">
            <div class="product-item">
                <header>
                    <figure><img ng-src="{{$ctrl.product.fullSizeImage}}"></figure>
                    <h1 class="product-title">
                        <span>
                            {{$ctrl.product.prodKasperskyTitle}}
                            <sup>&#174;</sup>
                        </span>
                        {{$ctrl.product.prodMainTitle}}</h1>
                </header>
                <h2 class="page-desc" ng-bind-html="$ctrl.product.shortDesc"></h2>
                <div class="video-play-link">
                    <a ng-if="$ctrl.data.watchLink" ng-click="$ctrl.videoPopup($ctrl.data.watchLink)">
                        <i class="video-play-icon"></i>
                        <span>{{$ctrl.data.watchText}}</span>
                    </a>
                </div>
            </div>
        </div>
    </div>
    <div class="page-hero-image">
        <img ng-src="{{$ctrl.data.bottomImg}}" class="page-hero-image-hide page-hero-image-full">
        <img ng-src="{{$ctrl.data.heroImg768}}" class="page-hero-image-hide page-hero-image-768">
        <img ng-src="{{$ctrl.data.heroImg320}}" class="page-hero-image-hide page-hero-image-320">
        <div class="page-hero-container">
            <div class="page-hero-bubble" ng-repeat="bubble in $ctrl.data.bubbles"
            ng-style="{'top': bubble.bubbleTop + 'px',
                        'left': bubble.bubbleLeft + 'px',
                        'width': bubble.bubbleWidth + 'px',
                        'height': bubble.bubbleHeight + 'px'}">
                <div ng-bind-html="bubble.bubbleText | html"></div>
                <span class="page-hero-bubble-tail"
                      ng-style="{'left': bubble.bubbleTailLeft + 'px'}"></span>
            </div>
        </div>
    </div>
</header>
