<header ng-hide="!$ctrl.data" id="page-header" class="page-header image-bg taller-header" ng-style="{'background-image': 'url(' + $ctrl.data.bannerImage + ')'}">
    <div class="overlay-1"></div>
    <div class="overlay-2"></div>
    <div class="container">
        <div class="page-info">
            <ul ng-if="$ctrl.data.quickmenuButtons != null" class="quick-menu">
                <li ng-repeat="item in $ctrl.data.quickmenuButtons">
                    <a ng-if="!item.product" ng-click="$ctrl.navigateUserTo(item.link, null, item.isExternal[0] === 'Yes')" class="{{item.class}}">{{item.text}}</a>
                    <a ng-if="item.product" ng-click="$ctrl.navigateUserTo(item.link, null, item.isExternal[0] === 'Yes')" class="{{item.class}}">
                        <span class="thumb" ng-style="{'background-image': 'url(' + item.product.fullSizeImage + ')'}"></span>
                        <span class="surtitle">{{item.text}}</span>
                        <span class="title">{{::item.product.prodKasperskyTitle}}</span>
                        <span class="larger-title">{{::item.product.prodMainTitle}}</span>
                    </a>
                </li>
				<callback-form></callback-form>
            </ul>
            <breadcrumb ng-if="$ctrl.data.hideBreadcrumbs != 'Yes' && $ctrl.showBreadcrumb != 'false'"></breadcrumb> <!--BREADCRUMBS-->
        </div>
    </div>
</header>

<section class="product-header" id="product-header">
    <div class="container">
        <div class="row">
            <div class="welcome-section col-l-8">
                <div class="page-headline">
                    <figure>
                      <img ng-src="{{$ctrl.productInfo.smallBoxShot | addLocalRoot}}" alt="{{$ctrl.productInfo.title}}" title="{{$ctrl.productInfo.title}}" />
                    </figure>

                    <h1 class="product-title b2b-product-title" data-product-name="{{$ctrl.productInfo.title}}">
                        <span class="surtitle">{{::$ctrl.data.surtitle}}</span>
                        <span ng-class="{'big': $ctrl.isTotal}">{{::$ctrl.data.header}}</span>
                        <span ng-class="{'big': !$ctrl.isTotal}" ng-bind-html="::$ctrl.data.bigText"></span>
					</h1>

                    <h2 class="page-desc variant-2" ng-if="$ctrl.data.description.length" ng-bind-html="$ctrl.data.description"></h2>
                    <div class="product-promos divider">
                        <div class="documents" ng-class="{'pull-right': $ctrl.data.videoLink.text.length, 'pull-left': !$ctrl.data.videoLink.text.length}">
                            <a ng-href="{{bannerbuttons.link}}" ng-repeat="bannerbuttons in $ctrl.data.bannerbuttons" class="{{bannerbuttons.class}}" target="_blank">
                            	{{bannerbuttons.text}} <span>{{bannerbuttons.postText}}</span>
                            </a>
                        </div>
                        <div class="meta reviews">
                        	<a ng-if="$ctrl.data.videoLink.text.length" ng-click="$ctrl.videoPopup($ctrl.data.videoLink.link)" href class="icon-left"><i class="font-icons icon-play"></i> {{$ctrl.data.videoLink.text}}</a>
							<bazaarvoice ng-if="$ctrl.productInfo.bvId" product-id="{{$ctrl.productInfo.bvId}}"></bazaarvoice>
                            <p ng-if="!$ctrl.productInfo.bvId"></p>
						</div>
                    </div>
                    <div class="desc text-left" ng-bind-html="$ctrl.data.subDescription | html"></div>
                </div>
            </div><!-- /welcom-section -->

            <aside class="buy-section col-l-4">
                <buyblock-vsb-dropdown template="smb-prod" product-info="$ctrl.productInfo"></buyblock-vsb-dropdown>
            </aside><!-- /buy-section -->
        </div>
    </div>
</section>
