<header id="page-header"
        ng-hide="!$ctrl.data"
        ng-if="$ctrl.data.headerType !== '404 Header'"
        ng-class="$ctrl.getEltClass()"
        ng-style="{'background-image': 'url(' + $ctrl.data.bannerImage + ')', 'background-color': $ctrl.data.bgColor}">
    <div ng-if="$ctrl.isOverlayDisplayed" class="overlay-1"></div>
    <div ng-if="$ctrl.isOverlayDisplayed" class="overlay-2"></div>
    <div class="container">
        <div class="page-info">
            <ul ng-if="$ctrl.data.quickmenuButtons != null" class="quick-menu">
                <li ng-repeat="item in $ctrl.data.quickmenuButtons">
                    <a ng-if="!item.product"
                       ng-click="$ctrl.navigateUserTo(item.link, null, item.isExternal[0] === 'Yes')"
                       class="{{item.class}}">{{item.text}}</a>

                    <a ng-if="item.product"
                       ng-click="$ctrl.navigateUserTo(item.link, null, item.isExternal[0] === 'Yes')"
                       class="{{item.class}}">
                        <span class="thumb" ng-style="{'background-image': 'url(' + item.product.fullSizeImage + ')'}"></span>
                        <span class="surtitle">{{item.text}}</span>
                        <span class="title">{{::item.product.prodKasperskyTitle}}</span>
                        <span class="larger-title">{{::item.product.prodMainTitle}}</span>
                    </a>
                </li>
				<callback-form></callback-form>
            </ul>
            <breadcrumb ng-if="$ctrl.data.hideBreadcrumbs != 'Yes' && $ctrl.showBreadcrumb != 'false'"></breadcrumb> <!--BREADCRUMBS-->
        </div>
        <!--HEADLINE-->
        <div ng-if="$ctrl.isHeadlineDisplayed"
             class="page-headline"
             ng-class="{'show-figure': $ctrl.data.image != null}">
        	<figure ng-if="$ctrl.data.image != null"><img ng-src="{{::$ctrl.data.image}}" alt="{{::$ctrl.data.imageAlt}}" title="{{::$ctrl.data.imageAlt}}"></figure>
        	<h3 ng-if="$ctrl.data.surtitle != null && $ctrl.data.bannerbuttons.length == 0" class="page-surtitle">{{$ctrl.data.surtitle}}</h3>
          <h1 ng-if="$ctrl.data.bannerbuttons.length == 0" ng-bind-html="$ctrl.data.header" class="page-title">{{::$ctrl.data.header}}</h1>

          <sub-description ng-bind-html="$ctrl.data.subDescription" ng-if="$ctrl.data.headerType == 'B2C Thank You V1'">{{::$ctrl.data.subDescription}}</sub-description>

          <h2 ng-if="$ctrl.data.description != null && $ctrl.data.bannerbuttons.length == 0" class="page-desc" ng-bind-html="$ctrl.data.description|html">{{::$ctrl.data.description}}</h2>
          <div ng-if="$ctrl.data.bannerbuttons.length > 0" class="row">
            <div ng-class="$ctrl.getBannerButtonClass('left')">
              <figure ng-if="$ctrl.data.image != null"><img ng-src="{{::$ctrl.data.image}}" alt="{{::$ctrl.data.imageAlt}}" title="{{::$ctrl.data.imageAlt}}"></figure>
              <h1 ng-bind-html="$ctrl.data.header" class="page-title">{{::$ctrl.data.header}}</h1>
              <h2 ng-if="$ctrl.data.description != null" class="page-desc" ng-bind-html="$ctrl.data.description|html">{{::$ctrl.data.description}}</h2>
            </div>
            <div ng-class="$ctrl.getBannerButtonClass('right')">
              <div class="side-ctas">
                  <a ng-repeat="bannerbutton in $ctrl.data.bannerbuttons"
                     ng-href="{{bannerbutton.link}}"
                     class="button {{bannerbutton.class}}"
                     ng-class="{'wide': $ctrl.data.padButtons == 'Yes'}"
                     ng-attr-target="{{bannerbutton.isExternal[0] == 'Yes' ? '_blank' : ''}}">{{::bannerbutton.text}}</a>
              </div>
            </div>
          </div>
        </div>
        <!--HEADLINE end-->

        <!--ABOUT TEAM HEADLINE-->
        <div ng-if="$ctrl.data.headerType == 'About Team Header'" class="page-headline">
            <div class="page-headline-inner">
                <div class="page-headline-text" ng-if="$ctrl.data.header">
                    <h1 class="page-title">{{::$ctrl.data.header}}</h1>
                    <h2 class="page-desc" ng-bind-html="$ctrl.data.description|html">{{$ctrl.data.description}}</h2>
                    <a ng-href="#about-us-team-leader" class="cta-scroll"><i class="font-icons icon-thin-arrow-down-2"></i></a>
                </div>
            </div>
        </div>
        <!--ABOUT TEAM HEADLINE end-->
        <!--SMB MANAGED SERVICE PROVIDER - START-->
        <div ng-if="$ctrl.data.headerType == 'SMB MSP'">
			<div class="page-headline">
				<div class="row">
					<div class="col-l-12 col-xl-12">
						<h1 class="page-title">{{::$ctrl.data.header}}</h1>
					</div>
				</div>
			</div>
			<div class="row">
				<div class="col-l-9">
					<div class="video-container" ng-if="$ctrl.contentUrl">
						<iframe width="640" height="360" ng-src="{{$ctrl.contentUrl}}" frameborder="0" allowfullscreen></iframe>
					</div>
				</div>
				<div id="smb-more-description-id" class="content toggle-container">
                    <ng-bind-html ng-bind-html="$ctrl.data.description|html"></ng-bind-html>
                    <div class="toggle-content" ng-bind-html="$ctrl.data.subDescription | html"></div>
                    <div class="section-footer" ng-if="$ctrl.data.subDescription">
                        <a href="#" class="button transparent text-green toggle-button read-more">{{$ctrl.localData.readMore}}</a>
                        <a href="#" class="button transparent text-green toggle-button read-less">{{$ctrl.localData.readLess}}</a>

                    </div>
					<a class="icon-doc icon-pdf pdf-link" ng-href="{{$ctrl.data.datasheetLink.link}}"
                            target="_blank">
                        <ng-bind-html ng-bind-html="$ctrl.data.datasheetLink.text|html" />
					</a>
				</div>
			</div>
        </div>
        <!--SMB MANAGED SERVICE PROVIDER - END-->
    </div>

    <product-promo  resource="ksc-promo-top"
                    template="ksc"
                    ng-if="$ctrl.data.headerType === 'KSC'"
                    header-title="$ctrl.data.header"></product-promo>

    <section ng-if="$ctrl.data.headerType == 'SMB Product with Background Image'"
             class="main-product-fullwidth"
             ng-class="{'divider': $ctrl.data.headerType == 'SMB Targeted Solution'}">
        <div class="container">
            <div class="info">
                <div class="top minimal">
                    <figure class="page-icon">
                        <img ng-src="{{::$ctrl.data.image}}" alt="{{::$ctrl.data.imageAlt}}" title="{{::$ctrl.data.imageAlt}}" class="product-icon-medium b2b-icon" />
                    </figure>
                    <h1 class="product-title b2b-product-title" data-product-name="{{$ctrl.data.headerType}}">
                        <span class="surtitle">{{::$ctrl.data.surtitle}}</span>
                        <span>{{::$ctrl.data.header}}</span>
                        <span ng-if="$ctrl.data.bigText != null" class="big">{{$ctrl.data.bigText}}</span>
                        <span ng-if="$ctrl.data.subDescription != null" class="subdesc" ng-bind-html="$ctrl.data.subDescription"></span>
                    </h1>
                    <div ng-if="$ctrl.data.bannerbuttons != null" class="side-ctas">
                        <a ng-repeat="bannerbutton in $ctrl.data.bannerbuttons" ng-href="{{bannerbutton.link}}" class="button {{bannerbutton.class}}">{{bannerbutton.text}}</a>
                    </div>
                </div>
                <h2 ng-if="$ctrl.data.description != null" ng-bind-html="$ctrl.data.description|html" class="page-desc">{{$ctrl.data.description}}</h2>
            </div>
        </div>
    </section>
</header>
<!--SMB PRODUCT & TARGETED SOLUTION HEADER - SECTION-->
<section ng-if="$ctrl.data.headerType == 'SMB Product' || $ctrl.data.headerType == 'SMB Targeted Solution'"
         class="main-product-fullwidth"
         ng-class="{'divider': $ctrl.data.headerType == 'SMB Targeted Solution'}">
    <div class="container">
        <div class="info">
            <div class="top minimal">
                <figure class="page-icon">
                    <img ng-src="{{::$ctrl.data.image}}" alt="{{::$ctrl.data.imageAlt}}" title="{{::$ctrl.data.imageAlt}}" class="product-icon-medium b2b-icon" />
                </figure>
                <h1 class="product-title b2b-product-title" data-product-name="{{$ctrl.data.imageAlt}}">
                    <span class="surtitle">{{::$ctrl.data.surtitle}}</span>
                    <span ng-if="$ctrl.data.bigText != 'Total'">{{::$ctrl.data.header}}</span>
                    <span ng-if="$ctrl.data.bigText != null" class="big" ng-class="{'no-margin': $ctrl.data.bigText == 'Total'}">{{$ctrl.data.bigText}}</span>
                    <span ng-if="$ctrl.data.bigText == 'Total'">{{::$ctrl.data.header}}</span>
                    <span ng-if="$ctrl.data.subDescription != null" class="subdesc" ng-bind-html="$ctrl.data.subDescription"></span>
                </h1>
                <div ng-if="$ctrl.data.bannerbuttons != null" class="side-ctas">
                    <a ng-repeat="bannerbutton in $ctrl.data.bannerbuttons" ng-href="{{bannerbutton.link}}" class="button {{bannerbutton.class}}">{{bannerbutton.text}}</a>
                </div>
            </div>
            <h2 ng-if="$ctrl.data.description != null" ng-bind-html="$ctrl.data.description|html" class="page-desc">{{$ctrl.data.description}}</h2>
        </div>
    </div>
</section>

<!--B2C THANK YOU V2 HEADER-->
<section ng-if="$ctrl.data.headerType == 'B2C Thank You V2'" class="product-header margin-bottom">
    <div class="container">
        <div class="row">
            <div class="col-l-5">
                <div class="page-headline small-headline">
                    <figure><img ng-src="{{$ctrl.data.image | addLocalRoot}}" alt="{{::$ctrl.data.imageAlt}}" title="{{::$ctrl.data.imageAlt}}" /></figure>
                    <h1 class="page-title product-title">
                    	<a ng-href="{{$ctrl.data.imageUrl}}">
                        	<span class="surtitle" ng-bind-html="$ctrl.data.surtitle"></span>
                            <span>{{$ctrl.data.header}}</span>
                            <span class="subtitle">{{$ctrl.data.bigText}}</span>
                        </a>
                    </h1>
                </div>
            </div>
            <div class="notification col-l-7">
                <h3>{{$ctrl.data.description}}</h3>
                <p ng-bind-html="$ctrl.data.subDescription"></p>
				<!-- ksc disclaimers -->
				<kscloud-disclaimers ng-if="$ctrl.buyblockData.kscDisclaimerText" disclaimer-text="$ctrl.buyblockData.kscDisclaimerText" types="[5,4]" data-test="buyblock-disclaimer--{{$ctrl.data.bigText}}"></kscloud-disclaimers>
            </div>
        </div>
    </div>
</section>
<!--404 HEADER-->
<section ng-if="$ctrl.data.headerType == '404 Header'" class="error-header">
    <div class="container divider">
        <div class="page-headline">
            <h1 class="page-title">{{$ctrl.data.header}}</h1>
            <div class="desc-wrapper">
                <h2 class="page-desc" ng-bind-html="$ctrl.data.description|html">{{$ctrl.data.bigText}}<span>{{$ctrl.data.description}}</span></h2>
            </div>
        </div>
        <div class="error-intro">
            <div ng-bind-html="$ctrl.data.subDescription">{{$ctrl.data.subDesciption}}</div>
        </div>
    </div>
</section>
