.breadcrumbs {
    display: block;
    margin: 2em 0 0;
    font-size: .75em;
    color: #777;
}

a {
  position: relative;
  display: block;
  float: left;
  margin: 0 1.5em;
  line-height: 1;
  color: red;
  color: rgba(85,85,85,.6);

  &::before {
    content: "\f054";
    position: absolute;
    top: 50%;
    left: -2.5em;
    margin-top: -.6em;
    margin-left: -.5em;
    font-size: 7px;
    color: #bbb;
    pointer-events: none;
    cursor: default;
}
