<section class="hmc-section variant-3 divider no-bottom-margin" id="hmc" ng-if="$ctrl.init">
	<div class="container">
		<h3 class="section-title">{{$ctrl.init.header}}</h3>
		<div class="row">
			<div class="hmc-desc col-l-7">
				<p class="hmc-steps">{{$ctrl.init.step}}</p>
				<p class="hmc-question" ng-bind-html="$ctrl.init.description|html"></p>
				<p class="note" ng-bind-html="$ctrl.init.note|html"></p>
			</div>
			<div class="hmc-picker col-l-5 hmc-embedded">
				<form novalidate>
					<div class="row">
						<div class="form-element col-6">
							<button type="submit" class="hmc-pick hmc-open hmc-show-start-screen" name="no" value="No" ng-click="$ctrl.checkAndChangeStep('No')">
								<span class="hmc-pick-container"><span class="font-icons icon-cancel"></span>{{$ctrl.init.no}}</span>
							</button>
						</div>
						<div class="hmc-pick-connector-wrapper"><div class="hmc-pick-connector"><span class="text-green">{{$ctrl.init.or}}</span></div></div>
						<div class="form-element col-6">
							<button type="submit" class="hmc-pick hmc-open hmc-show-start-screen" name="yes" value="Yes" ng-click="$ctrl.checkAndChangeStep('Yes')">
								<span class="hmc-pick-container"><span class="font-icons icon-check"></span>{{$ctrl.init.yes}}</span>
							</button>
						</div>
					</div>
				</form>
			</div>
		</div>
	</div>
</section>
