<header class="about-us-page-header semi-hero" style="background-image: url(http://ngdev-www.kaspersky.com/content/en-global/images/repository/headers/press-release-post-header.jpg);">
    <div class="container">
        <div class="page-info">
            <p class="breadcrumbs">
                <a href="/">Home</a>
                <a ui-sref="rss-feeds">RSS Feeds</a>
                <a ui-sref="rss-feeds">RSS Feeds details</a>
            </p>
        </div>
        <div class="page-headline">
            <div class="page-headline-inner">
                <div class="page-headline-text">
                    <span class="page-date">{{$ctrl.details.date_publication_start | date: 'longDate'}}</span>
                    <h1 class="page-title" ng-bind-html="$ctrl.details.title"></h1>
                    <h2 class="page-desc" ng-bind-html="$ctrl.details.summary"></h2>
                    <anchor-link ng-repeat="ctaButton in $ctrl.headerData.buttons">
                        <a ng-if="ctaButton.isExternal != 'Yes'" class="cta-scroll" href><i class="font-icons icon-thin-arrow-down-2"></i></a>
                        <a ng-if="ctaButton.isExternal == 'Yes'" class="cta-scroll" href><i class="font-icons icon-thin-arrow-down-2"></i></a>
                    </anchor-link>
                </div>
            </div>
        </div>
    </div>
</header>
<section class="about-us-content" id="about-us-content">
    <div class="container">
        <div class="content-inner">
            <p ng-bind-html="$ctrl.getTrustAsHtml()"></p>
            <social-sharing use-press-detail-template="true"></social-sharing>
        </div>
    </div>
</section>
<press-articles-bottombar related-article-category="{{$ctrl.details.subcategory[0]['description']}}"
                          use-press-detail-template="true"></press-articles-bottombar>
