<div class="pagination">
    <ul class="pagination-list" ng-if="1 < pages.length || !autoHide">
        <li ng-if="directionLinks" ng-class="{ disabled : pagination.current == 1 }">
            <a href="" class="prev" ng-click="setCurrent(pagination.current - 1)"><span class="font-icons icon-arrow-left-2"></span></a>
        </li>
        <li ng-repeat="pageNumber in pages track by tracker(pageNumber, $index)" ng-class="{ 'active' : pagination.current == pageNumber, disabled : pageNumber == '...' || (!autoHide && pages.length === 1)}">
            <a ng-href="{{urlWithoutSel + '&rel=' + pageNumber}}" ng-click="setCurrent(pageNumber, $event)">{{ pageNumber }}</a>
        </li>
        <li ng-if="directionLinks" ng-class="{ disabled : pagination.current == pagination.last }">
            <a href="" class="next"><span class="font-icons icon-arrow-right-2" ng-click="setCurrent(pagination.current + 1)"></span></a>
        </li>
    </ul>
</div>
