<div class="license-modal">
  <div class="row no-gutter">
    <div class="col" ng-class="!$ctrl.hideSidebar && !$ctrl.noPartner ? 'col-l-9' : 'col-l-12'">
      <div class="container">
        <!-- LRC Serial START -->
        <section class="license-section">
          <div class="container">
            <div class="narrow-wrapper">
              <h3 class="section-title">{{$ctrl.data.title}}</h3>
              <desc ng-bind-html="$ctrl.data.desc|html">{{$ctrl.data.desc}}</desc>
              <form name="serialForm"
                class="row no-gutter"
                novalidate>
                <div class="blue-wrapper text-center" ng-if="!$ctrl.noPartner">

                  <div ng-messages="serialForm.serial.$error"
                    role="alert"
                    ng-if="serialForm.serial.$dirty">
                    <p ng-message="required" class="text-red">{{$ctrl.translations.lrcFieldCannotBeEmpty || 'The field cannot be empty'}}</p>
                    <p ng-message="pattern" class="text-red">{{$ctrl.translations.lrcInvalidFormat || 'Invalid format! The license information that you enter must be in the format XXXX-XXXXXX-XXXXXXXX. Please try again.'}}</p>
                  </div>
                  <p ng-if="$ctrl.error && !serialForm.$invalid" class="text-red">{{$ctrl.error}}</p>

                  <h3>{{$ctrl.data.subTitle}}</h3>

                  <div class="form-element col-m-8">
                    <input type="text"
                      name="serial"
                      ng-model="$ctrl.serial"
                      ng-change="$ctrl.editInput($ctrl.serial,'{{$ctrl.serial}}')"
                      required
                      ng-pattern="/^([a-z]|[0-9]|-)+$/i"
                      maxlength="36">

                  </div>
                  <div class="form-element buttons col-m-4">
                    <div class="button green"
                      ng-click="$ctrl.sendSerial($event)"
                      data-test="lrc-cta--validate">{{$ctrl.data.buttonText}}</div>
                  </div>
                </div>
                <div class="blue-wrapper text-center" ng-if="$ctrl.noPartner">
                  <p><strong>{{::$ctrl.data.errorTitle}}</strong> <br>{{::$ctrl.data.errorText}}</p>
                  <a ng-href="{{::$ctrl.data.errorButtonLink}}" class="button green" ng-bind="::$ctrl.data.errorButtonText"></a>
                </div>
              </form>
            </div>
          </div>
        </section>
        <!-- LRC Serial END -->

        <div class="narrow-wrapper">
          <p class="text-center" ng-if="$ctrl.error || $ctrl.noPartner">
            <small>{{::$ctrl.data.needHelp}} <a ng-href="tel:{{::$ctrl.data.tel}}" ng-bind="::$ctrl.data.tel"></a> <br>{{::$ctrl.data.hours}}</small>
          </p>
          <p class="text-center" ng-if="$ctrl.data.infoLinkText">
            <small>{{::$ctrl.data.infoText}} <a ng-click="$ctrl.openScreenshotDialog($event)">{{::$ctrl.data.infoLinkText}}</a></small>
          </p>
        </div>

      </div>
    </div>
    <div class="col col-l-3" ng-if="!$ctrl.hideSidebar && !$ctrl.noPartner">
      <div class="container">
        <p ng-bind="$ctrl.data.skipText"></p>
        <a ng-href="{{$ctrl.data.errorButtonLink}}" target="_blank" class="button transparent skip-btn" ng-bind="$ctrl.data.skip"></a>
      </div>
    </div>

  </div>
</div>
