/***************************************
	Homepage Main
***************************************/

.homepage-main {
  .container {
    padding-bottom: 0;
  }

  .hmc-section {
    padding-top: 3em;
  }

  .renew-license {
    padding: 2.3em 0;

    &.mobile {
      background-color: #f6f6f6;
      border-top: 1px solid #e3e3e3;
      border-bottom: 1px solid #e3e3e3;
    }

    h4 {
      font-weight: 300;
      font-size: em(18);
      color: #373737;
      text-transform: none;
      margin-bottom: .9em;
    }

    .photo {
      display: block;
      max-width: 100%;
      margin: 0 auto 1em;
      height: auto;
      border-bottom: 1px solid #e3e3e3;
    }

    p {
      font-size: em(14);
      color: #9d9d9d;
      margin-bottom: 1.3em;
    }

    .button {
      font-weight: 500;

      &.transparent {
        color: $kgreen;
      }
    }

    .cta {
      font-weight: 500;
      font-size: em(12);
      color: #fff;
      display: block;
      margin: 0 0 1.5em;
      padding: 1.1em 1em;
      text-align: center;
      background-color: #006d5c;
      text-transform: uppercase;
    }
  }

  .renew-and-about {
    display: none;
  }
}

@include media(769px) {
  .homepage-main {
    .hmc-section {
      padding-top: 5em;
    }

    .renew-license {
      display: none;
    }

    .renew-and-about {
      display: block;
      border-top: 1px solid #e5e5e5;

      .container {
        display: flex;
        flex-wrap: wrap;
        align-items: stretch;
      }

      &.divider {
        margin-bottom: 0;
      }

      .renew-col {
        @include span-columns(6, no-gutter);
        padding: 5.5em 4em 5.5em 0;

        h4 {
          font-weight: 300;
          font-size: em(18);
          color: #373737;
          text-transform: none;
          margin-bottom: .9em;
        }

        .photo {
          display: block;
          max-width: 100%;
          margin: 0 auto 1em;
          height: auto;
          border-bottom: 1px solid #e3e3e3;
        }

        p {
          font-size: em(14);
          color: #9d9d9d;
          margin-bottom: 1.3em;
        }

        .button {
          font-weight: 500;
          margin-right: 1em;

          &.transparent {
            color: $kgreen;
          }
        }

        .cta {
          font-weight: 500;
          font-size: em(12);
          color: #fff;
          display: block;
          margin: 0 0 1.5em;
          padding: 1.1em 1em;
          text-align: center;
          background-color: #006d5c;
          text-transform: uppercase;
        }
      }

      .about-col {
        @include span-columns(6, no-gutter);
        position: relative;
        padding: 2.5em 0 0;
        border-left: 1px solid #e3e3e3;

        .quote-section {
          position: static;
        }
      }
    }
  }
}

/***************************************
	Quote section
***************************************/

.quote-section {
  position: relative;
  padding-top: 2em;

  blockquote {
    display: block;
    margin-bottom: 1.6em;
    padding: 0;
    text-align: center;
    font-size: 1em;

    p {
      font-family: $museoslab;
      font-weight: 100;
      font-style: italic;
      font-size: em(19);
      line-height: 1.57;
      color: #868686;
      margin-bottom: 1.4em;
      letter-spacing: -.4px;
    }

    cite {
      font-size: 1em;

      strong {
        font-weight: 300;
        font-size: em(16);
        line-height: 1.35;
        color: #2c2b2b;
        display: block;
        letter-spacing: -.2px;
      }

      span {
        font-weight: 500;
        font-size: em(11);
        line-height: 2;
        color: #b3b3b3;
        display: block;
        letter-spacing: -.6px;
      }
    }
  }

  .footer-wrap {
    img {
      display: block;
      margin: 0 auto;
      max-width: 100%;
      height: auto;
    }

    .button {
      position: absolute;
      right: 0;
      bottom: 70px;
      left: 0;
      background: #fff;
    }
  }
}

@include media(769px) {
  .quote-section {
    padding-top: 3em;

    .footer-wrap {
      margin-left: 220px;
      padding-bottom: 3em;

      img {
        position: absolute;
        display: block;
        bottom: 0;
        left: 0;
      }

      .button {
        position: static;
        font-weight: 500;
        font-size: em(12);
        line-height: 1.2;
        color: #006d5c;
        display: inline-block;
        text-align: center;
        text-transform: uppercase;
        padding: 1.2em 4.5em 1.1em;
        border: 1px solid #d4d4d4;
        background: #fff;
        letter-spacing: -.2px;

        &:hover {
          @include transition(border .15s ease-in);
          border: 1px solid #b9b9b9;
          color: #006d5c;
        }
      }
    }

    blockquote {
      margin-left: 220px;
      display: block;
      margin-bottom: 2.2em;
      padding: 0;
      text-align: left;
      font-size: 1em;

      p {
        font-family: $museoslab;
        font-weight: 100;
        font-style: italic;
        font-size: em(19);
        line-height: 1.57;
        color: #868686;
        margin-bottom: .8em;
        letter-spacing: -.4px;
      }

      cite {
        font-size: 1em;

        strong {
          font-weight: 300;
          font-size: em(16);
          line-height: 1.35;
          color: #2c2b2b;
          display: block;
          letter-spacing: -.2px;
        }

        span {
          font-weight: 500;
          font-size: em(11);
          line-height: 2;
          color: #b3b3b3;
          display: block;
          letter-spacing: -.6px;
        }
      }
    }
  }
}
