/***************************************
	Mobile Nav
***************************************/
.mobile-navigation-opened {
  position: fixed;
  overflow: hidden;

  body {
    position: fixed;
    overflow: hidden;
  }
}

.mobile-menu-wrapper {
  @include transition(all .15s ease-in);
  position: relative;
  top: -5em;
  opacity: 0;
  z-index: 997;

  &.show {
    @include transition(all .15s ease-in);
    top: 0;
    opacity: 1;

    .mobile-nav {
      display: block;
      padding-bottom: 3.5em;
    }
  }

  .background-overlay {
    display: none;
  }

  &.show .background-overlay {
    background-color: #fff;
    display: block;
    height: 100%;
    position: fixed;
    width: 100%;
    z-index: 900;
  }
}

.mobile-nav {
  display: none;
  width: 100%;
  height: auto;
  position: fixed;
  top: 57px;
  bottom: 0;
  overflow: hidden;
  overflow-y: scroll;
  background-color: #FFF;
  z-index: 999;

  .product-unify {
    font-size: 1.27em;
    color: #000;
    font-weight: inherit;
  }

  li a {
    background-color: #fff;
    border-bottom: 1px solid #eaeaea;
    display: block;
    padding: 1.6em;
    width: 100%;
    color: #272727;
    font-size: .875em;
    font-weight: 300;
    line-height: 1.2;

    i {
      float: left;
      font-size: 1.3em;
      margin-right: 1em;

      &.icon-small-business {
        margin-top: .2em;
      }

      &.icon-medium-business {
        font-size: 1.7em;
      }

      &.icon-enterprise {
        font-size: 1.9em;
      }
    }

    span:not(.inline) {
      display: block;
    }

    small {
      color: #a1a1a1;
      display: block;
      font-size: .786em;

      &.green-top {
        color: $kgreen;
      }
    }
  }

  ul.submenu {
    background-color: #fff;
    display: block;
    width: 100%;
    position: fixed;
    right: -101%;
    top: 55px;
    bottom: 0;
    box-shadow: -1px 0 2px rgba(0, 0, 0, .15);
    overflow-y: scroll;

    &.show {
      right: 0;
      z-index: 999;
      transition: all .35s ease 0s;

      &.push-back > li > a {
        opacity: .3;
        transition: all .2s ease 0s;
      }
    }

    ul.submenu {
      top: 55px;
      bottom: 0;
    }
  }

  li.back {
    a {
      color: #8f8f8f;
      text-transform: uppercase;
      font-size: .688em;
      position: relative;
      padding: 1.6em 1.6em 1.4em 3.8em;

      &::before {
        color: #adadad;
        content: "\f053";
        display: block;
        font-family: "font-icons";
        height: 20px;
        position: absolute;
        left: 2em;
        top: 40%;
        width: 20px;
      }
    }
  }

  li.menu-item-check {
    a {
      position: relative;

      &::before {
        color: #adadad;
        content: "\e908";
        display: block;
        font-family: "font-icons";
        height: 20px;
        position: absolute;
        right: 1.8em;
        top: 35%;
        width: 20px;
        font-size: 1.2em;
      }
    }
  }

  li.title {
    background-color: #f4f4f4;
    border-bottom: 1px solid #e6e6e6;
    cursor: default;
    padding: 1em 1.5em;

    & > a {
      background-color: #f4f4f4;
      border-bottom: none;
      font-size: 1em;
      padding: 1.188em 1.5em 1em;
    }

    & > a span,
    & > span {
      color: #9c9c9c;
      font-size: .688em;
      font-weight: 700;
      text-transform: uppercase;
      position: relative;

      & > i {
        position: absolute;
        margin-right: .3em;
        color: #C8C8C8;
        left: 0;
        top: 0;
        font-size: 1.4em;
        margin-top: -3px;

        &.icon-medium-business {
          font-size: 1.6em;
        }

        &.icon-enterprise {
          margin-top: -4px;
          font-size: 1.8em;
        }
      }
    }

    &.has-icon span {
      padding-left: 3em;
    }

    &.has-link {
      padding: 0;
    }
  }

  li.splitter {
    background-color: #e6e6e6;
    display: block;
    height: .188em;
  }

  li.parent > a {
    position: relative;

    &::before {
      color: #adadad;
      content: "\f054";
      display: block;
      font-family: "font-icons";
      height: 20px;
      position: absolute;
      right: 20px;
      top: 40%;
      width: 20px;
    }
  }
}

.main-nav,
.menu-utility,
.site-top {
  display: none;
}

.menu-toggle {
  @include transform(rotate(0deg));
  @include transition(all .2s ease-in-out);
  text-indent: -9999px;
  width: 1.375em;
  height: .938em;
  margin-top: -.125em;
  float: left;
  position: absolute;
  left: 0;
  top: 45%;

  span {
    @include transform(rotate(0deg));
    @include transition(all .2s ease-in-out);
    display: block;
    position: absolute;
    height: 3px;
    width: 100%;
    background: #c5c5c5;
    opacity: 1;
    left: 0;
  }

  span:nth-child(1) {
    @include transform-origin(left center);
    top: 0;
  }

  span:nth-child(2) {
    @include transform-origin(left center);
    top: 6px;
  }

  span:nth-child(3) {
    @include transform-origin(left center);
    top: 12px;
  }

  &.open {
    margin-left: -3px;
  }

  &.open span:nth-child(1) {
    @include transform(rotate(45deg));
    top: -1px;
    left: 4px;
  }

  &.open span:nth-child(2) {
    width: 0;
    opacity: 0;
  }

  &.open span:nth-child(3) {
    @include transform(rotate(-45deg));
    top: 15px;
    left: 4px;
  }
}

@include media(769px) {
  .main-nav,
  .menu-utility,
  .site-top {
    display: block;
  }

  .mobile-nav {
    display: none;
  }

  .menu-toggle {
    display: none;
  }
}
