<li class="first">
	<ul class="featured featured-small">
		<li ng-repeat="product in item.megaMenuItem.product">
			<figure><a ng-href="{{::product.prodPageLink}}"><img ng-src="{{::product.prodIcon | addLocalRoot}}" alt="product-icon-core" /></a></figure>
			<a ng-href="{{::product.prodPageLink}}">{{::product.prodAddTitle}} <small class="tag" ng-if="product.new">{{::product.new}}</small></a>
			<div class="desc">
				<p ng-bind-html="product.prodMainTitle"></p>
				<p><a ng-href="{{::product.learnMoreLink}}">{{::product.learnMoreText}}</a> / <a ng-href="{{::product.freeTrialLink}}">{{::product.freeTrialText}}</a></p>
			</div>
		</li>
	</ul>
</li>
<li>
	<ul class="regular">
		<li ng-if="item.megaMenuItem.mega_menu_secondary_nav.secondary_nav_side_title" class="title">
			<h6>{{::item.megaMenuItem.mega_menu_secondary_nav.secondary_nav_side_title}}</h6>
			<p ng-if="item.megaMenuItem.mega_menu_secondary_nav.secondary_nav_side_subtitle">{{::item.megaMenuItem.mega_menu_secondary_nav.secondary_nav_side_subtitle}}</p>
		</li>

		<li ng-repeat="item in item.megaMenuItem.mega_menu_secondary_nav.secondary_nav_side_links">
			<a ng-href="{{::item.link}}">{{::item.text}} <small class="tag" ng-if="item.new">{{::item.new}}</small></a>
		</li>
	</ul>
</li>