<div class="main">
    <header id="page-header" class="page-header">
        <div class="container">
            <div class="page-info">
                <breadcrumb ng-if="$ctrl.data.hideBreadcrumbs != 'Yes'"></breadcrumb>
            </div>
        </div>
    </header>

    <section class="search-bar-section">
        <div class="container lower-container">

            <div class="search-bar">
                <a href="#" class="inactive search-button">
                    <i class="font-icons icon-search"></i>
                </a>
                <form ng-submit="$ctrl.search($ctrl.searchModel.query, '')">
                    <input type="text" placeholder="{{$ctrl.searchData.searchTypeEnterText || 'Type and hit enter...'}}" name="s" value="" autocomplete="off" ng-model="$ctrl.searchModel.query" ng-change="$ctrl.autocomplete()">
                    <span ng-if="$ctrl.searchModel.query" ng-class="{'active': $ctrl.searchModel.query != $ctrl.searchModel.searchTerm}">{{$ctrl.searchData.searchPressEnterText || 'Press enter'}}</span>
                </form>
                <ul ng-if="$ctrl.searchModel.query">
                    <li ng-repeat="item in $ctrl.autocompleteQ track by $index" ng-if="$ctrl.autocompleteQ.length > 1">
                        <div ng-click="$ctrl.search(item)">
                            <span>
                                {{$ctrl.autocompleteQ[$index]}}
                            </span>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </section>
    <ajax-spinner></ajax-spinner>
    <section class="regular-section" ng-show="$ctrl.searchModel.responseCount">
        <div class="container">

            <div class="search-info divider">
                <div class="row">
                    <div class="search-showing col-l-7" ng-show="$ctrl.searchModel.responseCount">
                        <p>{{$ctrl.getPageStartDisplay()}}- {{$ctrl.getPageDisplayTotal()}} {{$ctrl.searchData.searchOfText || 'of'}} {{$ctrl.searchModel.responseCount}} {{$ctrl.searchData.searchResultsForText || 'results for'}} <span>{{$ctrl.searchModel.searchTerm}}</span>
                        </p>
                    </div>
                    <div class="search-sort col-l-5">
                        <div class="label">
                            <p>{{$ctrl.searchData.bvLocSortedBy || 'Sorted by'}}</p>
                        </div>
                        <div class="links">
                            <p>
                                <a href ng-class="{'active': !$ctrl.searchModel.orderBy}" ng-click="$ctrl.changeOrderBy('')">{{$ctrl.searchData.searchRelevanceText || 'Relevance'}}</a>
                                <a href ng-class="{'active': $ctrl.searchModel.orderBy == 'date'}" ng-click="$ctrl.changeOrderBy('date')">{{$ctrl.searchData.bvLocDate || 'Date'}}</a>
                            </p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row invert-grid">
                <div class="sidebar col-l-5 col-xl-4">
                    <div class="widget">
                    </div><!-- /widget -->
                </div><!-- /sidebar -->

                <div class="content col-l-7 col-xl-8">
                    <ul class="articles-list search-list">
                        <li dir-paginate="item in $ctrl.searchModel.allPages | orderBy: $ctrl.searchModel.orderBy  | itemsPerPage: $ctrl.searchModel.pageSize" current-page="$ctrl.searchModel.currentPage"
                            pagination-id="searchPagination" total-items="$ctrl.searchModel.responseCount">
                            <div class="post-info">
                                <p><span class="order">{{$ctrl.getPaginationNumbering($index)}}</span></p>
                            </div>
                            <h2><a href="{{item.url}}" ng-bind-html="item.title"></a></h2>
                            <p ng-bind-html="item.body"></p>
                            <div class="post-location">
                                <p>{{item.breadcrumb}}</p>
                            </div>
                        </li>
                    </ul>

                    <div class="pagination">
                        <dir-pagination-controls boundary-links="true" pagination-id="searchPagination" on-page-change="$ctrl.pageChangeHandler(newPageNumber)"></dir-pagination-controls>
                    </div>
                </div><!-- /content -->
            </div>
        </div>
    </section>
    <section class="regular-section" ng-if="$ctrl.searchModel.responseCount == 0 && !$ctrl.autocompleteQ">
        <div class="container">
            <custom-html ng-if="$ctrl.showNoresultDisplay"></custom-html>
        </div>
    </section>
</div>