<section class="regular-section" id="bazaarvoice_{{ngDialogData.productId}}">
    <div class="container">
        <div class="search-info divider">
            <div class="row">
                <div class="search-showing col-l-9">
                    <p>{{::ngDialogData.bv.TotalResults}} {{ngDialogData.bvData.bvLocReviewsFor}} <span>{{::ngDialogData.productName}}</span></p>
                </div>
                <div class="search-sort col-l-3">
                    <div class="links">
                        <p>{{ngDialogData.bvData.bvLocSortedBy}}
                            <a href="" ng-click="ngDialogData.orderByCondition('Rating')" ng-class="{'active': ngDialogData.isActive('Rating')}" data-test="buyblock-review-rating">{{ngDialogData.bvData.bvLocRating}}</a>
                            <a href="" ng-click="ngDialogData.orderByCondition('SubmissionTime')" ng-class="{'active': ngDialogData.isActive('SubmissionTime')}" data-test="buyblock-review-date">{{ngDialogData.bvData.bvLocDate}}</a>
                        </p>
                    </div>
                </div>
            </div>
        </div>
        <div class="row invert-grid">
            <div class="content col-xl-12">
                <ul class="articles-list search-list">
                    <li dir-paginate="review in ngDialogData.bv.Results | filter:q | orderBy : ngDialogData.reviewOrderBy:ngDialogData.reverse | itemsPerPage: ngDialogData.pageSize" current-page="ngDialogData.currentPage" pagination-id="ngDialogData.productId">
                        <div class="post-info">
                            <p><span class="order">{{review.SubmissionTime | date : 'yyyy-MM-dd'}}</span> {{ngDialogData.bvData.bvLocBy}} {{::review.UserNickname}}</p>
                        </div>
                        <h2><a href="">{{::review.Title}}</a></h2>
                        <div class="starbar">
                            <span ng-repeat="star in ngDialogData.getStars(ngDialogData.starsRange) track by $index" ng-class="ngDialogData.litStars($index, review.Rating)"></span>
                        </div>
                        <p>{{::review.ReviewText}}</p>
                        <div class="post-location">
                            <p>{{ngDialogData.bvData.bvLocFrom}} {{::ngDialogData.productName}}</p>
                        </div>
                    </li>
                </ul>

                <div class="pagination">
                    <dir-pagination-controls pagination-id="ngDialogData.productId" on-page-change="pageChangeHandler(newPageNumber)"></dir-pagination-controls>
                </div>
            </div><!-- /content -->
        </div>
    </div>
</section>
