/***************************************
	Search
***************************************/
.page-header + .search-bar-section {
  margin-top: -2em;
}

.search-bar-section {
  margin-bottom: 5em;
}

.search-bar {
  position: relative;
  margin-bottom: .5em;
  padding: 1.25em 1.5em;
  background: $lightblue;

  .search-button {
    position: absolute;
    top: 2.55em;
    left: 2.5em;
    color: $blue;
    opacity: .5;
  }

  ul {
    margin-top: 20px;
    margin-bottom: 0;

    li {
      display: inline-block;
      color: #888;
      font-size: .95em;
      padding: 3px;
      margin: 7px;
      cursor: pointer;

      &:before {
        display: none;
      }

      div {
        background-color: rgba(255, 255, 255, 1);
        border-radius: 5px;
        padding: 3px;
        cursor: pointer;

        span {
          color: #444;
        }
      }
    }
  }

  form {
    input {
      font-size: .875em;
      margin: 0;
      padding-left: 3em;
      border-color: $borderblue;

      &:focus,
      &:hover {
        border-color: $blue;
      }
    }

    input,
    span {
      height: 3.5715em;
      line-height: 2.5715em;
    }

    span {
      @include transition(all 500ms);
      display: block;
      max-width: 150px;
      position: relative;
      float: right;
      color: rgba(136, 136, 136, .5);
      font-size: .8em;
      padding: .6em 1em .5em .5em;
      margin-top: -3.75em;
      text-align: right;
      margin-right: 1em;
      background-color: #fff;
      z-index: 2;

      &.active {
        color: $kgreen;
        opacity: 1;
      }
    }
  }
}

.search-info {
  margin-top: 0;
  margin-bottom: 1em;

  &.divider {
    margin-bottom: 2em;
  }

  p {
    margin-bottom: .65em;
    font-size: .75em;
    color: #777;
  }

  .search-showing {
    span {
      font-weight: 700;
    }
  }

  .search-sort {
    p {
      display: inline-block;
      line-height: 1;
    }

    .label {
      display: inline-block;
    }

    .links {
      display: inline-block;

      a {
        display: inline-block;
        padding: 0 .3em 0 .5em;
        text-transform: uppercase;
        font-weight: 700;
        color: #444;
        border-left: 1px solid #e5e5e5;

        &:first-child {
          padding-left: 0;
          border: 0;
        }

        &.active {
          color: $kgreen;
        }
      }
    }
  }
}

@include media(769px) {
  .serch-promo-section {
    .buy-section.offset {
      padding-top: 3em;
    }
  }

  .search-info {
    .search-sort {
      text-align: right;
    }
  }
}
