@import '../../../styles/variables';

.title {
  font-family: $MuseoSans;
  color: $black;
}

.sm {
  composes: title;
  font-size: 25px;
}

.md {
  composes: title;
  font-size: 30px;
}

.lg {
  composes: title;
  font-size: 35px;
}