/***************************************
	Promo
***************************************/

.promo-narrow {
  .container {
    padding-bottom: .8em;
    padding-top: 1em;
  }
}

.product-promo-section {
  position: relative;
  background-repeat: no-repeat;
  background-position: 50% 14%;
  background-size: cover;
  margin-left: auto;
  margin-right: auto;

  .side-ctas {
    margin-top: 2.5em;

    @media (max-width: 768px) {
      text-align: center;
    }

    .button {
      &:first-child {
        margin-right: 1em;
      }

      @media (max-width: 768px) {
        display: inline-block;
        min-width: 12em;
      }
    }
  }

  &.ksc-promo {
    border-bottom: 1px solid #cadce6;
    padding-top: 3em;
    background-size: cover;
    background-position: 0 100%;

    @include media(769px) {
      background-size: auto;
      background-position: 50% 100%;
    }

    .page-header & {
      margin-top: -3em;
      padding-top: 1.5em;
      margin-bottom: 8em;
      border-bottom: 2px solid #6c92a1;

      &:after {
        content: "";
        height: 11px;
        background-image: url(../i/ksc-pattern.svg);
        display: block;
        width: 100%;
        position: absolute;
        bottom: -12px;
        background-size: contain;
      }
    }

    &:before,
    h2:before {
      content: none;
    }

    .container {
      padding-bottom: 2em;
    }

    h2 {
      text-transform: none;
      font-weight: 700;
      line-height: normal;
      font-size: 2.3em;
      color: $text;
      padding-left: 0;
      font-family: $museosans;

      @include media(769px) {
        font-size: 2em;
      }
    }

    .product-desc {
      & > div {
        color: $text;
        font-weight: 400;
        width: 75%;
        margin: 0 auto;
        text-align: center;
        font-size: 1.4em;
        line-height: 1.3em;

        @include media(769px) {
          width: 35%;
          text-align: left;
          margin: 1em 0 0;
          font-size: 1.3em;
        }
      }

      @include media(769px) {
        &.product-desc-small div {
          line-height: 1.4em;
          font-size: 1em;
        }
      }
    }

    .ksc-page-header {
      text-align: center;

      h1 {
        width: 65%;
        font-weight: 600;
        text-transform: none;
        margin: -2em auto 2em;
        text-align: center;
        color: $text;

        @media (max-width: 768px) {
          font-size: 2em;
          padding-top: 1em;
          margin-bottom: 1em;
        }
      }
    }

    @media (max-width: 768px) {
      figure img {
        max-width: 7.5em;
      }
    }
  }

  &.center {
    text-align: center;

    h2,
    p {
      text-align: center;
      margin-bottom: 40px;
    }
  }

  &.dark-bg {
    color: #fff;
    background-position: center;
    background-size: cover;

    &:before {
      opacity: 0;
    }

    &.opaque-bg {
      &:before {
        content: "";
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        z-index: 0;
        background: #fff;
        opacity: .6;
      }

      .container {
        position: relative;
        z-index: 1;
      }
    }

    h3,
    h2,
    p {
      color: #fff;
    }

    .button {
      min-width: 16em;

      &.transparent {
        color: #fff;
        color: rgba(255, 255, 255, .8);
        background: none;
        border-color: #fff;
        border-color: rgba(255, 255, 255, .3);

        &:hover {
          color: #fff;
          border-color: rgba(255, 255, 255, .6);
        }

        &.border-thicker {
          border-color: #fff;
        }
      }
    }

    &.narrow {
      height: 93px;

      .container {
        display: table;
        height: 100%;
        padding-top: 0;
        padding-bottom: 0;
      }

      .narrow-desc {
        width: 80%;
        display: table-cell;
        vertical-align: middle;

        p {
          margin: 0;
        }
      }

      .narrow-link {
        text-align: right;
        width: 20%;
        display: table-cell;
        vertical-align: middle;

        a.button {
          min-width: 1em;
        }
      }
    }
  }

  &:before {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 1;
    background: #fff;
    opacity: .75;
  }

  .container {
    z-index: 10;
  }

  &.bg-topleft {
    background-position: 0 0;
  }

  &.bg-top {
    background-position: 50% 0;
  }

  &.bg-topright {
    background-position: 100% 0;
  }

  &.bg-left {
    background-position: 0 50%;
  }

  &.bg-right {
    background-position: 100% 50%;
  }

  &.bg-bottomleft {
    background-position: 0 100%;
  }

  &.bg-bottom {
    background-position: 50% 100%;
  }

  &.bg-bottomright {
    background-position: 100% 100%;
  }
}

@include media(769px) {
  .product-promo-section {
    &:before {
      opacity: .75;
    }

    &.bg-d-topleft {
      background-position: 0 0;
    }

    &.bg-d-top {
      background-position: 50% 0;
    }

    &.bg-d-topright {
      background-position: 100% 0;
    }

    &.bg-d-left {
      background-position: 0 50%;
    }

    &.bg-d-right {
      background-position: 100% 50%;
    }

    &.bg-d-bottomleft {
      background-position: 0 100%;
    }

    &.bg-d-bottom {
      background-position: 50% 100%;
    }

    &.bg-d-bottomright {
      background-position: 100% 100%;
    }

    &.narrow {
      height: auto;
      min-height: 93px;
    }
  }
}

.product-desc-section {
  text-align: center;

  p {
    font-size: .875em;
    color: #777;
  }

  figure {
    img {
      max-width: 6.5em;
    }
  }

  .product-title {
    font-size: 2em;
    font-weight: 700;
    text-transform: none;
    padding-bottom: .5em;

    .subtitle,
    .surtitle {
      display: block;
      padding: .05em 0;
      font-size: .6em;
      font-weight: 500;
    }

    .surtitle {
      position: relative;
      top: .05em;
      padding: 0;
      color: #006D5C;
    }

    .subtitle {
      font-family: $museoslab;
    }
  }

  .product-desc {
    font-weight: 100;
    font-size: 1.125em;
  }

  .section-footer {
    .button {
      margin-bottom: .75em;

      &.transparent {
        background: none;

        &:hover {
          color: $kgreen;
          border-color: #777;
        }
      }
    }
  }

  &.smaller-desc-section {
    figure {
      img {
        max-width: 4.5em;
      }
    }

    .product-title {
      font-size: 1.5em;
      padding-bottom: .75em;
    }

    .product-desc {
      font-size: 1em;
    }
  }

  &.divider {
    margin-bottom: 2.5em;
  }
}

@include media(769px) {
  .product-desc-section {
    padding-left: 8.5em;
    text-align: left;

    figure {
      float: left;
      margin-top: -1.5em;
      margin-left: -8.5em;
      max-width: 6.5em;

      img {
        max-width: 100%;
      }
    }

    .product-title {
      margin-bottom: .25em;
    }

    .section-footer {
      margin-top: 1.25em;
      text-align: left;
    }

    &.smaller-desc-section {
      padding-left: 6.5em;

      figure {
        margin-left: -6.5em;
        max-width: 5em;

        img {
          max-width: 100%;
        }
      }

      .product-title {
        margin-bottom: 0;
      }
    }

    &.divider {
      padding-bottom: 2em;
      margin-bottom: 3.5em;
    }
  }
}
