.main {
  background: url("../../../static/resources/template/i/bg-grid.svg") 50% -4em no-repeat;
  background-size: 1920px 821px;

  &.no-bg {
    background: none;
  }
}

@include media(769px) {
  .page-header + *,
  .page-header + * section,
  page-header + * section,
  page-header + .product-header {
    margin-top: -4em;
  }
}

.page-header + * {
  margin-top: -1em;
}

.page-header + .margin-bottom {
  margin-bottom: 4.5em;
}

.about-careers {
  .page-header {
    background-color: #f8f8f8;

    .container {
      padding-bottom: 4em;
    }
  }
}

.about-page-header + * section {
  margin-top: -1em;
}

.about-team-header {
  .page-header {
    background-color: #f7f7f7;

    .container {
      padding-bottom: 1em;
    }
  }
}

page-header + .ferrari section {
  margin-top: inherit;
  padding-bottom: inherit;
  padding-top: 2.5em;
}

.b2b-page-header + * section {
  margin-top: 0;
}

#b2b-page-header .product-header .container,
.main .downloads-section .container {
  padding-bottom: 5em;
}

.no-breadcrumbs {
  padding-top: em(65);
}

.main-product-fullwidth {
  .info {
    h2 {
      &.page-desc {
        float: none;
      }
    }
  }
}

.b2b-product-title {
  span {
    &.big {
      &.no-margin {
        margin: 0;
      }
    }
  }
}

.icon-pdf.pdf-link {
  font-size: .8em;
  font-weight: 500;
  color: #222;

  span {
    background-color: transparent;
    color: #afafaf;
    cursor: pointer;
    font-size: .75em;
    padding-left: 0;
  }

  &:hover {
    color: $kgreen;
  }

  & + div {
    margin-top: 2em;
  }
}

@include media(769px) {
  .main-product-fullwidth {
    .info {
      h2 {
        &.page-desc {
          float: right;
        }
      }
    }

    .side-ctas {
      .button {
        &:first-child {
          margin-right: 1em;
        }
      }
    }
  }
}

/***************************************
  Page Header
***************************************/
.main .alert-section {
  background: $kred;

  &.alert-green {
    background: $kgreen;
  }

  & + * {
    padding-top: 3em;
  }

  .container {
    padding: 1em 0 .5em;
    text-align: center;
  }

  p {
    margin-bottom: .5em;
    color: #fff;
    font-size: .875em;

    &.big-title {
      margin-bottom: 0;
      font-size: 2.5em;
      font-weight: 900;
      line-height: 1.2;
    }
  }
}

.page-headline {
  @include clearfix;
  margin-bottom: 0;

  .label {
    margin-top: -.5em;
    margin-bottom: 1em;

    p {
      @include prefixer(border-radius, .3em, webkit moz spec);
      display: inline-block;
      margin-bottom: 0;
      padding: .25em;
      line-height: 1;
      font-size: em(10);
      font-weight: 500;
      color: #fff;
      text-transform: uppercase;
      background: #aaa;
    }

    &.red {
      p {
        color: #fff;
        background: $kred;
        opacity: .8;
      }
    }
  }

  .page-desc {
    &.variant-2 {
      margin-top: 1em;
      font-family: $museoslab;
      font-style: italic;
      color: #888;
    }
  }
}

.ferrari {
  .page-header {
    .breadcrumbs {
      a {
        color: #bbb;
      }
    }
  }
}

.page-header {
  position: relative;

  &:not(.ksc-header) .container {
    padding-bottom: 5em !important;
  }

  &.image-bg {
    background-repeat: no-repeat;
    background-position: 50% 9%;
    background-size: cover;
    //max-width: 1920px;
    margin: 0 auto;

    .overlay-1 {
      content: "";
      position: absolute;
      top: 0;
      right: 0;
      bottom: 40%;
      left: 0;
      background: -moz-radial-gradient(top left, ellipse cover, rgba(255, 255, 255, 1) 0%, rgba(255, 255, 255, 0) 100%);
      background: -webkit-gradient(radial, top left, 0, center center, 100%, color-stop(0%, rgba(255, 255, 255, 1)), color-stop(100%, rgba(255, 255, 255, 0)));
      background: -webkit-radial-gradient(top left, ellipse cover, rgba(255, 255, 255, 1) 0%, rgba(255, 255, 255, 0) 100%);
      background: -o-radial-gradient(top left, ellipse cover, rgba(255, 255, 255, 1) 0%, rgba(255, 255, 255, 0) 100%);
      background: -ms-radial-gradient(top left, ellipse cover, rgba(255, 255, 255, 1) 0%, rgba(255, 255, 255, 0) 100%);
      background: radial-gradient(ellipse at top left, rgba(255, 255, 255, 1) 0%, rgba(255, 255, 255, 0) 100%);
      filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#b3ffffff", endColorstr="#00ffffff", GradientType=0);
      /* IE6-9 */
      opacity: .7;
    }

    .overlay-2 {
      content: "";
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      background: -moz-linear-gradient(top, rgba(255, 255, 255, .15) 0%, rgba(255, 255, 255, .15) 30%, rgba(255, 255, 255, .75) 80%, rgba(255, 255, 255, 1) 100%);
      background: -webkit-linear-gradient(top, rgba(255, 255, 255, .15) 0%, rgba(255, 255, 255, .15) 30%, rgba(255, 255, 255, .75) 80%, rgba(255, 255, 255, 1) 100%);
      background: linear-gradient(to bottom, rgba(255, 255, 255, .15) 0%, rgba(255, 255, 255, .15) 30%, rgba(255, 255, 255, .75) 80%, rgba(255, 255, 255, 1) 100%);
      filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#26ffffff", endColorstr="#ffffff", GradientType=0);
      /* IE6-9 */
    }

    &.bg-topleft {
      background-position: 0 0;
    }

    &.bg-top {
      background-position: 50% 0;
    }

    &.bg-topright {
      background-position: 100% 0;
    }

    &.bg-left {
      background-position: 0 50%;
    }

    &.bg-right {
      background-position: 100% 50%;
    }

    &.bg-bottomleft {
      background-position: 0 100%;
    }

    &.bg-bottom {
      background-position: 50% 40%;
    }

    &.bg-bottomright {
      background-position: 100% 100%;
    }
  }

  &.padding {
    .container {
      padding-top: 2em;
    }
  }

  .page-info {
    @include clearfix;
    min-height: 1em;
    margin-bottom: 1em;
  }

  .page-headline {
    figure {
      display: none;
    }

    &.show-figure {
      text-align: center;

      figure {
        margin-bottom: 1em;
        display: inline-block;
        width: 7em;
      }
    }

    &.big-headline {
      margin-bottom: 2em;

      .page-title {
        margin-bottom: 0;
        text-transform: none;
        font-family: $museosans;
        font-size: 1.75em;
        font-weight: 900;
        line-height: 1.2;
        color: #333;

        & + .button {
          margin-top: 1.5em;
        }
      }

      .page-desc {
        margin-bottom: 0;
        line-height: 1.2;
        text-align: center;
        font-size: 1.25em;
        font-weight: 100;
        font-family: $museosans;
        text-transform: none;

        & + .button {
          margin-top: 1.5em;
        }
      }

      p {
        margin: 1em 0 0;
        text-align: center;
        font-family: $museoslab;
      }
    }

    .side-ctas {
      margin-top: em(65);

      &.equal-buttons {
        .button {
          width: 100%;
        }
      }

      .button {
        &.wide {
          width: 100%;
          white-space: nowrap;
        }
      }
    }
  }

  .page-title,
  h1 {
    margin-bottom: .5em;
    font-size: em(24);
    font-weight: 900;
    color: #333;
    text-align: center;
    text-shadow: 0 0 7px rgba(255, 255, 255, .7);
    text-transform: uppercase;
  }

  .page-desc,
  h2 {
    font-size: em(16);
    font-weight: 300;
    line-height: 1.4;
    font-family: $museoslab;
    color: #444;
    text-align: center;
    text-shadow: 0 0 7px rgba(255, 255, 255, .7);
  }

  .page-surtitle,
  h3 {
    margin-bottom: 0;
    font-size: em(20);
    font-weight: 500;
    color: $kgreen;
    text-align: center;
    text-shadow: 0 0 7px rgba(255, 255, 255, .7);
  }

  .breadcrumbs {
    @include clearfix;
    display: none;
    float: left;
    margin: 2em 0 0;
    font-size: .75em;
    color: #777;

    a {
      position: relative;
      display: block;
      float: left;
      margin: 0 1.5em;
      line-height: 1;
      color: #888;
      color: rgba(85, 85, 85, .6);

      &::before {
        content: "\f054";
        position: absolute;
        top: 50%;
        left: -2.5em;
        margin-top: -.6em;
        margin-left: -.5em;
        font-size: 7px;
        color: #bbb;
        pointer-events: none;
        cursor: default;
      }

      &:first-child {
        margin-left: 0;

        &::before {
          display: none;
        }
      }

      &:hover {
        color: #666;
      }

      &.unclickable {
        cursor: default;

        &:hover {
          color: rgba(85, 85, 85, .6);
          opacity: 1;
        }
      }
    }
  }

  ul.quick-menu {
    @include list-reset;
    display: none;
    float: right;

    li {
      float: left;
      border-left: 1px solid rgba(255, 255, 255, .15);

      a {
        display: block;
        padding: .8em 1em;
        line-height: 1.3;
        font-size: em(12);
        font-weight: 700;
        color: #fff;
        text-transform: uppercase;
        background: $kgreen;

        &.banner {
          text-transform: none;
          position: relative;

          &:before {
            content: "";
            position: absolute;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            z-index: 0;
            background-image: url("../../../static/resources/template/i/bg-green-overlay-bottom.png");
            background-repeat: no-repeat;
            background-position: top right;
            opacity: .75;
          }

          .thumb {
            position: relative;
            z-index: 10;
            display: none;
          }

          span {
            position: relative;
            z-index: 10;
            display: block;

            &.surtitle {
              position: relative;
              top: -.15em;
              font-size: .8334em;
              opacity: .7;
              text-transform: uppercase;
            }

            &.larger-title {
              font-size: 1.25em;
              line-height: 1;
            }
          }

          &.product-banner {
            position: relative;
            padding-left: 5em;

            .thumb {
              display: block;
              position: absolute;
              top: 0;
              left: .8em;
              bottom: 0;
              width: 3.5em;
              background-repeat: no-repeat;
              background-position: left 50%;
              background-size: 3.5em;
            }
          }
        }

        &:hover {
          @include transition(background-color .15s ease-in);
          background-color: darken($kgreen, 5%);
        }
      }

      &.red-item {
        a {
          background: $kred;

          &:hover {
            background: darken($kred, 8%);
          }
        }
      }
    }

    &.always-show {
      display: block;
    }
  }

  &.solid {
    & + * {
      margin-top: 4em;
    }

    .page-headline {
      margin-top: 2.5em;
    }

    .container {
      padding-bottom: 3em;
    }

    hr {
      opacity: .3;
      margin-top: 1.5em;
      margin-bottom: 1.25em;
    }

    h1 + p.short-info {
      margin-top: 0;
      margin-bottom: 1em;
      text-align: center;
    }
  }

  &.dark-background {
    background-position-x: 50%;
    background-size: cover;

    h1,
    h2,
    h3,
    h4 {
      color: #fff;
    }

    .technologies-section {
      .product-list {
        display: block;
      }

      &.ent-menu {
        .product-list {
          display: flex;
        }
      }
    }

    .breadcrumbs a {
      color: #FFF;
      opacity: .7;

      &:hover {
        opacity: 1;

        &:before {
          opacity: .5;
        }
      }

      &:before {
        color: #ddd;
        opacity: .7;
      }
    }
  }

  .overlay-light-green {
    position: absolute;
    display: block;
    opacity: .7;
    top: 0;
    left: 0;
    background-color: #356961;
    width: 100%;
    height: 100%;
  }

  .page-headline.dark-background {
    h1,
    h2,
    h3,
    h4,
    h5,
    p,
    strong {
      color: #fff;
      text-shadow: none;
    }
  }

  ul.quick-menu {
    display: block;
  }

  ul.quick-menu {
    display: none;
    float: right;
    margin-top: 0;

    @include list-reset;

    li {
      float: left;
      border-left: 1px solid rgba(255, 255, 255, .15);

      a {
        display: block;
        padding: .8em 1em;
        line-height: 1.3;
        font-size: em(12);
        font-weight: 700;
        color: #fff;
        text-transform: uppercase;
        background: $kgreen;
        cursor: pointer;

        &:hover {
          background-color: darken($kgreen, 5%);

          @include transition(background-color .15s ease-in);
        }
      }

      &.red-item {
        a {
          background: $kred;

          &:hover {
            background: darken($kred, 8%);
          }
        }
      }
    }

    &.always-show {
      display: block;
    }
  }

  &.ksc-header ul.quick-menu li a {
    background: $klgreen;

    &:hover {
      @include transition(background-color .15s ease-in);
      background-color: darken($klgreen, 5%);
    }
  }
}

.excerpt {
  margin-bottom: 1em;

  p {
    font-size: 1.125em;
    font-weight: 500;
  }
}

.small-header {
  min-height: 250px;
}

.small-header + * {
  margin-top: -210px;
}

.product-header {
  .page-headline {
    text-align: center;

    &.smaller-headline {
      figure {
        img {
          max-width: 6.5em;
        }
      }
    }

    .product-desc {
      font-size: 1.125em;
      font-weight: 100;
    }

    .product-promos {
      &.left {
        clear: both;

        .documents {
          float: none;
          margin: 0;

          a {
            margin: 0 1em 1em 0;
          }
        }
      }

      .icon-left {
        i.font-icons {
          float: none;
        }
      }

      .documents {
        margin: .75em 0 1.5em;
        font-size: .875em;

        a {
          display: inline-block;
          margin-left: .5em;
          margin-right: .5em;
        }

        a + a {
          margin-top: .8em;
        }
      }
    }

    figure {
      margin-bottom: 1em;

      img {
        max-width: 8.75em;
      }
    }

    .reviews {
      margin-bottom: 1em;
    }

    .promo-tag {
      margin-bottom: 1em;
    }

    .desc {
      .button {
        margin-bottom: 2em;
      }
    }
  }

  .page-title.product-title ~ .page-desc {
    margin-top: 0;
  }

  .page-desc {
    font-size: em(16);
    font-weight: 500;
  }

  .notification {
    padding-top: 2em;
    text-align: center;
    border-top: 1px solid #e5e5e5;

    h3 {
      font-size: em(18);
      text-transform: uppercase;
    }
  }

  .comparison-section-1up {
    .page-headline {
      margin-bottom: 3em;
    }
  }

  .page-title-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  @include media(769px) {
    .page-title-wrapper {
      display: flex;
      flex-direction: row;
      align-items: flex-start;

      .page-title {
        flex: 1 1 auto;
      }

      gdpr-ready {
        padding-top: 0;
        flex: 0 1 auto;
      }
    }
  }
}

.post {
  .page-header {
    .page-title,
    h1 {
      text-transform: none;
      font-weight: 700;
    }
  }
}

.compact-headline {
  padding-top: 1em;
  padding-left: 5em;

  figure {
    float: left;
    max-width: 4.25em;
    margin-top: -1.25em;
    margin-left: -5em;
  }

  .product-title {
    font-size: 1.25em;
  }

  .excerpt {
    clear: both;
    margin-left: -5em;

    p {
      font-size: 1em;
    }
  }

  &.page-headline {
    text-align: left;

    figure {
      img {
        max-width: 100%;
      }
    }

    .product-title {
      font-size: 1.25em;
    }
  }
}

/***************************************
  Subheaders
***************************************/
.subheader {
  background-repeat: no-repeat;
  background-position: 50% 50% !important;
  background-size: cover;
  max-width: 1920px;
  margin: 0 auto;
}

.subheader-v2 {
  position: relative;
  margin-bottom: 3em;
  text-align: center;
  padding-top: 2em !important;

  &::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: #000;
    opacity: .3;
  }

  .container {
    padding-bottom: 2.5em !important;
  }

  .divider {
    border-color: rgba(225, 225, 225, .3);
  }

  .logos {
    margin-bottom: 2.5em !important;
    padding-top: 1em !important;
    padding-bottom: 1.5em !important;
    text-align: left;

    .site-logo {
      img {
        width: 10em;
      }
    }

    .partner-logo {
      text-align: right;

      img {
        max-width: 8em;
        max-height: 2em;
      }
    }
  }

  .page-title {
    color: #fff !important;
    font-family: $slowattack;
    font-weight: normal !important;
    font-size: 6em !important;
    line-height: .6;
    text-transform: uppercase;
    text-shadow: 1px 1px 5px rgba(0, 0, 0, .3) !important;
    margin-bottom: 1rem !important;

    & .regular-font {
      font-family: $museosans;
      font-size: 64px !important;
      line-height: 60px;
    }
  }

  .page-desc {
    font-family: MuseoSans, Arial, Helvetica, sans-serif !important;
    color: #fff !important;
    font-size: 1em !important;
    text-shadow: none !important;
    padding: 0 !important;
    font-weight: 700 !important;

    &::before {
      display: none;
    }

    br {
      display: none;
    }
  }

  .button {
    margin-top: 2.5em;
  }
}

.taller-header {
  min-height: 350px;

  &.page-header.image-bg .overlay-1 {
    bottom: 0;
  }

  &.page-header.image-bg {
    background-position: 50% 14%;
  }
}

.taller-header + * {
  margin-top: -310px;
}

#page-header.taller-header-overlay + * {
  margin-top: -290px;
}

.section-footer {
  .button.red.button-white-color {
    color: #fff;
  }
}

@include media(769px) {
  .page-header + *,
  .page-header + * section,
  page-header + * section,
  page-header + .product-header {
    margin-top: -4em;
  }

  .main-product-fullwidth {
    .info {
      h2 {
        &.page-desc {
          float: right;
        }
      }
    }

    .side-ctas {
      .button {
        &:first-child {
          margin-right: 1em;
        }
      }
    }
  }

  body .taller-header {
    min-height: 400px;
  }

  .taller-header + * {
    margin-top: -340px;
  }

  .page-headline {
    .label {
      margin-top: -1.5em;
    }

    &.variant-2 {
      &.divider {
        margin-bottom: 2em;
        padding-bottom: 2.5em;
      }
    }
  }

  page-header + .ferrari section {
    padding-bottom: 4.5em;
    margin-top: -6.5em;
    padding-top: 4em;
  }

  .offset {
    position: absolute;
    margin-top: -3em;

    &.higher {
      margin-top: -5em;
    }
  }

  .page-header {
    .breadcrumbs {
      display: block;
    }

    .button.right {
      float: right;
    }

    &.solid {
      h1 + p.short-info {
        margin-top: -1em;
        margin-bottom: 0;
        text-align: left;
      }
    }

    &.dark-background {
      h3.page-surtitle {
        margin-top: -.5em;
      }
    }

    ul.quick-menu {
      display: block;
      margin-top: 0;
    }
  }

  .page-header {
    .container {
      padding-bottom: 6em;
    }

    .page-info {
      min-height: 3em;
    }

    .page-headline {
      &.show-figure {
        text-align: left;
        padding-left: 15em;

        figure {
          position: relative;
          left: -1em;
          float: left;
          width: 13em;
          margin-left: -15em;
          margin-bottom: 1em;
          display: block;
        }

        &.no-padding {
          padding-left: 0;

          figure {
            margin-left: 0;
            width: auto;
            left: auto;
          }
        }
      }

      &.small-headline {
        .page-title,
        h1 {
          font-size: em(32);
          font-weight: 500;
        }

        .page-desc,
        h2 {
          font-size: 1em;
        }

        &.show-figure {
          padding-left: 12em;

          figure {
            margin-left: -12em;
            width: 10em;
          }
        }
      }

      &.big-headline {
        text-align: center;

        .page-title {
          padding: 0;
          line-height: 1.1;
          text-align: center;
          font-size: em(48);

          .locale--en-us & {
            font-size: em(30);
          }

          &::before {
            display: none;
          }
        }

        .page-desc {
          padding: 0;
          font-size: em(32);
          color: #666;

          &::before {
            display: none;
          }
        }

        p {
          font-size: 1.25em;
        }

        &.show-figure {
          text-align: center;
          padding-left: 0;

          figure {
            left: auto;
            top: -.75em;
            float: none;
            width: 7.5em;
            margin: 0 auto;
          }
        }
      }

      .side-ctas {
        margin-top: em(65);

        &.equal-buttons {
          .button {
            width: 13.33em;
          }
        }

        .button {
          &:first-child {
            margin-right: 1em;
          }
        }
      }
    }

    .page-title,
    h1 {
      font-size: em(36);
      position: relative;
      left: -.05em;
      text-align: left;
    }

    .page-desc,
    h2 {
      font-size: em(20);
      position: relative;
      padding: 0 10% 0 1em;
      text-align: left;

      &::before {
        content: "";
        position: absolute;
        left: 0;
        top: .25em;
        bottom: .25em;
        width: 4px;
        background: $bordergreen;
      }
    }

    .page-surtitle,
    h3 {
      font-size: em(24);
      text-align: left;
    }

    &.image-bg {
      &.bg-d-topleft {
        background-position: 0 0;
      }

      &.bg-d-top {
        background-position: 50% 0;
      }

      &.bg-d-topright {
        background-position: 100% 0;
      }

      &.bg-d-left {
        background-position: 0 50%;
      }

      &.bg-d-right {
        background-position: 100% 50%;
      }

      &.bg-d-bottomleft {
        background-position: 0 100%;
      }

      &.bg-d-bottom {
        background-position: 50% 100%;
      }

      &.bg-d-bottomright {
        background-position: 100% 100%;
      }
    }
  }

  .small-header + * {
    margin-top: -190px;
  }

  .small-header.product-header + * {
    margin-top: -170px;
  }

  .product-header {
    .form-standard {
      padding-left: 4%;
      border-left: 1px solid #e5e5e5;
    }

    .buy-section {
      padding-left: 2%;
      padding-top: 1.5em;

      gdpr-ready {
        padding-top: 0;
      }

      .account-info_empty {
        min-height: 0;
        margin: 0;
      }
    }

    .container {
      &.divider {
        border-bottom-color: rgba(0, 0, 0, .1);
      }
    }

    .page-headline {
      @include clearfix;
      padding-top: 1.5em;
      padding-left: 8em;
      text-align: left;

      &.smaller-headline {
        padding-top: 1.5em;
        padding-left: 8em;

        figure {
          margin-top: -1.4em;
          margin-left: -8em;
          max-width: 6em;

          img {
            max-width: 100%;
          }
        }
      }

      .product-desc {
        margin-top: -.5em;
        font-size: 1.25em;
      }

      figure {
        float: left;
        max-width: 6.5em;
        margin-left: -8em;

        img {
          max-width: 100%;
        }
      }

      .product-promos {
        margin-bottom: 2em;

        .reviews {
          margin-top: .5em;
        }

        .promo-tag {
          float: right;
          margin-top: -.5em;
        }

        .documents {
          margin: 0 0 .5em;
          float: right;
        }

        &.divider {
          margin-bottom: 1.5em;
          border-bottom-color: rgba(0, 0, 0, .1);
        }

        &.no-margin {
          margin: 0;
        }

        .documents {
          &.pull-left {
            float: left;
          }

          a {
            margin-left: 1em;
            margin-right: 0;

            &:first-child {
              margin-left: 0;
            }
          }

          &.no-float {
            float: none;
            margin: 0;

            a {
              margin-left: 0;
              margin-right: 1em;
            }
          }
        }
      }

      &.small-headline {
        padding-top: 1.5em;
        padding-left: 8em;

        figure {
          margin-top: -1.4em;
          margin-left: -8em;
          max-width: 6em;
        }

        .page-title,
        .product-title,
        h1 {
          font-size: em(32);
          font-weight: 500;
        }
      }

      &.smaller-headline {
        padding-top: 1.5em;
        padding-left: 8em;

        figure {
          margin-top: -1.4em;
          margin-left: -8em;
          max-width: 6.5em;

          img {
            max-width: 100%;
          }
        }
      }

      .product-desc {
        margin-top: -.5em;
        font-size: 1.25em;
      }

      &.icon-large {
        padding-left: 15em;

        figure {
          max-width: 13em;
          margin-left: -15em;
          margin-top: -2em;
        }
      }
    }

    .page-desc {
      font-size: em(20);
      font-family: $museoslab;
      position: relative;
      margin-bottom: 1em;
      padding: 0 0 .75em 1em;
      text-align: left;
      font-weight: 300;
      line-height: 1.4;
      color: #444;

      &::before {
        content: "";
        position: absolute;
        left: 0;
        top: .25em;
        bottom: 1em;
        width: 4px;
        background: $bordergreen;
      }

      &.variant-2 {
        padding: 0;
        font-size: 1.125em;

        &::before {
          display: none;
        }
      }
    }

    .notification {
      margin-top: 1em;
      padding: 1em 0 0 2em;
      text-align: left;
      border-top: 0;
      border-left: 1px solid #e5e5e5;

      h3 {
        margin-bottom: .5em;
      }
    }
  }

  .compact-headline {
    .product-title {
      font-size: 2.5em;
    }

    .excerpt {
      clear: none;
      margin-left: auto;

      p {
        font-size: 1.125em;
        margin-bottom: .875em;
      }
    }

    &.page-headline {
      .product-title {
        font-size: 2.5em;
      }
    }
  }

  .subheader-v2 {
    margin-bottom: 4em;
    padding-top: 6em !important;
    text-align: left;

    .logos {
      padding-top: 0;
      margin-top: -2em !important;
      margin-bottom: 3.5em !important;
      padding-bottom: 3em !important;

      .site-logo {
        img {
          width: 13em;
        }
      }

      .partner-logo {
        img {
          max-height: 2.5em;
        }
      }
    }

    .page-title {
      font-size: 7em !important;
      left: 0 !important;
    }

    .page-desc {
      br {
        display: block;
      }
    }

    .button {
      margin-bottom: 2.5em;
    }

    .container {
      padding-bottom: 3.5em !important;
    }
  }
}

@include media(1024px) {
  .product-header .page-headline figure {
    margin-top: 0;
  }
}

.taller-header {
  min-height: 350px;

  &.page-header.image-bg .overlay-1 {
    bottom: 0;
  }

  &.page-header.image-bg {
    background-position: 50% 14%;
  }
}

#page-header.taller-header-overlay + * {
  margin-top: -290px;
}

.section-footer {
  .button.red.button-white-color {
    color: #fff;
  }
}

.about-page-header + * section,
.page-header + * {
  position: relative;
  z-index: 6;
}

.sticky-header-on {
  page-header {
    .page-header {
      .container {
        z-index: 12;
        position: relative;
      }
    }
  }
}

.product-header .star-rating {
  text-align: center;

  .star-number {
    font-size: 1.7em;
    font-weight: 100;
  }

  .star-group {
    font-size: 14px;

    .star {
      display: inline-block;

      &.half-star {
        width: 7px;
        overflow: hidden;
        vertical-align: middle;
      }
    }
  }

  .star-text {
    font-size: .8em;
    margin-top: .5em;
  }
}
