<div ng-if="$ctrl.enableComponent">
    <span ng-bind-html="$ctrl.data.subHeaderText"></span>
    <form name="newsLetterForm" ng-submit="$ctrl.submitForm(newsLetterForm)" novalidate _lpchecked="1" ng-if="!$ctrl.optedInComplete">
        <div class="form-element">
            <span ng-bind-html="$ctrl.data.headerText"></span>
            <input name="email" ng-model="$ctrl.email" type="email"  ng-class="{'invalid-input': !$ctrl.fieldIsValid}"
                   placeholder="{{$ctrl.data.inputPlaceHolderText}}" required>
        </div>
        <div class="form-element buttons">
            <input type="submit" class="button green" value="{{::$ctrl.data.buttonText}}">
        </div>
    </form>
    <div ng-if="$ctrl.optedInComplete" >
        <span ng-bind-html="$ctrl.data.thankYouText"></span>
    </div>

</div>
