
/***************************************
	Promo
***************************************/
.promo-section-container.container {
  padding-bottom: 0;
}

.promo-border-left {
  border-left: 1px solid #e5e5e5;
}

.promo-section {
  position: relative;
  background-repeat: no-repeat;
  background-position: 0 50%;
  background-size: cover;

  &:before {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 1;
    background: #fff;
    opacity: .75;
  }

  &.no-bottom-margin {
    margin-bottom: 0;
  }

  &.margin-top {
    margin-top: 4em;
  }

  &.text-align-left {
    .container {
      text-align: left;
    }
  }

  .container {
    z-index: 10;
    text-align: center;
  }

  p {
    font-size: 1.125em;
  }

  [class*="col-"] {
    padding: 2.5em 2em 2em;
  }

  &.rsa-banner {
    .container {
      width: 100%;
      max-width: 100%;
    }
  }

  &.no-opacity {
    &:before {
      display: none;
    }

    .section-footer {
      a {
        background: #fff;
      }
    }
  }
}

[template="ent-3.0"] {
  .promo-section-container {
    .promo-section {
      picture {
        img {
          @media (max-width: 768px) {
            width: 100%;
            height: auto;
          }
        }
      }
    }
  }
}

@include media(769px) {
  .promo-section {
    &:before {
      opacity: .5;
    }

    .container {
      max-width: 45em;

      &.row {
        max-width: 1030px;
      }
    }

    &.wide {
      .container {
        max-width: 1030px;
      }
    }
  }
}

/***************************************
	Promo columns
***************************************/
.promo-columns {
  [class*="section-col-"] {
    max-width: 1920px;
  }

  ul {
    display: flex;
    flex-wrap: wrap;
    align-items: stretch;
    margin-bottom: 0;

    li.promo-item {
      background: #fff;
      padding: 2em;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      border-bottom: 1px solid #e3e3e3;
      position: relative;

      &:last-child {
        border-bottom: 0;
      }

      .promo-item-content {
        margin-bottom: 1em;

        p {
          font-size: .8125em;
          margin-bottom: 0;
        }
      }

      .promo-item-footer {
        display: flex;
        align-items: flex-end;
        justify-content: space-between;
      }

      .promo-item-actions {
        a.button {
          margin-bottom: 0;
          display: inline-block;
        }
      }

      .promo-item-icon {
        min-width: 4.25em;
        padding: 0 .5em;
      }

      &.grey {
        background: #f8f8f8;
      }

      &.green-background {
        background: $kgreen url(../images/bg-pattern-green.jpg) 50% 50% no-repeat;
        background-size: cover;
      }
    }
  }
}

@include media(769px) {
  .promo-columns {
    ul {
      li.promo-item {
        border-bottom: 0;
        border-right: 1px solid #e3e3e3;

        &:last-child {
          border-right: 0;
        }
      }
    }
  }
}

.csr-and-about {
  display: block;
  padding-bottom: 2em;

  .csr-col {
    padding: 2em 0;
  }

  .about-col {
    padding: 2em;
    background-position: top left;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;

    .about-col-content {
      z-index: 10;
      position: relative;
    }

    &:after {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      width: 100%;
      background: rgba(255, 255, 255, .9);
      z-index: 0;
    }
  }
}

@include media(769px) {
  .csr-and-about {
    padding-bottom: 0;

    .container {
      padding-bottom: 0;
    }

    .csr-col {
      @include span-columns(6, no-gutter);
      padding: 5.5em 4em 5.5em 0;
    }

    .about-col {
      @include span-columns(6, no-gutter);
      padding: 5.5em 0 5.5em 4em;
      border-left: 1px solid #e3e3e3;
      background-size: contain;
      margin-left: -1px; // hack

      &:after {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        bottom: 0;
        width: 50%;
        background: transparent;

        @include background-image(linear-gradient(left, rgba(255, 255, 255, .5) 5%, rgba(255, 255, 255, .8) 50%, rgba(255, 255, 255, 1) 80%));
        z-index: 0;
      }
    }
  }
}

.news-section {
  padding: 6em 0;
  background: #f8f8f8;

  .container {
    padding-bottom: 0;
  }

  ul.news-section-list {
    li {
      padding: .25em 0;

      &:before {
        display: none;
      }

      span {
        font-size: .8125em;
        color: #444;
      }

      a {
        font-size: .9375em;
        display: block;
      }
    }
  }
}
