<div ng-if="$ctrl.data.length && $ctrl.template !== 'columns' && $ctrl.template !== 'csr' && $ctrl.template !== 'news'" class="promo-section-container" ng-class="{'container': $ctrl.data.length > 1 && $ctrl.data.length < 4}">
	<div class="no-gutter" ng-class="{' row': $ctrl.data.length > 1 && $ctrl.data.length < 4}">
		<div ng-repeat="promotion in $ctrl.data" ng-class="{'{{'col-l-' + 12 / $ctrl.data.length}}' : $ctrl.data.length > 1}">
			<a ng-hide="!promotion.sectionID" id="{{promotion.sectionID}}" class="offset"></a>
			<section  ng-class="{'promo-border-left': $index > 0}" class="promo-section {{promotion.sectionClass}}" ng-style="$ctrl.getBackGroundImage(promotion)">
				<div class="container promo-section-banner">
					<h3 ng-if="promotion.header" class="section-title" ng-bind-html="promotion.header | xpm:'NGPromoSection':'header'"></h3>

					<div ng-if="promotion.textBlock" ng-bind-html="promotion.textBlock | xpm:'NGPromoSection':'textBlock'"></div>

					<div ng-if="promotion.htmlBlock" ng-bind-html="promotion.htmlBlock | xpm:'NGPromoSection':'htmlBlock'"></div>

					<footer ng-if="promotion.ctaButton.length" class="section-footer {{::promotion.footerClass}}">
						<p ng-repeat="button in promotion.ctaButton">
							<a ng-if="button.isExternal != 'Yes'" ng-href="{{::button.link}}" ng-bind-html="button.text | xpm:'NGPromoSection':'text'" class="button {{::button.class}}">{{::button.text}}</a>
							<a ng-if="button.isExternal == 'Yes'" ng-href="{{::button.link}}" ng-bind-html="button.text | xpm:'NGPromoSection':'text'" class="button {{::button.class}}" target="_blank">{{::button.text}}</a>
						</p>
						<p ng-if="promotion.noteText" class="note" ng-bind-html="promotion.noteText | xpm:'NGPromoSection':'noteText'"></p>
					</footer>
				</div>
			</section>
		</div>
	</div>
</div>

<div ng-if="$ctrl.data && $ctrl.template === 'columns'" class="promo-columns divider no-margin">
	<ul class="section-col-xl-4 no-gutter">
		<li ng-repeat="promotion in $ctrl.data" ng-class-odd="'grey'" class="promo-item" ng-bind-html="promotion.htmlBlock | xpm:'NGPromoSection':'htmlBlock'"></li>
	</ul>
</div>

<div ng-if="$ctrl.data && $ctrl.template === 'csr'" class="csr-and-about divider no-margin">
	<div class="container">
		<div ng-repeat="promotion in $ctrl.data" ng-bind-html="promotion.htmlBlock | xpm:'NGPromoSection':'htmlBlock'"></div>
	</div>
</div>

<div ng-if="$ctrl.data && $ctrl.template === 'news'">
	<div ng-repeat="promotion in $ctrl.data" ng-bind-html="promotion.htmlBlock | xpm:'NGPromoSection':'htmlBlock'"></div>
</div>