$kgreen: #006D5C;
$kred: #ED2939;
$bordergreen: #009981;
$blue: #80A3B3;
$lightblue: #F6FBFD;
$darkblue: #3D5058;
$borderblue: #E2EDF2;
$kpurple: #AC599F;
$text: #444;

/* Redesign */
$klgreen: #00A88E;
$klgrey: #575757;
$klblack: #333;

$tablet: 'only screen and (min-width: 768px)';
$desktop: 'only screen and (min-width: 1064px)';
