.news-letter-popup {
  position: fixed;
  display: none;
  bottom: 10px;
  right: 40px;
  padding: 10px;
  color: #FFF;
  background-color: lighten($kgreen, 10%);
  border-radius: 5px;
  font-size: 1rem;
  box-shadow: 1px 1px 5px 1px rgba(0, 0, 0, .25);
  transition: max-height .5s ease-in-out, width .25s ease-out;
  z-index: 499;

  @include media(481px) {
    display: block;
  }

  &:not(.nlp-opened) {
    width: 3.5rem;
    height: 3.5rem;
    max-height: 3.5rem;
    text-align: center;
    border-radius: 100%;
    cursor: pointer;
    // avoid weird closing animation by canceling the animation on the width
    transition: max-height .5s ease-in-out, width 0s ease-out;

    .nlp-closedState {
      opacity: 1;
    }
  }

  &.nlp-opened {
    width: 250px;
    padding: 10px 15px;
    overflow: hidden;
    overflow-y: auto;
    z-index: 1001; // above the header bar
  }

  input[type="email"],
  select {
    margin-bottom: .75em;

    &.ng-invalid.ng-touched {
      border-width: 2px;
    }
  }

  .nlp {
    &-openedState,
    &-closedState {
      animation: kl-fadeIn .3s forwards ease-in-out;
    }

    &-header {
      padding: 10px 0 15px;
    }

    &-header,
    &-footer {
      line-height: 1.2;

      a {
        color: #FFF;
        text-decoration: underline;
      }
    }

    &-openBtn {
      font-size: 2rem;
    }

    &-closeBtn {
      position: absolute;
      top: 0;
      right: 0;
      margin: 5px;
    }

    &-footer {
      color: $kgreen;
      font-size: .6rem;
      padding: 15px 0 0;
    }
  }

  // Marketo overrides
  .mktoForm {
    width: 100% !important;

    .mktoFormRow {
      .mktoLabel,
      .mktoGutter,
      .mktoOffset {
        display: none;
      }

      .mktoFieldWrap.mktoRequiredField {
        position: relative;
      }

      .mktoError {
        left: 25px;
        right: auto !important;
        bottom: 0 !important;
        transform: translateY(100%);
      }

      .mktoFormCol label {
        &[for="consenttoPersonalDataProcessing"],
        &[for="subscriptionSingleOptIn"] {
          display: block;
          float: right !important;
          width: calc(100% - 30px) !important;

          & + .mktoGutter.mktoHasWidth {
            display: none !important;
          }

          & + .mktoLogicalField.mktoCheckboxList {
            width: 30px;
          }

          p,
          a {
            font-size: .8rem !important;
            line-height: 1.2;
            font-family: $museosans;
          }

          p {
            color: #006D5C !important;
          }

          a {
            color: #FFF !important;
            text-decoration: underline !important;
          }
        }
      }

      .mktoFormCol,
      .mktoFieldWrap,
      input,
      select {
        width: 100% !important;
      }
    }

    .mktoButtonRow {
      width: 100% !important;
      margin-top: 10px !important;

      .mktoButtonWrap.mktoSimple {
        width: 100% !important;
        margin: 0 !important;

        button {
          width: 100% !important;
        }
      }
    }
  }
}
