<div class="product-item">
    <header class="divider">
        <figure><a ng-href="{{$ctrl.product.prodPageLink}}">
			<img ng-class="{'cursorDefault': $ctrl.hideProductLinks}" ng-src="{{$ctrl.product.fullSizeImage | addLocalRoot}}" data-test="buyblock-box--{{$ctrl.product.shortName}}" alt="product-box-KIS"/>
		</a></figure>
        <div class="tagline"><p ng-if="$ctrl.product.summary != null" data-test="buyblock-tagline--{{$ctrl.product.shortName}}">{{$ctrl.product.summary}}</p></div>
        <h2 class="product-title" data-product-name="{{$ctrl.productName}}" data-test="buyblock-title--{{$ctrl.product.shortName}}">
            <a ng-class="{'cursorDefault': $ctrl.hideProductLinks}" ng-href="{{$ctrl.product.prodPageLink}}">
                <span class="surtitle" ng-bind-html="$ctrl.product.prodKasperskyTitle"></span>
                <span>{{$ctrl.product.prodMainTitle}}</span>
                <span class="subtitle" ng-if="$ctrl.product.prodAddTitle">{{$ctrl.product.prodAddTitle}}</span>
            </a>
        </h2>
    </header>
    <div ng-class="{'divider': $ctrl.productPricesExist}" class="desc">
        <p ng-bind-html="$ctrl.product.overrideProdDescLrc || $ctrl.product.shortDesc | html" data-test="buyblock-desc--{{$ctrl.product.shortName}}"></p>
		<div class="meta reviews">
			<bazaarvoice data-test="buyblock-reviews--{{$ctrl.product.shortName}}" product-id="{{::$ctrl.product.bvId}}" ng-if="$ctrl.product.bvId"></bazaarvoice>
		</div>
    </div>
    <div class="buy-block" ng-if="$ctrl.productPricesExist">
        <form>
            <div class="divider">
                <div class="form-element">
                    <select class="device-number"
							ng-if="!$ctrl.hidePack"
                            ng-options="pack disable when $ctrl.isPackDisabled(pack) for pack in $ctrl.packArr"
                            ng-model="$ctrl.packValue"
                            ng-change="$ctrl.setCurrentValue('pack')"
                            ng-disabled="$ctrl.disablePackSelect"
                            data-test="buyblock-packs--{{$ctrl.product.shortName}}"></select>
                </div>
                <div class="form-element">
                    <select class="years"
                            ng-model="$ctrl.termValue"
                            ng-options="term disable when $ctrl.isTermDisabled(term) for term in $ctrl.termArr"
                            ng-change="$ctrl.setCurrentValue('term')"
                            ng-disabled="$ctrl.disableTermSelect"
                            data-test="buyblock-terms--{{$ctrl.product.shortName}}"></select>
                </div>
                <div class="form-element checkbox text-center no-margin"
                     ng-class="{selected: $ctrl.autorenew, renewalVisibility: !$ctrl.renewalAvailable}">
                  <div ng-if="$ctrl.renewalAvailable && $ctrl.showAR == 'true'">
                    <label class="yes" data-test="buyblock-renewalchkbox--{{$ctrl.product.shortName}}">
                        <input type="checkbox" ng-model="$ctrl.autorenew" ng-checked="true" ng-change="$ctrl.setCurrentValue()" ng-click="$ctrl.registerOnce(true)">
                        {{$ctrl.buyblockData.autoRenewal}}
                    </label>
                    <span ng-click="$ctrl.showARPopup()" class="font-icons icon-help tooltip" data-test="buyblock-renewal--{{$ctrl.product.shortName}}"></span>
                  </div>
              </div>
            </div>
            <div class="price">
                <p class="price-old">
                    <span class="price-saving"
                          ng-if="$ctrl.discountLabel" data-test="buyblock-price-discount--{{$ctrl.product.shortName}}">{{$ctrl.discountLabel}}</span>
                    <span class="price-new"
                          data-test="buyblock-price--{{$ctrl.product.shortName}}">{{$ctrl.currentValue.price | customCurrency}}<span ng-if="$ctrl.showLabelFR"> HT</span>{{$ctrl.disclaimerObj.asterisk}}</span>
                    <span class="price-cut"
                          ng-if="$ctrl.currentValue.price_striked"
                          data-test="buyblock-price-cut--{{$ctrl.product.shortName}}">{{$ctrl.currentValue.price_striked | customCurrency}}{{$ctrl.disclaimerObj.asterisk}}</span>
                    <span class="price-saving"
                          ng-if="$ctrl.isPriceSavingDisplayed()"
                          data-test="buyblock-price-saving--{{$ctrl.product.shortName}}">
                        <span ng-if="$ctrl.getSavings('rate')" ng-bind-html="$ctrl.getSavings('rate')" data-test="buyblock-price-saving--{{$ctrl.product.shortName}}"></span>
                    </span>
                </p>
            </div>
            <buyblock-user-account account-info-override="{{$ctrl.product.accountInfo}}"
                                   description-popup="{{$ctrl.product.accountDesc}}"
                                   label="{{$ctrl.product.userAccountText}}"
                                   count="$ctrl.currentValue['user-accounts']"></buyblock-user-account>
            <div class="form-element buttons">
                <a ng-href="{{$ctrl.buyLink}}" ng-click="$ctrl.addSalesTrackingParameters($event)" data-omniture-sale-button-type="{{$ctrl.omnitureText}}" data-omniture-product-name="{{$ctrl.productName}}" data-test="buyblock-buy--{{$ctrl.product.shortName}}">
                    <div class="button green" ng-if="$ctrl.purchaseType == 'Renewal' && !$ctrl.upgradeButton">{{$ctrl.buyblockData.renewText}}</div>
                    <div class="button green" ng-if="$ctrl.purchaseType == 'Purchase' && !$ctrl.upgradeButton">{{$ctrl.buyblockData.buyText}}</div>
                    <div class="button green" ng-if="$ctrl.upgradeButton || $ctrl.purchaseType=='Upgrade'">{{$ctrl.buyblockData.upgradeText}}</div>
                </a>
            </div>
            <p class="disclaimer-58" ng-if="$ctrl.disclaimerObj.disclaimer" ng-bind-html="$ctrl.disclaimerObj.disclaimer|html"></p>
            <p ng-if="$ctrl.product.buyText && $ctrl.locale === 'en-us'" ng-bind-html="$ctrl.product.buyText"></p>

        </form>
        <!--<a ng-href="{{$ctrl.product.freeTrialLink}}" class="button transparent full-width">{{$ctrl.product.freeTrialText}}</a>-->
    </div><!-- /buy-block -->
    <div class="buy-block" ng-if="$ctrl.product.bbSettings.purchaseType != 'Free' && !$ctrl.productPricesExist">
        <product-unavailable-block ng-switch on="$ctrl.buyblockData.unavailableMsgType">
            <product-unavailable-msg ng-switch-when="b2c" ng-bind-html="$ctrl.buyblockData.buyblock_not_available_msg"></product-unavailable-msg>
            <product-unavailable-msg ng-switch-when="b2b" ng-bind-html="$ctrl.buyblockData.buyblock_not_available_b2b_msg"></product-unavailable-msg>
            <p ng-switch-default>This product is currently unavailable in your region. Please <a href="/about/contact">contact us</a> for further details.</p>
        </product-unavailable-block>
    </div>
</div><!-- /product-item -->
