<div class="product-item" ng-class="{'featured-item': $ctrl.highlighted == 'true'}">
    <div class="promoline" ng-if="$ctrl.highlighted == 'true'" ng-bind-html="$ctrl.getPromoline()"></div>
    <header class="divider">
        <figure><a ng-href="{{::$ctrl.product.prodPageLink}}"><img ng-class="{'cursorDefault': $ctrl.hideProductLinks}" ng-src="{{::$ctrl.product.fullSizeImage}}" alt="product-box-KIS"/></a></figure>
        <div class="tagline"><p ng-if="$ctrl.product.summary != null">{{::$ctrl.product.summary}}</p></div>
        <h2 class="product-title" data-product-name="{{$ctrl.productName}}">
            <a ng-class="{'cursorDefault': $ctrl.hideProductLinks}" ng-href="{{::$ctrl.product.prodPageLink}}">
                <span class="surtitle" ng-bind-html="$ctrl.product.prodKasperskyTitle">{{::$ctrl.product.prodKasperskyTitle}}</span>
                <span>{{::$ctrl.product.prodMainTitle}}</span>
                <span class="subtitle" ng-if="$ctrl.product.prodAddTitle">{{::$ctrl.product.prodAddTitle}}</span>
            </a>
        </h2>
    </header>
    <div class="desc divider">
        <p ng-bind-html="$ctrl.product.shortDesc | html"></p>
        <div class="meta reviews" ng-if="$ctrl.product.bvId">
            <bazaarvoice product-id="{{::$ctrl.product.bvId}}"></bazaarvoice>
        </div>
    </div>
    <buyblock-user-account account-info-override="{{$ctrl.product.accountInfo}}"
                           description-popup="{{$ctrl.product.accountDesc}}"
                           label="{{$ctrl.product.userAccountText}}"
                           count="$ctrl.selectedOption['user-accounts']"></buyblock-user-account>
    <div class="buy-block" ng-if="$ctrl.product.bbSettings.purchaseType != 'Free' && $ctrl.productPricesExist">
        <form class="form">
          <div class="radio-group divider">
            <div class="form-element radio" ng-repeat="radio in $ctrl.priceList | filter:$ctrl.radioFilter | limitTo:$ctrl.limitTo">
                <input  type="radio"
                        ng-model="$ctrl.selectedID"
                        ng-value='{{radio.id}}'
                        id="{{$ctrl.$id}}-{{radio.product_id}}-{{radio.id}}"
                        name="radio-item3"
                        ng-change="$ctrl.setSelectedOption()">
                <label for="{{$ctrl.$id}}-{{radio.product_id}}-{{radio.id}}">
                    <span class="choose">{{radio.pack}} <span>{{radio.term}}</span></span>
                    <span class="price">
                        <span class="price-new">{{radio.price | customCurrency}}{{$ctrl.disclaimerObj.asterisk}}</span>
                    </span>
                </label>
            </div>
          </div>

            <div class="form-element checkbox text-center no-margin" ng-class="{selected: $ctrl.autorenew}" ng-if="$ctrl.showAR == 'true'">
                <label class="yes" data-test="buyblock-renewalchkbox--{{$ctrl.product.shortName}}">
                    <input type="checkbox" checked="checked" ng-model="$ctrl.autorenew" ng-change="$ctrl.setselectedOption()" ng-click="$ctrl.registerOnce(true)">
                    {{$ctrl.buyblockData.autoRenewal}}
                </label>
                <span ng-click="$ctrl.showARPopup()" class="font-icons icon-help tooltip" data-test="buyblock-renewal--{{$ctrl.product.shortName}}"></span>
            </div>
            <div class="price">
                <p>{{$ctrl.selectedOption.price | customCurrency}}{{$ctrl.disclaimerObj.asterisk}}</p>
                <p class="price-old" ng-if="$ctrl.selectedOption.price_striked">
                    <span class="price-cut">{{$ctrl.selectedOption.price_striked | customCurrency}}{{$ctrl.disclaimerObj.asterisk}}</span>
                    <span class="price-saving" ng-bind-html="$ctrl.buyblockData.saveRate">{{$ctrl.buyblockData.saveRate | html}}</span>
                </p>
            </div>
            <div class="form-element buttons">
                <div class="form-element buttons">
                    <a ng-href="{{$ctrl.buyLink}}" ng-click="$ctrl.addSalesTrackingParameters(($event))" data-omniture-sale-button-type="Buy" data-omniture-product-name="{{$ctrl.productName}}">
                        <div class="button" ng-class="{'green': $ctrl.highlighted != 'true', 'red': $ctrl.highlighted == 'true' || $ctrl.product.shortName == 'kisa'}">{{$ctrl.buyblockData.buyText}}</div>
                    </a>
                </div>
                <a ng-if="$ctrl.hasTrialButton()" ng-href="{{$ctrl.product.freeTrialLink}}" class="button transparent text-green full-width">{{$ctrl.buyblockData.tryFor}}</a>
            </div>
        </form>
        <div class="buy-block-footer">
            <p ng-if="!$ctrl.compare">
                <span>{{$ctrl.buyblockData.forExistingUsers}}</span>
                <a href="/renewal-center/home" class="green">{{$ctrl.buyblockData.renew}}</a>
                <a href="{{$ctrl.productInfo.updateLink}}" ng-hide="$ctrl.product.shortName == 'kpm'">{{$ctrl.buyblockData.update}}</a>
            </p>
            <p ng-show="$ctrl.showMoreDevices">
                <a class="more open-buyblock-popup" ng-click="$ctrl.showPopup = true" ng-href="#buyblock-popup-{{$ctrl.$id}}">{{$ctrl.product.needMore || $ctrl.buyblockData.needMore}}</a>
            </p>
            <p ng-if="$ctrl.disclaimerObj.disclaimer" ng-bind-html="$ctrl.disclaimerObj.disclaimer|html"></p>
        </div><!-- /buy-block-footer -->
    </div><!-- /buy-block -->
    <div class="buy-block" ng-if="$ctrl.product.bbSettings.purchaseType != 'Free' && !$ctrl.productPricesExist">
        <product-unavailable-block ng-switch="$ctrl.buyblockData.buyblock_not_available_msg.length > 0">
            <product-unavailable-msg ng-switch-when="true" ng-bind-html="$ctrl.buyblockData.buyblock_not_available_msg"></product-unavailable-msg>
            <p ng-switch-default>This product is currently unavailable in your region. Please <a href="/about/contact">contact us</a> for further details.</p>
        </product-unavailable-block>

    </div><!-- /buy-block -->
    <div class="buy-block" ng-if="$ctrl.product.bbSettings.purchaseType == 'Free'">
        <div class="price">
            <p>{{$ctrl.buyblockData.freeProduct}}</p>
        </div>

        <div class="radio-group divider"></div>
        <div class="form-element checkbox text-center no-margin"></div>

        <div class="form-element buttons">
            <div class="form-element buttons">
                <a ng-href="{{$ctrl.product.bbSettings.downloadFromGplayLink}}">
                    <div class="button green">{{$ctrl.product.bbSettings.downloadFromGplayText}}</div>
                </a>
            </div>
        </div>
    </div><!-- /buy-block -->

</div><!-- /product-item -->
<div id="buyblock-popup-{{$ctrl.$id}}" class="mfp-hide buy-block-popup">
    <div class="container" ng-if="$ctrl.showPopup">
        <div class="buy-box-wrapper">
            <div class="buy-block">
                <div class="price divider">
                    <p>{{$ctrl.selectedOption.price | customCurrency}}{{$ctrl.disclaimerObj.asterisk}}</p>
                    <p class="price-old" ng-if="$ctrl.selectedOption.price_striked">
                        <span class="price-cut">{{$ctrl.selectedOption.price_striked | customCurrency}}{{$ctrl.disclaimerObj.asterisk}}</span>
                        <span class="price-saving" ng-bind-html="$ctrl.buyblockData.saveRate">{{$ctrl.buyblockData.saveRate | html}}</span>
                    </p>
                </div>
                <form>
                    <div class="radio-group divider">
                      <div class="form-element radio" ng-repeat="radio in $ctrl.priceList | filter: {'autorenew': $ctrl.autorenew}">
                          <input  type="radio"
                                  ng-model="$ctrl.selectedID"
                                  ng-value='{{radio.id}}'
                                  id="{{$ctrl.$id}}-{{radio.product_id}}-{{radio.id}}"
                                  name="radio-item3"
                                  ng-change="$ctrl.setSelectedOption()">
                          <label for="{{$ctrl.$id}}-{{radio.product_id}}-{{radio.id}}">
                              <span class="choose">{{radio.pack}} <span>{{radio.term}}</span></span>
                              <span class="price">
                                  <span class="price-new">{{radio.price | customCurrency}}{{$ctrl.disclaimerObj.asterisk}}</span>
                              </span>
                          </label>
                      </div>
                    </div>
                    <div class="form-element checkbox text-center no-margin" ng-class="{selected: $ctrl.autorenew}" ng-if="$ctrl.showAR == 'true'" ng-click="$ctrl.registerOnce()">
                        <label class="yes" data-test="buyblock-renewalchkbox--{{$ctrl.product.shortName}}">
                            <input type="checkbox" checked="checked" ng-model="$ctrl.autorenew" ng-change="$ctrl.applyOption()"   ng-click="$ctrl.registerOnce(true)">
                            {{$ctrl.buyblockData.autoRenewal}}
                        </label>
                        <span ng-click="$ctrl.showARPopup()" data-test="buyblock-renewal--{{$ctrl.product.shortName}}" class="font-icons icon-help tooltip"></span>
                    </div>
                    <div class="form-element buttons">
                        <a ng-href="{{$ctrl.buyLink}}" ng-click="$ctrl.addSalesTrackingParameters($event)" data-omniture-sale-button-type="Buy" data-omniture-product-name="{{$ctrl.productName}}">
                            <div class="button red">{{::$ctrl.buyblockData.buyText}}</div>
                        </a>
                    </div>
                    <p ng-if="$ctrl.disclaimerObj.disclaimer" style="text-align:center;">{{$ctrl.disclaimerObj.disclaimer}}</p>
                </form>
            </div><!-- /buy-block -->
        </div> <!-- /buy-block wrapper -->
    </div>
</div>
