<div class="product-item image-top-l">
    <header class="divider">
        <figure>
            <a href="{{$ctrl.product.prodPageLink}}">
              <img ng-class="{'cursorDefault': $ctrl.hideProductLinks}" ng-src="{{$ctrl.product.prodIcon | addLocalRoot}}" alt="{{$ctrl.product.shortName}}" data-test="buyblock-box--{{$ctrl.product.shortName}}" />
            </a>
        </figure>
        <h2 class="product-title" data-product-name="{{$ctrl.productName}}">
          <a ng-class="{'cursorDefault': $ctrl.hideProductLinks}" href="{{$ctrl.product.prodPageLink}}">
            <span>{{$ctrl.product.prodAddTitle}}</span>
            <span class="subtitle light">{{$ctrl.product.prodMainTitle}}</span>
          </a>
        </h2>
    </header>
    <div class="desc divider">
        <div class="text" ng-bind-html="$ctrl.product.shortDesc | html"></div>
        <p class="icon-wrapper">
            <a ng-if="$ctrl.product.pdfLink" href="{{$ctrl.product.pdfLink}}" class="icon-doc icon-pdf" target="_blank">{{$ctrl.buyblockData.learnMore}}</a>
        </p>
    </div>

    <div class="buy-block" ng-if="$ctrl.productPricesExist">
        <div class="price">
            <p data-test="buyblock-price--{{$ctrl.product.shortName}}">{{$ctrl.currentValue.price | customCurrency}}{{$ctrl.disclaimerObj.asterisk}}</p>
            <p class="price-old">
                <span class="price-cut" ng-if="$ctrl.currentValue.price_striked" data-test="buyblock-price-cut--{{$ctrl.product.shortName}}">{{$ctrl.currentValue.price_striked | customCurrency}}{{$ctrl.disclaimerObj.asterisk}}</span>
                <span class="price-saving" ng-if="$ctrl.getSavings('text')" ng-bind-html="$ctrl.getSavings('text')" data-test="buyblock-price-saving--{{$ctrl.product.shortName}}"></span>
            </p>
        </div>
        <form name="formName">
            <div ng-if="$ctrl.isCustomLocale" class="form-element">
                <div class="b2b-prices-description" ng-if="$ctrl.packValue && $ctrl.locale !== 'fr-fr'">
                    {{$ctrl.buyblockData.enterDesktopsFrom}} {{$ctrl.minValue}} {{$ctrl.buyblockData.to}} {{$ctrl.maxValue}}
                </div>
                <div class="b2b-prices-description" ng-if="$ctrl.packValue && $ctrl.locale === 'fr-fr'">
                    {{$ctrl.buyblockData.from}} {{$ctrl.minValue}} {{$ctrl.buyblockData.to}} {{$ctrl.maxValue}} {{$ctrl.buyblockData.enterDesktopsFromPost}}
                </div>
				<select class="device-number" ng-model="$ctrl.packValue" ng-options="pack for pack in $ctrl.packArr" ng-change="$ctrl.setCurrentValue()"
						data-test="buyblock-device-number--{{$ctrl.product.shortName}}-{{pack}}"></select>
            </div>
            <div ng-if="!$ctrl.isCustomLocale" class="form-element">
                <div class="b2b-prices-description">
                    {{$ctrl.buyblockData.enterDesktopsFrom}} {{$ctrl.minValue}} {{$ctrl.buyblockData.to}}
                    {{$ctrl.maxValue}}
                </div>
                <input class="device-number"
                       min="{{$ctrl.minValue}}"
                       required
                       ng-change="$ctrl.setCurrentValue()"
                       ng-model="$ctrl.packValue"
                       type="number"
					   data-test="buyblock-device-number--{{$ctrl.product.shortName}}-{{pack}}"
                       placeholder="Enter desktops from {{$ctrl.minValue}} to {{$ctrl.maxValue}}" />
            </div>
            <div class="form-element">
                <select class="years" ng-model="$ctrl.termValue" ng-options="pack for pack in $ctrl.termArr" ng-change="$ctrl.setCurrentValue()"
						data-test="buyblock-years--{{$ctrl.product.shortName}}-{{term}}"></select>
            </div>
        </form>
        <div class="form-element buttons">
          <a ng-href="{{$ctrl.buyLink}}" data-test="buyblock-buy--{{$ctrl.product.shortName}}" ng-click="$ctrl.addSalesTrackingParameters(($event))" data-omniture-sale-button-type="Buy" data-omniture-product-name="{{$ctrl.productName}}">
            <div class="button red">{{$ctrl.buyblockData.buyText}}</div>
          </a>
        </div>
        <a ng-if="$ctrl.overrideTrialButtonLink || $ctrl.product.bbSettings.overrideFreeTrialLink || $ctrl.hasTrialButton()"
           ng-href="{{$ctrl.overrideTrialButtonLink || $ctrl.product.bbSettings.overrideFreeTrialLink || $ctrl.product.freeTrialLink}}"
           class="button transparent text-green full-width" data-test="buyblock-free-trial--{{$ctrl.product.shortName}}">
            {{$ctrl.overrideTrialButtonText || $ctrl.product.bbSettings.overrideFreeTrialText || $ctrl.buyblockData.tryFor}}
        </a>
        <a
            data-test="buyblock-partner--{{$ctrl.product.shortName}}"
            ng-if="$ctrl.locale === 'ru-ru'"
            ng-href="{{$ctrl.product.findPartnerLink}}"
            target="{{$ctrl.product.findPartnerIsExternal[0] == 'Yes' ? '_blank' : ''}}"
            class="button transparent text-green full-width"
            ng-bind="::$ctrl.product.findPartnerText"></a>
        <p ng-if="$ctrl.disclaimerObj.disclaimer" ng-bind-html="$ctrl.disclaimerObj.disclaimer|html"></p>
    </div><!-- /buy-block -->
    <div class="buy-block" ng-if="!$ctrl.productPricesExist">
        <product-unavailable-block ng-switch="$ctrl.buyblockData.buyblock_not_available_msg.length > 0" ng-if="$ctrl.curState != 'vsb' && $ctrl.curState != 'smb' || $ctrl.isCustomLocale">
            <product-unavailable-msg ng-switch-when="true" ng-bind-html="$ctrl.buyblockData.buyblock_not_available_msg"></product-unavailable-msg>
            <p ng-switch-default>This product is currently unavailable in your region. Please <a href="/about/contact">contact us</a> for further details.</p>
        </product-unavailable-block>
        <product-unavailable-block ng-switch on="$ctrl.buyblockData.unavailableMsgType" ng-if="($ctrl.curState == 'vsb' || $ctrl.curState == 'smb') && !$ctrl.isCustomLocale">
            <product-unavailable-msg ng-switch-when="b2b" ng-bind-html="$ctrl.buyblockData.buyblock_not_available_b2b_msg"></product-unavailable-msg>
            <product-unavailable-msg ng-switch-when="b2c" ng-bind-html="$ctrl.buyblockData.buyblock_not_available_msg"></product-unavailable-msg>
            <p ng-switch-default>This product is currently unavailable in your region. Please <a href="/about/contact">contact us</a> for further details.</p>
        </product-unavailable-block>
    </div><!-- /buy-block -->
</div><!-- /product-item -->
