<div class="buy-box-wrapper move-up">
    <div class="buy-block" ng-if="$ctrl.productPricesExist">
        <div class="price">
            <p data-test="buyblock-price--{{$ctrl.product.shortName}}" ng-style="{'font-size' : ($ctrl.currentValue.price | customCurrency).length >= 15 ? '1.75em' : '2em'}">{{$ctrl.currentValue.price | customCurrency}}{{$ctrl.disclaimerObj.asterisk}}</p>
            <p class="price-old" ng-if="$ctrl.currentValue.price_striked">
                <span class="price-cut" data-test="buyblock-price-cut--{{$ctrl.product.shortName}}">{{$ctrl.currentValue.price_striked | customCurrency}}{{$ctrl.disclaimerObj.asterisk}}</span>
                <span class="price-saving" ng-if="$ctrl.currentValue.price_striked && $ctrl.buyblockData.saveRate" data-test="buyblock-price-saving--{{$ctrl.product.shortName}}">
                    <span>{{$ctrl.buyblockData.saveRate}}</span> {{$ctrl.currentValue.price_striked - $ctrl.currentValue.price | customCurrency}}
                </span>
            </p>
        </div>
        <form ng-if="$ctrl.productPricesExist">
            <div class="form-element select-wrapper">
                <select class="device-number" tabindex="-1" aria-hidden="true" ng-model="$ctrl.packValue" ng-options="pack for pack in $ctrl.packArr" ng-change="$ctrl.setCurrentValue()" data-test="buyblock-packs--{{$ctrl.product.shortName}}"></select>
            </div>
            <div class="form-element select-wrapper">
                <select class="years" tabindex="-1" aria-hidden="true" ng-model="$ctrl.termValue" ng-options="pack for pack in $ctrl.termArr" ng-change="$ctrl.setCurrentValue()" data-test="buyblock-terms--{{$ctrl.product.shortName}}"></select>
            </div>
            <div ng-class="{selected: $ctrl.autorenew}" ng-if="$ctrl.hideArCheckbox !== 'true'" class="form-element checkbox">
                <div ng-if="$ctrl.renewalAvailable && $ctrl.showAR == 'true'">
                    <input ng-model="$ctrl.autorenew" ng-checked="true" ng-change="$ctrl.setCurrentValue()" ng-click="$ctrl.registerOnce(true)" type="checkbox" id="autorenew-1" checked="checked">
                    <label for="autorenew-1" class="yes">{{$ctrl.buyblockData.autoRenewal}}</label>
                    <span ng-click="$ctrl.showARPopup()" class="font-icons icon-help tooltip" data-test="buyblock-renewal--{{$ctrl.product.shortName}}"></span>
                </div>
            </div>
            <div class="form-element buttons">
                <a ng-href="{{$ctrl.buyLink}}" ng-click="$ctrl.addSalesTrackingParameters($event)" data-omniture-sale-button-type="{{$ctrl.omnitureText}}" data-omniture-product-name="{{$ctrl.productName}}" data-test="buyblock-buy--{{$ctrl.product.shortName}}">
                    <div class="button red" ng-if="$ctrl.purchaseType == 'Renewal' && !$ctrl.upgradeButton">{{$ctrl.buyblockData.renewText}}</div>
                    <div class="button red" ng-if="$ctrl.purchaseType == 'Purchase' && !$ctrl.upgradeButton">{{$ctrl.buyblockData.buyText}}</div>
                    <div class="button red" ng-if="$ctrl.upgradeButton || $ctrl.purchaseType=='Upgrade'">{{$ctrl.buyblockData.upgradeText}}</div>
                </a>
            </div>
        </form>

        <div class="buy-block-footer text-center">
            <p ng-if="$ctrl.disclaimerObj.disclaimer" ng-bind-html="$ctrl.disclaimerObj.disclaimer|html"></p>
        </div><!-- /buy-block-footer -->
    </div><!-- /buy-block -->

    <div class="buy-block" ng-if="!$ctrl.productPricesExist">
        <product-unavailable-block ng-switch="$ctrl.buyblockData.buyblock_not_available_msg.length > 0" ng-if="$ctrl.curState != 'vsb' && $ctrl.curState != 'smb' || $ctrl.isCustomLocale">
            <product-unavailable-msg ng-switch-when="true" ng-bind-html="$ctrl.buyblockData.buyblock_not_available_msg"></product-unavailable-msg>
            <p ng-switch-default>This product is currently unavailable in your region. Please <a href="/about/contact">contact us</a> for further details.</p>
        </product-unavailable-block>
        <product-unavailable-block ng-switch on="$ctrl.buyblockData.unavailableMsgType" ng-if="($ctrl.curState == 'vsb' || $ctrl.curState == 'smb') && !$ctrl.isCustomLocale">
            <product-unavailable-msg ng-switch-when="b2c" ng-bind-html="$ctrl.buyblockData.buyblock_not_available_msg"></product-unavailable-msg>
            <product-unavailable-msg ng-switch-when="b2b" ng-bind-html="$ctrl.buyblockData.buyblock_not_available_b2b_msg"></product-unavailable-msg>
            <p ng-switch-default>This product is currently unavailable in your region. Please <a href="/about/contact">contact us</a> for further details.</p>
        </product-unavailable-block>
    </div>

    <div class="buy-block-footer text-center">
        <p ng-if="$ctrl.hasTrialButton()">
            <span>{{$ctrl.buyblockData.notSure}}</span>
            <a ng-href="{{$ctrl.product.freeTrialLink}}" data-test="buyblock-free-trial--{{$ctrl.product.shortName}}" class="button transparent text-green full-width">{{$ctrl.buyblockData.tryFor}}</a>
        </p>
        <p>
            <a ng-if="$ctrl.product.renewLink" ng-href="{{$ctrl.product.renewLink}}" data-test="buyblock-renew--{{$ctrl.product.shortName}}" class="green">{{$ctrl.buyblockData.renew}}</a>
            <a ng-if="$ctrl.product.findPartnerLink" ng-href="{{$ctrl.product.findPartnerLink}}" data-test="buyblock-partner--{{$ctrl.product.shortName}}" target="{{$ctrl.product.findPartnerIsExternal[0] == 'Yes' ? '_blank' : ''}}">{{$ctrl.product.findPartnerText}}</a>
        </p>
    </div><!-- /buy-block-footer -->
</div>
