@import '../../../styles/variables';

.button {
  font-family: $MuseoSans;
  display: inline-block;
  min-width: 12em;
  cursor: pointer;
  color: #FFF;
  font-size: 12px;
  border: 0;
  border-radius: 1px;
  background-color: #FFF;
  border: 1px solid #D2D2D2;
  color: #818181;
  text-align: center;
  text-decoration: none;
  word-spacing: normal;
  transition: all ease-out 0.1s;

  &:hover{
    color: #686868;
    border: 1px solid #b9b9b9;
  }
}

.disabled,
.button:disabled {
    cursor: normal;
    opacity: 0.3;
}

.button span {
  margin: auto;
  font-size: 12px;
  font-weight: bold;
  text-align: center;
  text-transform: uppercase;
}

.normal {
  composes: button;
}

.lightGreen {
  composes: button;
  border: 1px solid $klgreen;
  color: $klgreen;
  
  &:hover {
    color: $kldarkGreen;
    border-color: $kldarkGreen;
  }
}

.primary {
    composes: button;
    background-color: $klprimary;
    border: 1px solid $klprimary;
    color: #FFF;
    &:hover {
      color: #FFF;
      background-color: $kldarkGreen;
      border-color: $kldarkGreen;
    }
}

.danger {
    composes: button;
    background-color: $kred;
    border: 1px solid $kred;
    color: #FFF;
    &:hover {
      color: #FFF;
      background-color: $kldarkRed;
      border-color: $kldarkRed;
    }
}

.size_sm {
    padding: 5px 10px;
}

.size_md {
    padding: 12px 15px;
}

.size_lg {
    padding: 15px 20px;
}
