.articles-list,
ul.articles-list {
  > li {
    position: relative;
    margin-bottom: 1.5em;

    .list-item {
      & > li {
        padding-left: 1em;
        list-style: none;
      }
    }
  }

  figure {
    margin-bottom: .5em;

    img {
      display: block;
      width: 100%;
    }
  }

  h2 {
    font-size: 1em;
    margin-bottom: .5em;
  }

  p {
    font-size: .875em;
    color: #777;

    &.meta {
      margin-bottom: .5em;
      font-size: em(11);
      color: #777;

      &.info {
        font-weight: 700;
        color: #bbb;
      }
    }

    &.category {
      position: absolute;
      top: 2em;
      left: 0;
      padding: .5em 1em;
      background: #444;
      color: #fff;
      text-transform: uppercase;
      font-size: em(10);
      font-weight: 700;

      a {
        color: #fff;

        &:hover {
          opacity: .8;
        }
      }
    }
  }

  .post-info {
    margin-bottom: .4em;

    p {
      margin-bottom: 0;
      color: #888;
      font-size: .75em;

      .order {
        display: inline-block;
        vertical-align: baseline;
        margin-right: .5em;
        padding: 0 .5em;
        font-size: .83334em;
        font-weight: 500;
        color: #fff;
        text-transform: uppercase;
        background: #aaa;
      }
    }
  }

  .post-location {
    p {
      margin-bottom: 0;
      font-size: .75em;
      color: #aaa;
    }
  }

  &.variant-2 {
    figure {
      img {
        box-shadow: 0 1px 1px 0 rgba(0, 0, 0, .1);
      }

      & + .meta.category {
        position: absolute;
        top: 0;
        left: 0;
      }
    }

    p {
      &.meta {
        &.date {
          font-weight: 700;
          color: #bbb;
        }
      }

      &.category {
        position: static;
        display: inline-block;
        margin-bottom: .75em;
      }
    }
  }
}

.content {
  .articles-list,
  ul.articles-list {
    > li {
      padding-top: 2em;
      border-top: 1px solid #e5e5e5;

      &:first-child {
        padding-top: 0;
        border-top: 0;

        p {
          &.category {
            top: 0;
          }
        }
      }
    }

    h2 {
      font-size: em(18);
      margin-bottom: .3em;
    }

    p {
      &.category {
        top: 3.2em;
      }
    }

    &.search-list {
      > li {
        padding-top: 0;
        border-top: 0;
      }

      p {
        margin-bottom: .5em;
      }
    }
  }
}

.secondary-articles-list,
ul.secondary-articles-list {
  @include list-reset;

  & > .item,
  & > li {
    @include clearfix;
    margin-bottom: .75em;
    background: #f8f8f8;

    figure {
      position: relative;
      margin-bottom: .25em;

      a {
        display: block;
        font-size: 2em;
        min-height: 2.75em;
        background-repeat: none;
        background-position: 50% 50%;
        background-size: cover;

        &:hover {
          &:after {
            opacity: .95;
          }
        }
      }
    }

    h2 {
      margin-bottom: 0;
      padding: .25em .75em;
      line-height: 1.25;
      font-size: em(14);
      color: #444;
      text-transform: none;

      a {
        display: block;
        font-weight: 500;
        color: #444;
        text-transform: none;
        white-space: normal;
        word-wrap: break-word;

        &:hover {
          color: $kgreen;
        }
      }
    }

    p {
      padding: 0 .875em .35em;
      margin-bottom: 0;
      font-size: .6875em;
      color: #888;
    }
  }

  &.image-aside {
    > li {
      padding-left: 6em;

      figure {
        float: left;
        margin-left: -6em;
        margin-bottom: 0;
        width: 6em;
      }

      h2 {
        padding-top: .6em;
        min-height: 4.5em;
      }
    }
  }
}

.grey-background {
  .secondary-articles-list,
  ul.secondary-articles-list {
    h2,
    p {
      padding-left: 0;
      padding-right: 0;
    }

    &.image-aside {
      & > .item,
      & > li {
        h2 {
          padding-top: 0;
          padding-left: .875em;
          min-height: 4.5em;
        }

        p {
          padding-left: .875em;
        }
      }
    }
  }
}

.resources-list,
ul.resources-list {

  .article {
    position: relative;
    margin-bottom: 2em;
    padding-bottom: .4em;
    background: #f8f8f8;
  }

  .thumbnail {
    display: block;
    background-repeat: none;
    background-position: 50% 50%;
    background-size: cover;
    height: 12em;

    img {
      visibility: hidden;
    }
  }

  h2 {
    margin-bottom: 0;
    padding: .5em .75em;
    line-height: 1.25;
    font-size: em(14);
    color: #444;
    text-transform: none;

    a {
      display: block;
      font-weight: 500;
      color: #444;
      text-transform: none;
      word-wrap: break-word;

      &:hover {
        color: $kgreen;
      }
    }
  }

  p {
    padding: 0 .875em .25em;
    margin-bottom: 0;
    font-size: .6875em;
    color: #888;

    &.category {
      position: absolute;
      top: 0;
      left: 0;
      padding: .5em 1em;
      background: #444;
      color: #fff;
      text-transform: uppercase;
      font-size: em(10);
      font-weight: 700;

      a {
        color: #fff;

        &:hover {
          opacity: .8;
        }
      }
    }
  }

  .featured {
    p {
      &.category {
        background: $kred;
      }
    }
  }
}

.blogs-list {
  > li {
    position: relative;
    margin-bottom: 1.5em;
    padding-bottom: .4em;

    h2 {
      margin-bottom: 0;
      padding: .5em 0;
      line-height: 1.25;
      font-size: em(15);
      color: #444;
      text-transform: none;

      a {
        display: block;
        font-weight: 500;
        color: $kgreen;
        text-transform: none;

        &:hover {
          color: darken($kgreen, 5%);
        }
      }
    }

    p {
      padding: 0 0 .25em;
      margin-bottom: 0;
      font-size: em(13);
      color: #888;
    }

    .badge {
      position: absolute;
      top: 0;
      left: 0;
      background: #444;
      color: #fff;
      text-transform: uppercase;
      font-size: em(10);
      font-weight: 700;

      img {
        float: left;
        display: block;
        max-height: 2.25em;
      }

      span {
        float: left;
        display: block;
        padding: 0 1em;
        color: #fff;
        line-height: 2.25em;
      }
    }
  }

  &.small-list {
    margin-bottom: 1em;

    > li {
      padding-left: 3.7em;

      figure {
        float: left;
        max-width: 3em;
        margin-left: -3.7em;
      }

      h2 {
        margin-bottom: .2em;
        padding: 0;
      }

      p {
        font-size: em(12);
        color: #aaa;
      }
    }
  }

  &.small-list {
    margin-bottom: 1em;

    > li {
      margin-bottom: .5em;
      padding-left: 3.7em;

      figure {
        float: left;
        max-width: 3em;
        margin-left: -3.7em;
      }

      h2 {
        font-size: 1em;
        margin-bottom: .2em;
        padding: 0;

        a {
          font-weight: 300;
        }
      }

      p {
        font-size: .9286em;
        color: #aaa;
        line-height: 1.3;
      }
    }
  }
}

.simple-articles-list,
ul.simple-articles-list {
  &.list-mh {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;

    > li {
      margin-bottom: 3%;
      padding-bottom: 3%;
    }
  }

  > li {
    margin-bottom: 1em;
    padding-top: 1em;
    padding-bottom: 1.5em;
    border-bottom: 1px solid #e5e5e5;
  }
}

.simple-articles-section {
  .article {
    margin-bottom: 1em;

    figure {
      margin-bottom: .5em;
    }

    h2 {
      font-size: em(15);
      margin-bottom: .4em;
      font-weight: 500;
    }

    p {
      font-size: .8125em;
      margin-bottom: .5em;
    }

    &.image-aside {
      padding-left: 10em;

      figure {
        float: left;
        margin-left: -10em;
        width: 9em;
      }
    }
  }

  ul {
    > li {
      margin-bottom: .5em;
      font-size: em(15);
    }

    h2 {
      font-size: 1em;
      font-weight: 500;
      margin-bottom: .4em;
    }

    p {
      font-size: .875em;
      margin-bottom: .5em;
    }
  }
}

@include media(481px) {
  .secondary-articles-list,
  ul.secondary-articles-list {
    &.no-image-aside-s {
      & > .item,
      & > li {
        padding-left: 0;

        figure {
          float: none;
          margin-left: 0;
          margin-bottom: .5em;
          width: 100%;
        }

        h2 {
          min-height: inherit;
          padding: 0 .75em .6em;
        }
      }
    }
  }

  .grey-background {
    .secondary-articles-list,
    ul.secondary-articles-list {
      &.no-image-aside-s {
        & > .item,
        & > li {
          h2,
          p {
            padding-left: 0;
            padding-right: 0;
          }
        }
      }
    }
  }

  .resources-list,
  ul.resources-list {
    & > li,
    .item {
      @include span-columns(6);

      &.featured {
        @include span-columns(12);
      }
    }

    .thumbnail {
      height: auto;
    }
  }
}

@include media(769px) {
  .articles-list,
  ul.articles-list {
    &.image-aside {
      > li {
        @include clearfix;
        padding-left: 9em;
      }

      figure {
        float: left;
        margin-left: -9em;
        width: 8em;
        position: relative;
      }
    }
  }

  .secondary-articles-list,
  ul.secondary-articles-list {
    &.no-image-aside-l {
      & > .item,
      & > li {
        padding-left: 0;

        figure {
          float: none;
          margin-left: 0;
          margin-bottom: .5em;
          width: 100%;
        }

        h2 {
          min-height: inherit;
          padding: 0 .75em .6em;
        }
      }
    }
  }

  .grey-background {
    .secondary-articles-list,
    ul.secondary-articles-list {
      &.no-image-aside-l {
        & > .item,
        & > li {
          h2,
          p {
            padding-left: 0;
            padding-right: 0;
          }
        }
      }
    }
  }

  .resources-list,
  ul.resources-list {
    & > li,
    .item {
      @include span-columns(3);

      &.featured {
        @include span-columns(6);
      }
    }
  }

  .article-section {
    &:first-child {
      padding-top: 4em;
    }

    article {
      .entry-header {
        padding-bottom: 2.5em;

        .entry-title {
          font-size: 3em;
        }

        .featured-image {
          top: 3em;
        }
      }

      .entry-content {
        padding-left: 10%;
        padding-right: 10%;
      }
    }
  }
}

@include media(993px) {
  .articles-list,
  ul.articles-list {
    &.image-aside {
      > li {
        padding-left: 14em;
      }

      figure {
        margin-left: -14em;
        width: 13em;
      }
    }
  }

  .secondary-articles-list,
  ul.secondary-articles-list {
    &.no-image-aside-xl {
      & > .item,
      & > li {
        padding-left: 0;

        figure {
          float: none;
          margin-left: 0;
          margin-bottom: .5em;
          width: 100%;
        }

        h2 {
          min-height: inherit;
          padding: 0 .75em .6em;
        }
      }
    }
  }

  .grey-background {
    .secondary-articles-list,
    ul.secondary-articles-list {
      &.no-image-aside-xl {
        & > .item,
        & > li {
          h2,
          p {
            padding-left: 0;
            padding-right: 0;
          }
        }
      }
    }
  }
}

.main .simple-articles-section ul > li {
  list-style: none;
  margin-left: 0;
}
