<section ng-class="$ctrl.data.sectionBlockClass" class="resource-documents" ng-if="$ctrl.data">
  <div class="container" ng-class="{divider : $ctrl.data.sectionDivider[0] === 'true'}">
    <div ng-if="$ctrl.data.title.length || $ctrl.data.sectionDescription.length" class="secondary-top-description">
      <h4 class="section-title">{{$ctrl.data.title}}</h4>

      <item-description ng-bind-html="$ctrl.data.sectionDescription">
        {{$ctrl.data.sectionDescription|html}}
      </item-description>
    </div>

    <div class="carousel {{'carousel-' + $ctrl.scopeId}}" ng-class="{'slider-disabled' : $ctrl.data.resourceDeckItems.length === 1, 'slides' : $ctrl.data.resourceDeckItems.length !== 1}">
      <div class="item-carousel" ng-repeat="deckItem in $ctrl.data.resourceDeckItems track by $index">

        <figure ng-if="deckItem.itemType === 'video'" class="item-video">
          <a ng-click="$ctrl.videoPopup(deckItem.itemUrl)" href>
            <span ng-if="deckItem.itemType === 'video'" class="meta duration">{{deckItem.metaData}}</span>

            <img ng-src="{{deckItem.coverGraphic | addLocalRoot}}" alt="{{deckItem.itemDescriptionTitle}}" title="{{deckItem.itemDescriptionTitle}}" />
          </a>
        </figure>

        <figure ng-if="deckItem.itemType === 'pdf'" class="item-cover">
          <a class="pdf-pages icon-doc icon-pdf"
             target="{{deckItem.itemUrlTarget[0] === 'true' ? '_blank' : ''}}"
             href="{{deckItem.itemUrl}}">
            <img ng-src="{{deckItem.coverGraphic | addLocalRoot}}" alt="{{deckItem.itemDescriptionTitle}}" title="{{deckItem.itemDescriptionTitle}}" />

            <span ng-if="deckItem.itemType === 'pdf' || !deckItem.itemType" class="pages">{{deckItem.metaData}}</span>
          </a>
          <a target="{{deckItem.itemUrlTarget[0] === 'true' ? '_blank' : ''}}" href="{{deckItem.itemUrl}}">{{deckItem.itemTriggerButtonText}}</a>
        </figure>

        <div ng-class="{'video': deckItem.itemType === 'video', 'item-description': deckItem.itemType != 'custom'}" class="item">
          <a ng-if="deckItem.itemType === 'video'" href ng-click="$ctrl.videoPopup(deckItem.itemUrl)" class="title">{{deckItem.itemDescriptionTitle}}</a>
          <a ng-if="deckItem.itemType === 'pdf'" href="{{deckItem.itemUrl}}" target="{{deckItem.itemUrlTarget[0] === 'true' ? '_blank' : ''}}" class="title">{{deckItem.itemDescriptionTitle}}</a>
          <span ng-if="deckItem.itemType === 'pdf' || !deckItem.itemType" class="info">{{deckItem.metaData}}</span>

          <div ng-if="deckItem.itemDescription.length" ng-bind-html="deckItem.itemDescription">
            {{deckItem.itemDescription}}
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
