.ar-popup {
  &__overlay {
    background: rgba(0, 0, 0, .5) none repeat scroll 0 0;
    bottom: 0;
    opacity: 0;
    left: 0;
    position: fixed;
    right: 0;
    top: 0;
    width: 100%;
    z-index: -1100;
    visibility: hidden;

    &_active {
      @include transition(all .1s 0s);
      display: block;
      opacity: 1;
      z-index: 1100;
      visibility: visible;
    }
  }

  &__content {
    opacity: 0;
    width: 435px;
    padding: 19px 30px 19px 44px;
    left: 0;
    right: 0;
    margin: auto;
    outline: medium none;
    position: fixed;
    top: 10%;
    z-index: -1101;
    background: #fff;
    border: 1px solid #979797;
    max-height: 85%;
    overflow-y: auto;
    visibility: hidden;

    &_active {
      @include transition(opacity .2s .1s);
      display: block;
      opacity: 1;
      z-index: 1101;
      visibility: visible;
    }

    & h3 {
      font-family: $museosans;
      font-size: 1.2em;
      font-weight: 500;
      line-height: 1.2;
      color: #262626;
    }

    & p {
      margin: 0 0 20px;
      font-family: $museosans;
      font-size: .9em;
      font-weight: 300;
      line-height: 1.2;
      color: #262626;
    }
  }

  &__content-features {
    margin-bottom: 41px;

    & img {
      vertical-align: top;
      margin-right: 9px;
    }

    & span {
      display: inline-block;
      vertical-align: middle;
      width: 85%;
    }
  }

  &__buttons {
    padding: 0 35px;
    margin-bottom: 29px;
  }

  &__asterisk {
    font-family: $museosans;
    font-size: .65em;
    font-weight: 300;
    line-height: 1.2;
    color: #888;
    position: relative;
    padding-bottom: 2em;

    &-symbol {
      position: absolute;
      top: 1px;
      left: -10px;
    }
  }

  &__close {
    display: block;
    width: 17px;
    height: 17px;
    position: absolute;
    top: 7px;
    right: 7px;
    background: url("../i/icons/ar-close.png") 0 0 no-repeat;
    cursor: pointer;
  }
}

@media screen and (max-width: 450px) {
  .ar-popup {
    &__overlay {
      &_active.ar-popup__overlay_checked {
        display: none;
      }
    }

    &__content {
      width: 300px;
      padding: 10px;

      &_active.ar-popup__content_checked {
        display: none;
      }

      & h3 {
        font-size: 1em;
      }

      & p {
        margin: 0 0 10px;
        font-size: .6em;
      }
    }

    &__content-features {
      margin-bottom: 15px;

      & span {
        width: 215px;
      }
    }

    &__buttons {
      margin-bottom: 10px;

      & .button {
        font-size: .6em;
      }
    }

    &__asterisk {
      font-size: .5em;

      &-symbol {
        left: -5px;
      }
    }
  }
}
