<div class="callback-form">
    <div class="modal-header">
        <a ng-click="closeThisDialog()" class="modal-button modal-close"><span class="font-icons icon-cancel"></span></a>
    </div>

    <div class="callback-wrapper">
	    <h2 class="modal-title" ng-if="ngDialogData.callbackPopup.formTitle" ng-bind-html="ngDialogData.callbackPopup.formTitle"></h2>
	    <section-description class="section-description" ng-if="ngDialogData.callbackPopup.formDescription" ng-bind-html="ngDialogData.callbackPopup.formDescription"></section-description>

        <form id="mktoForm_16560"></form>
    </div>
</div>