<section ng-if="$ctrl.data" class="secondary-list eula">
    <div class="container">
      <div class="">
        <div ng-repeat="$category in $ctrl.data.categories" class="single">
          <h4>{{::$category.title}}</h4>
          <div class="item-list section-col-l-3">

          <div ng-repeat="$subcategory in $category.subcat">
            <h6 class="small">
              <i class="font-icons {{::$subcategory.icon}}" ng-if="$subcategory.icon"></i>
              {{::$subcategory.title}}
            </h6>
            <ul>
              <li ng-repeat="$link in $subcategory.links">
                <a ng-href="{{::$link.href}}" ng-attr-target="{{$link.target && $link.target.length ? $link.target : '_blank'}}">{{::$link.title}}</a>
              </li>
            </ul>
          </div>
        </div>
        </div>
      </div>
    </div>
</section>
