@import 'core';

.site-footer {
    position: relative;
    border-top: 1px solid #e3e3e3;
    padding-top: 3em;

    .footer-convert {
        background: $lightblue;

        [class*="col-"] {
            padding: 1.5em 1.5em 1em;
            border-top: 2px solid #fff;
        }

        form {
            label {
                font-size: .813em;
                color: #373737;
                font-weight: 500;
                margin-bottom: .6em;
            }

            input {
                margin-bottom: .75em;
            }

            input[type="text"],
            input[type="password"],
            input[type="email"],
            input[type="date"],
            input[type="search"],
            input[type="time"],
            input[type="tel"],
            input[type="url"],
            input[type="number"] {
                border-color: $borderblue;

                &:focus {
                    border-color: $blue;
                }
            }
        }

        .social {
            display: inline-block;
            margin: .25em 1em .25em 0;
            color: rgba(0, 0, 0, .35);
        }

        .news-letter {
            padding-right: 5%;
        }

        .social-media {
            padding-right: 0;

            .social-media-heading {
                margin-left: 0;
            }

            .social-media-icons {
                float: left;
            }
        }
    }

    &.variant-2 {
        .container {
            &:before {
                display: none;
            }
        }

        footer {
            padding: 1.5em 0;
            border-top: none;
        }
    }

    .small-list {
        &>* {
            margin-bottom: 2em;
        }

        margin-top: 2em;

        ul {
            font-size: .8em;
            margin-top: 1.4em;

            li {
                margin-bottom: 1em;
                line-height: 1.3;
            }
        }

        h4 {
            font-size: .8em;
        }

        small {
            color: #adadad;
            display: block;
            font-weight: 300;
            text-transform: uppercase;
            margin-top: -1.4em;
        }

        h4.section-title a {
            color: #444;

            &:hover {
                color: darken($kgreen, 5%);
            }
        }
    }

    .container {
        &:before {
            content: "";
            position: absolute;
            top: -3em;
            left: -1em;
            right: -1em;
            z-index: -1;
            height: 150px;
            background-repeat: no-repeat;
            background-position: 50% 0;
            background-size: contain;
        }
    }

    li {
        margin-bottom: 1.875em;
    }

    h3 {
        font-size: .813em;
        color: #373737;
        font-weight: 500;
        margin-bottom: .6em;
    }

    p {
        color: #A3A3A3;
        font-size: .75em;
        line-height: 1.5;
    }

    a.social {
        color: #b2b2b2;
        margin-right: 1.4em;

        &:hover {
            @include transition(background-color .15s ease-in);
            color: $kgreen;

            .icon-facebook {
                color: #3b5998;
            }

            .icon-twitter {
                color: #55acee;
            }

            .icon-linkedin {
                color: #0077b5;
            }

            .icon-instagram {
                color: #3f729b;
            }

            .icon-youtube {
                color: #cd201f;
            }

            .icon-google-plus {
                color: #dc4e41;
            }
        }
    }

    footer {
        width: 100%;
        border-top: 1px solid #e3e3e3;
        padding: 1em 0;

        .copy {
            font-size: .7em;
            color: #373737;

            content span {
                display: inline-block;
                padding-right: 5px;
                white-space: nowrap;
            }
        }
    }

    &.compact {
        padding-top: 1em;

        footer {
            border-top: 0;
            border-bottom: 1px solid #e3e3e3;
            margin-bottom: 1em;

            p {
                margin-bottom: 0;
            }
        }

        .featured-pages {
            li {
                margin-bottom: 1em;

                a {
                    font-size: .7em;
                    color: #373737;

                    &:hover {
                        color: #808080;
                    }
                }
            }
        }

        .footer-secondary {
            border-top: 1px solid #e3e3e3;
            padding: 1.563em 0;

            .social-links {
                margin-bottom: 1em;
            }
        }

        p.mobile-label {
            font-size: em(11);
            margin-bottom: .5em;
        }

        .container {
            &:before {
                top: -1em;
            }
        }
    }

    select {
        font-size: .75em;
        height: 3em;
    }
}

.footer-selector {
    border-top: 1px solid #e3e3e3;
    display: none;
    margin-top: 1.563em;
    padding: 0 0 1.563em;
    background-color: #f8f8f8;

    .section-col-l-4 {
        >content {
            width: 100%;

            >* {
                @include span-columns(3);
                @include omega(4n);
            }
        }

        div {
            min-width: 97%;
        }
    }

    &.no-gutter {
        >* {
            @include span-columns(3, no-gutter);
        }
    }

    &>.container {
        padding-top: 2.188em;

        &>p {
            font-size: .875em;
        }
    }

    ul {
        padding-bottom: 2em;

        li {
            font-size: .8em;
            margin-bottom: .6em;

            &.list-title {
                margin-bottom: 1em;
            }
        }
    }

    .country-list {
        padding-top: .625em;
    }

    .close-selector {
        position: absolute;
        right: 0;
        top: 40px;

        i {
            color: #a7a7a7;
        }

        &:hover i {
            color: #005446;
        }
    }
}

.form-element.country-selector,
.site-footer .country-selector-button {
    position: relative;

    &:after {
        content: "\f0ac";
        position: absolute;
        left: .75em;
        top: 50%;
        z-index: 20;
        margin-top: -.9em;
        opacity: .3;
    }
}

.site-footer .country-selector-button {
    @include transition(border .2s ease-in, background .2s ease-in);
    max-width: 100% !important;
    height: auto;
    border: 1px solid #e2e2e2;
    border-radius: 0;
    margin: 0;
    padding: 8px 0;
    background: #fff;
    cursor: pointer;
    box-shadow: 0 1px 0 0 rgba(0, 0, 0, .05);

    &:after {
        margin-top: -.5em;
    }

    p {
        font-family: $museosans;
        margin: 0;
        text-align: left;
        padding-left: 35px;
        color: #656565;
    }

    span.arrow {
        position: absolute;
        width: 0;
        top: 0;
        right: 0;
        bottom: 0;
        height: 100%;

        &:before {
            @include transition(all .2s ease-in);
            font-family: "font-icons" !important;
            content: "\f078";
            speak: none;
            font-style: normal;
            font-weight: normal;
            font-variant: normal;
            text-transform: none;
            line-height: 1;
            -webkit-font-smoothing: antialiased;
            margin: 0;
            padding: 0;
            position: absolute;
            top: 50%;
            right: 2em;
            margin-top: -.5em;
            font-size: .5em;
            color: #7b7b7b;
        }
    }

    &.active span.arrow:before {
        @include prefixer(transform, rotate(180deg), webkit moz ms o spec);
        @include transition(all .2s ease-in);
        margin-top: -.3em;
    }

    &:hover {
        border-color: #c3c3c3;
        background: #fefefe;

        span.arrow:before {
            color: #7f7f7f;
        }
    }
}

.form-element.country-selector {
    position: relative;

    select {
        padding-left: 2.25em;
        font-size: .75em;
        height: 3em;
    }

    &:after {
        content: "\f0ac";
        position: absolute;
        left: .75em;
        top: 50%;
        z-index: 20;
        margin-top: -.9em;
        opacity: .3;
    }
}

@include media(769px) {
    .site-footer {
        a.social {
            margin: 0 0 0 1.2em;
        }

        .container {
            &:before {
                content: "";
                position: absolute;
                left: -2.5em;
                right: auto;
                width: 660px;
            }
        }

        .footer-links {
            @include outer-container-no-gutter;
        }

        .featured-pages {
            @include span-columns(8, no-gutter);

            ul {
                @include outer-container;

                li {
                    @include span-columns(6);
                    display: inline-block;
                    vertical-align: top;
                    float: none;

                    &:nth-child(2) {
                        @include omega;
                    }
                }
            }
        }

        .contact-pages {
            @include span-columns(3.25, no-gutter);
            @include shift(.75, no-gutter);
            text-align: right;

            div {
                padding-top: .7em;
            }
        }

        footer {
            .copy {
                @include span-columns(9);
                padding-top: 1em;
            }

            .country-selector-button,
            .form-element {
                @include span-columns(3);
            }
        }

        &.compact {
            .footer-links {
                float: left;
                width: 60%;
            }

            footer {
                @include clearfix;

                .copy {
                    margin-left: 0;
                    float: none;
                    width: auto;
                }
            }

            .footer-secondary {
                float: right;
                text-align: right;
                min-width: 20%;
                width: auto;
                border-top: 0;
                padding-top: 1.1em;

                p.mobile-label {
                    display: none;
                }

                .social-links {
                    a:first-child {
                        margin: 0;
                    }
                }
            }

            .featured-pages {
                width: auto;

                li {
                    float: left;
                    width: auto;
                    margin-right: 1em;

                    &:before {
                        content: "\2022";
                        cursor: default;
                        color: #bababa;
                        font-size: .8em;
                        margin-right: 1em;
                    }

                    &:first-child:before {
                        content: "";
                        display: none;
                        padding: 0;
                    }
                }
            }
        }

        .footer-convert {
            [class*="col-"] {
                border-top: none;
                border-left: 1px solid #fff;

                &:first-child {
                    border-left: none;
                }
            }

            form {
                margin-bottom: .5em;
                display: flex;
                flex-direction: row;
                align-items: flex-end;

                .form-element {
                    flex-grow: 1;

                    &.buttons {
                        flex-grow: 0;
                    }
                }

                input {
                    margin: 0;

                    &.button {
                        min-width: inherit;
                        height: 3.0834em;
                        line-height: 2.9167;
                    }
                }

                input[type="text"],
                input[type="password"],
                input[type="email"],
                input[type="date"],
                input[type="search"],
                input[type="time"],
                input[type="tel"],
                input[type="url"],
                input[type="number"] {
                    font-size: .8125em;
                }
            }

            .social {
                margin-top: 0;
            }
        }

        &.variant-2 {
            footer {
                .copy {
                    padding-top: 1em;

                    @include span-columns(8);
                }

                .country-selector-button,
                .form-element {
                    @include span-columns(4);
                }
            }
        }
    }

    .footer-selector {
        .section-col-l-4 {
            div {
                min-width: inherit;
            }
        }
    }

    .site-footer .site-footer-social-icons {
        margin-bottom: 45px;

        >div {
            position: absolute;
            right: 0;
        }
    }

    html[dir="rtl"] .site-footer .site-footer-social-icons>div {
        position: relative;
    }

    .locale--ru-ru #site-footer footer {
        .copy {
            width: 54%;
        }

        .country-selector-button {
            width: 40%;
        }
    }

    .locale--en-us #site-footer:not(.compact) .footer-links {
        ul li {
            min-height: 125px;
        }

        .contact-pages>ul>li:nth-child(3) {
            min-height: 0;
        }
    }
}

@include media(993px) {
    .site-footer {
        .footer-convert {
            form {
                label {
                    display: inline-block;
                    vertical-align: middle;
                    width: 33%;
                    margin: 0;
                }

                input[type="text"],
                input[type="password"],
                input[type="email"],
                input[type="date"],
                input[type="search"],
                input[type="time"],
                input[type="tel"],
                input[type="url"],
                input[type="number"] {
                    display: inline-block;
                    vertical-align: middle;
                    width: 65%;
                }
            }
        }
    }

    .locale--ru-ru #site-footer footer {
        .copy {
            width: 62%;
        }

        .country-selector-button {
            width: 32%;
        }
    }

    .locale--en-us #site-footer:not(.compact) .footer-links ul li {
        min-height: 100px;
    }
}

.invalid-input {
    border: 1px solid #e66a71 !important;
}