<div class="buy-block" ng-if="$ctrl.productPricesExist">
	<form action="#">
		<div class="price">
			<p class="price-old">
				<span class="price-saving" ng-if="$ctrl.discountLabel" data-test="buyblock-price-discount--{{$ctrl.product.shortName}}">{{$ctrl.discountLabel}}</span>
				<span class="price-new" data-test="buyblock-price--{{$ctrl.product.shortName}}">{{$ctrl.currentValue.price | customCurrency}}{{$ctrl.disclaimerObj.asterisk}}</span>
				<span class="price-cut" ng-if="$ctrl.currentValue.price_striked" data-test="buyblock-price-cut--{{$ctrl.product.shortName}}">{{$ctrl.currentValue.price_striked | customCurrency}}{{$ctrl.disclaimerObj.asterisk}}</span>
				<span class="price-saving" ng-if="$ctrl.currentValue.price_striked && $ctrl.buyblockData.saveRate" data-test="buyblock-price-saving--{{$ctrl.product.shortName}}">{{$ctrl.buyblockData.saveRate}} {{$ctrl.currentValue.price_striked - $ctrl.currentValue.price | customCurrency}}</span>
			</p>
		</div>
		<div class="form-element">
			<select class="device-number" ng-model="$ctrl.packValue" ng-options="pack for pack in $ctrl.packArr" ng-change="$ctrl.setCurrentValue()"  data-test="buyblock-packs--{{$ctrl.product.shortName}}"></select>
		</div>
		<div class="form-element">
			<select class="years" ng-model="$ctrl.termValue" ng-options="term for term in $ctrl.termArr" ng-change="$ctrl.setCurrentValue()"  data-test="buyblock-terms--{{$ctrl.product.shortName}}"></select>
		</div>
		<div class="form-element buttons">
			<a ng-href="{{$ctrl.buyLink}}" ng-click="$ctrl.addSalesTrackingParameters(($event))" data-omniture-sale-button-type="Buy" data-omniture-product-name="{{$ctrl.productName}}" data-test="buyblock-buy--{{$ctrl.product.shortName}}">
				<div class="button red">{{$ctrl.buyButtonText || $ctrl.buyblockData.buyText}}</div>
			</a>
			<a ng-href="{{::$ctrl.product.freeTrialLink}}" ng-if="!$ctrl.hideTrialButton" data-test="buyblock-free-trial--{{$ctrl.product.shortName}}" class="button transparent text-green full-width">{{::$ctrl.buyblockData.tryFor}}</a>
		</div>
		<p class="disclaimer-placeholder">
			<span ng-if="$ctrl.disclaimerObj.disclaimer" ng-bind-html="$ctrl.disclaimerObj.disclaimer|html"></span>
		</p>
	</form>
</div>

<div class="buy-block" ng-if="!$ctrl.productPricesExist">
	<p class="note" ng-bind-html="$ctrl.product.unavailableNote | html"></p>
	<div class="form-element buttons">
		<a ng-href="{{::$ctrl.product.howToBuyLink}}" data-test="buyblock-how-to--{{$ctrl.product.shortName}}" class="button transparent full-width">{{::$ctrl.product.howToBuyText}}</a>
		<a ng-href="{{::$ctrl.product.freeTrialLink}}" data-test="buyblock-free-trial--{{$ctrl.product.shortName}}" class="button transparent text-green full-width">{{::$ctrl.product.freeTrialText}}</a>
	</div>
	<p class="disclaimer-placeholder">
		<span ng-if="$ctrl.disclaimerObj.disclaimer" ng-bind-html="$ctrl.disclaimerObj.disclaimer|html"></span>
	</p>
</div>
