<section class="premium-services">
    <div class="container">
        <h4 class="section-title" ng-bind-html="$ctrl.data.sectionTitle"></h4>
        <ul class="services-list section-col-s-2 reset-l section-col-l-4">
            <li ng-repeat="service in $ctrl.data.services">
                <h2><a ng-href="{{service.link}}">{{service.name}}</a></h2>
                <span>{{service.price}}</span>
                <p>{{service.description}}</p>
            </li>
        </ul>
    </div>
</section>
