<header id="page-header" class="page-header">
    <div class="container">
        <div class="page-info">
            <breadcrumb></breadcrumb>
        </div>
        <div class="page-headline" ng-class="{'show-figure': $ctrl.showFigure}">
            <figure ng-if="$ctrl.showFigure"><img ng-src="{{$ctrl.headerData.headerBgImg | addLocalRoot}}" alt="resources"></figure>
            <h3 class="page-surtitle" ng-bind-html="$ctrl.headerData.headerSubTitle"></h3>
            <h1 class="page-title" ng-bind-html="$ctrl.headerData.headerTitle"></h1>
            <h2 class="page-desc" ng-bind-html="$ctrl.headerData.headerDescription"></h2>
        </div>
    </div>
</header>