<section class="dashboard-section {{::$ctrl.data.className}}" id="{{::$ctrl.data.id}}">
	<div class="container">
		<h4 class="section-title" ng-bind="::$ctrl.data.title"></h4>
		<div class="row">
			<div class="intro col-l-4">
				<p ng-bind-html="::$ctrl.data.description"></p>
				<a 	ng-href="{{::$ctrl.data.linkUrl}}"
						class="button {{::$ctrl.data.linkClass}}"
						ng-bind="::$ctrl.data.linkTitle"
						target="{{$ctrl.data.isExternal[0] == 'Yes' ? '_blank' : ''}}"></a>
			</div>
			<div class="content-wrapper col-l-8">
				<ul class="accordion-section variant-2">
					<li class="accordion-wrapper" ng-repeat="$contact in $ctrl.data.contacts.categories" ng-click="$ctrl.accordionOpen[$index] = !$ctrl.accordionOpen[$index]">
						<h4><span ng-bind="::$contact.title"></span>, {{::$contact.description}}</span></h4>
						<div class="accordion-content" ng-show="$ctrl.accordionOpen[$index]">
							<ul class="icon-list">
								<li ng-if="$contact.phoneMain">
									<i class="font-icons icon-phone"></i>
									<a ng-href="tel:{{::$contact.phoneMain | stripHtmlTags}}">{{::$contact.phoneMain}}</a>
								</li>
								<li ng-if="$contact.phoneMobile">
									<i class="font-icons icon-mobile"></i>
									<a ng-href="tel:{{::$contact.phoneMobile | stripHtmlTags}}">{{::$contact.phoneMobile}}</a>
								</li>
								<li ng-if="$contact.phoneOffice || $contact.phoneAdditional">
									<i class="font-icons icon-print"></i>
									<a ng-href="tel:{{::$contact.phoneOffice | stripHtmlTags}}">{{::$contact.phoneOffice}}</a> <br>
									<a ng-href="tel:{{::$contact.phoneAdditional | stripHtmlTags}}">{{::$contact.phoneAdditional}}</a>
								</li>
								<li ng-if="$contact.email">
									<i class="font-icons icon-mail"></i>
									<a ng-href="mailto:{{::$contact.email | stripHtmlTags}}">{{::$contact.email}}</a>
								</li>
								<li ng-if="$contact.website">
									<i class="font-icons icon-link"></i>
									<a ng-href="{{::$contact.website | stripHtmlTags}}">{{::$contact.website}}</a>
								</li>
							</ul>
						</div>
					</li>
				</ul><!-- /accordion-section -->

			</div>
		</div>
	</div>
</section>
