/***************************************
	Press center advanced
***************************************/
.dashboard-section {
  margin: 0;
  padding: 4em 0 2em;

  li.basic-list-item {
    padding-left: 0;
    list-style-type: disc;
    margin-left: 18px;
  }

  .container {
    padding-top: 0;
  }

  .articles-list figure {
    height: 7em;
    overflow: hidden;

    img {
      margin: 0 auto;
    }
  }

  .list-icon-image {
    width: 22px;
    height: 22px;
  }

  .list-icon-text {
    vertical-align: top;
  }

  .accordion-section li .accordion-content {
    display: block;
  }

  .intro {
    margin-bottom: 2em;
    padding-bottom: 1.5em;
    border-bottom: 1px solid #e5e5e5;
    border-color: rgba(0, 0, 0, .1);
  }

  .content-wrapper {
    [class*="col-"] {
      margin-bottom: 1em;
    }
  }

  h5 {
    font-weight: 300;

    & + .meta {
      margin-top: -.5em;
    }
  }

  p {
    color: #777;

    &.meta {
      margin-bottom: .5em;
      font-size: .6875em;
      font-weight: 700;
      color: #aaa;
    }
  }

  li {
    a {
      font-size: .875em;
      font-weight: 300;
    }

    figure {
      a {
        font-size: 1em;
      }
    }
  }

  .button {
    &.transparent {
      background: none;
      color: $kgreen;

      &:hover {
        color: darken($kgreen, 5%);
        background: none;
      }
    }
  }

  .icon-list {
    > li {
      font-size: .875em;

      a {
        font-size: 1em;
      }
    }
  }
}

@include media(769px) {
  .dashboard-section {
    .intro {
      margin-bottom: 0;
      padding-bottom: 0;
      border-bottom: none;
      padding-right: 1%;
    }

    .content-wrapper {
      padding-left: 5%;
      border-left: 1px solid #e5e5e5;
      border-color: rgba(0, 0, 0, .08);

      [class*="col-"] {
        margin-bottom: 1em;
      }
    }
  }
}
