/***************************************
	Homepage Main
***************************************/

.homepage-main {
  .container {
    padding-bottom: 0;
  }

  .hmc-section {
    padding-top: 3em;
  }

  .renew-license {
    padding: 2.3em 0;

    &.mobile {
      background-color: #f6f6f6;
      border-top: 1px solid #e3e3e3;
      border-bottom: 1px solid #e3e3e3;
    }

    h4 {
      font-weight: 300;
      font-size: em(18);
      color: #373737;
      text-transform: none;
      margin-bottom: .9em;
    }

    .photo {
      display: block;
      max-width: 100%;
      margin: 0 auto 1em;
      height: auto;
      border-bottom: 1px solid #e3e3e3;
    }

    p {
      font-size: em(14);
      color: #9d9d9d;
      margin-bottom: 1.3em;
    }

    .button {
      font-weight: 500;

      &.transparent {
        color: #00A88E;
      }
    }

    .cta {
      font-weight: 500;
      font-size: em(12);
      color: #fff;
      display: block;
      margin: 0 0 1.5em;
      padding: 1.1em 1em;
      text-align: center;
      background-color: #006d5c;
      text-transform: uppercase;
    }
  }

  .renew-and-about {
    display: none;
  }
}

/***************************************
	Quote section
***************************************/
$museoslab: "MuseoSlab", "Georgia", Times, serif;

.quote-section {
  position: relative;
  padding-top: 2em;

  blockquote {
    display: block;
    margin-bottom: 1.6em;
    padding: 0;
    text-align: center;
    font-size: 1em;

    p {
      font-family: $museoslab;
      font-weight: 100;
      font-style: italic;
      font-size: em(19);
      line-height: 1.57;
      color: #868686;
      margin-bottom: 1.4em;
      letter-spacing: -.4px;
    }

    cite {
      font-size: 1em;

      strong {
        font-weight: 300;
        font-size: em(16);
        line-height: 1.35;
        color: #2c2b2b;
        display: block;
        letter-spacing: -.2px;
      }

      span {
        font-weight: 500;
        font-size: em(11);
        line-height: 2;
        color: #b3b3b3;
        display: block;
        letter-spacing: -.6px;
      }
    }
  }

  .footer-wrap {
    img {
      display: block;
      margin: 0 auto;
      max-width: 100%;
      height: auto;
    }

    .button {
      position: absolute;
      right: 0;
      bottom: 70px;
      left: 0;
      background: #fff;
    }
  }
}