/***************************************
	License
***************************************/

.license-list {
  ul.content {
    li {
      margin-bottom: 3em;

      figure {
        float: left;
        margin-right: 1em;

        img.small-thumbnail {
          max-height: 120px;
          max-width: 100px;
        }
      }
    }
  }
}

.license-section {
  background: url("../i/image-renew.png") 0 50% no-repeat;

  .blue-wrapper {
    margin-bottom: 1.5em;
    padding: 2em 1.5em;
  }
}

.main {
  > {
    *:last-child {
      .license-section {
        .container {
          &.divider {
            border-bottom: 0;
          }
        }
      }
    }
  }
}

@include media(769px) {
  .license-section {
    background: none;

    .container {
      background: url("../i/image-renew.png") 0 50% no-repeat;
    }

    .blue-wrapper {
      padding: 3em 2em 2em;

      h3 {
        margin-bottom: 1.5em;
      }
    }
  }
}
