<section class="awards-wrapper"
         ng-attr-id="{{$ctrl.data.sectionID}}"
         ng-class="{'grey-background': !$ctrl.data.sectionClass, '{{$ctrl.data.sectionClass}}': $ctrl.data.sectionClass}"
         ng-if="$ctrl.template != 'b2c' && $ctrl.data">
    <div class="container">
        <div class="row">
            <div class="awards">
                <h4 class="section-title" ng-bind-html="$ctrl.data.sectionHeader | xpm:'awardsBlock':'sectionHeader'">{{$ctrl.data.sectionHeader}}</h4>
                <p ng-bind-html="$ctrl.data.description | xpm:'awardsBlock':'description'"></p>
                <ul class="awards-list">
                    <li ng-repeat="award in $ctrl.data.awards">
                        <award-image ng-switch="award.link.length > 0">
                            <a ng-switch-when="true" href="{{award.link}}" ng-attr-target="{{award.linkTarget ? award.linkTarget : '_blank'}}">
                                <img ng-src="{{award.image | addLocalRoot}}" alt="{{award.alt}}">
                            </a>
                            <span ng-switch-default><img ng-src="{{award.image | addLocalRoot}}" alt="{{award.alt}}"></span>
                        </award-image>
                    </li>
                </ul>
                <a href="{{$ctrl.data.awardsLink}}" class="button transparent" ng-bind-html="$ctrl.data.awardsText | xpm:'awardsBlock':'awardsText'"></a>
            </div>
            <div class="promo green-background">
                <h4 class="section-title" ng-bind-html="$ctrl.data.freeScan | xpm:'awardsBlock':'freeScan'"></h4>
                <p ng-bind-html="$ctrl.data.freeScanDescription | xpm:'awardsBlock':'freeScanDescription'"></p>
                <a href="{{$ctrl.data.freeScanButtonLink}}" class="button white" ng-bind-html="$ctrl.data.freeScanButtonText | xpm:'awardsBlock':'freeScanButtonText'"></a>
            </div>
        </div>
    </div>
</section>

<section class="awards-section active"
         ng-attr-id="{{$ctrl.data.sectionID}}"
         ng-class="{'grey-background': !$ctrl.data.sectionClass, '{{$ctrl.data.sectionClass}}': $ctrl.data.sectionClass}"
         ng-if="$ctrl.template === 'b2c' && $ctrl.data"
         ng-style="$ctrl.data.bg && {'background-image': 'url(' + $ctrl.data.bg + ')'}">
    <div class="container">
        <h3 class="section-title" ng-bind-html="$ctrl.data.sectionHeader | html"></h3>
        <p ng-bind-html="$ctrl.data.description | html"></p>

        <ul class="awards-list large-images text-center">
            <li ng-repeat="award in $ctrl.data.awards">
                <award-image ng-switch="award.link.length > 0">
                    <a ng-switch-when="true" href="{{award.link}}" ng-attr-target="{{award.linkTarget ? award.linkTarget : '_blank'}}">
                        <img ng-src="{{award.image | addLocalRoot}}" alt="{{award.alt}}">
                    </a>
                    <span ng-switch-default><img ng-src="{{award.image | addLocalRoot}}" alt="{{award.alt}}"></span>
                </award-image>

                <award-description ng-if="award.awardDescription" ng-bind-html="award.awardDescription"></award-description>
            </li>
        </ul>

        <p ng-bind-html="$ctrl.data.moreDetails | html" class="awards-details"></p>
    </div>
</section>
