/***************************************
	B2B Resources
***************************************/
.main {
  .regular-section {
    &.grey-background {
      margin-bottom: 4em;
    }
  }
}

.resource-documents {
  margin-top: 0;

  .slides .slick-list {
    .slick-slide {
      display: block;
    }

    figure {
      margin: .5em 2em 0 .5em;
    }
  }

  &.no-margin {
    margin-top: -3.5em;
  }

  &.no-bottom-margin {
    margin-bottom: 0;
  }

  .container {
    margin-left: auto;
    margin-right: auto;

    .row {
      margin-right: 0;
      margin-left: 0;
    }
  }

  .item-cover {
    max-width: 80px;
    float: left;
    margin: .5em 2em 0 .5em;
    text-align: center;

    a {
      font-size: .75em;
      text-transform: lowercase;
    }

    .icon-doc {
      position: relative;
      margin-bottom: 1em;
      width: 80px;
      height: 115px;
    }

    .icon-doc.icon-pdf:before {
      position: absolute;
      left: -5px;
      top: -5px;
    }
  }

  .item-video {
    width: 100%;
    margin: .5em 1em 1em 0;
    float: left;

    & > a {
      position: relative;
      display: block;
      font-size: .688em;

      & > img {
        display: block;
      }

      &:after {
        @include transition(border-color .15s ease);
        content: "\e929";
        color: #fff;
        width: 24px;
        height: 24px;
        position: absolute;
        top: 50%;
        left: 50%;
        font-family: "font-icons" !important;
        speak: none;
        font-style: normal;
        font-weight: normal;
        font-variant: normal;
        text-transform: none;
        -webkit-font-smoothing: antialiased;
        border: 2px solid #fff;
        border-radius: 100px;
        line-height: 1.8;
        margin-left: -12px;
        margin-top: -12px;
        text-indent: 7px;
      }

      &:hover {
        &:after {
          @include transition(all .15s ease);
          border-color: #e5ddd5;
          border-color: rgba(255, 255, 255, .5);
        }
      }
    }

    .duration {
      padding: .5em 1em;
    }
  }

  .item-description {
    padding-top: .875em;

    &.short {
      padding-top: 2em;
    }

    span.info {
      display: block;
      color: #b9b9b9;
      font-size: .75em;
      text-transform: uppercase;

      & + * {
        margin-top: 1em;
      }
    }

    a {
      line-height: 1.3;
    }

    a.title + * {
      margin-top: 1em;
    }

    p {
      margin-top: 1em;
      font-size: .875em;
      color: #888;
    }
  }

  .slick-dots {
    border-top: 0;

    > li {
      &:only-child {
        display: none;
      }
    }
  }

  .secondary-top-description {
    margin-bottom: 2em;
  }

  .divider {
    padding-bottom: 3.125em;
    margin-bottom: 3.125em;
  }

  .container-no-padding > .container {
    padding: 0;
  }
}

.pdf-pages {
  max-height: 115px;
  max-width: 80px;
  display: block;

  img {
    z-index: 90;
    position: relative;
    box-shadow: 1px 1px 1px rgba(0, 0, 0, .15);
  }

  .icon-doc {
    position: relative;

    &:before {
      position: absolute;
      top: -5px;
      left: -5px;
    }
  }

  .pages {
    @include transition(all .15s ease);
    background-color: #fff;
    box-shadow: 0 1px 1px rgba(0, 0, 0, .15);
    display: block;
    height: 115px;
    left: 4px;
    position: absolute;
    top: 4px;
    width: 80px;
    z-index: 10;

    &:before {
      background-color: #fff;
      box-shadow: 1px 1px 1px rgba(0, 0, 0, .15);
      content: "";
      display: block;
      height: 115px;
      left: -2px;
      position: absolute;
      top: -2px;
      width: 80px;
    }
  }

  &:hover {
    .pages {
      @include transform(rotate(3deg));
      @include transition(all .15s ease);
      left: 9px;
      top: 6px;

      &:before {
        @include transform(rotate(-1deg));
        @include transition(all .15s ease);
        left: -4px;
        top: -3px;
      }
    }
  }
}

ul.resource-documents {
  margin-bottom: 0;

  .document-item {
    @include clearfix;
    margin-bottom: 2em;
  }
}

.customer-feedback {
  margin-top: 60px;

  .container {
    margin-left: auto;
    margin-right: auto;

    .row {
      margin-left: -3.0927%;
      margin-right: auto;
    }

    .item-carousel {
      .item {
        margin-left: 1em;
        margin-right: 1em;
      }
    }

    .slides {
      .slick-slide {
        &:first-child {
          margin-left: 0;
        }
      }

      .slick-arrow {
        &.next-slide {
          &:before {
            left: auto;
            right: -.2em;
          }
        }
      }
    }
  }

  .award-block {
    text-align: center;
    margin-bottom: 20px;

    img {
      margin-left: auto;
      margin-right: auto;
    }

    p {
      font-size: .9em;
      margin-top: 20px;
      margin-bottom: 20px;
    }
  }

  .feedback-content {
    padding-left: 30px;
    border-left: 2px solid #ccc;
    margin-left: 30px;
    margin-right: 20px;

    p {
      font-size: 1.1em;
      margin-top: 20px;
      margin-bottom: 20px;
    }

    .feedback-author {
      color: #b2b2b2;
      font-size: 1em;
    }

    .feedback-notice {
      color: #b2b2b2;
      margin-top: 1em;
      line-height: 1.1em;
    }
  }
}

@media (max-width: 768px) {
  .customer-feedback {
    .feedback-content {
      padding-left: 0;
      border-left: 0;
      margin-left: 0;
      margin-right: 0;
      margin-top: 20px;
    }

    .award-block {
      img {
        display: inline-block;
      }
    }
  }
}

@include media(769px) {
  .resource-documents {
    .item-cover {
      float: left;
    }

    .item-description {
      padding-left: 7.5em;
      padding-right: 1.5em;

      &.divider-right {
        border-right: 1px solid #e6e6e6;
        padding-right: 1.875em;
        margin-right: .625em;
      }

      &.video {
        padding-left: 15em;
      }
    }

    .secondary-top-description {
      margin-bottom: 2em;
      border-bottom: 0;
    }
  }

  ul.resource-documents {
    .document-item {
      margin-bottom: 3em;
    }
  }
}

@include media(400px) {
  .item-video {
    max-width: 12.5em;
    margin-bottom: 0;
  }
}

@media (min-width: 768px) {
  .resource-documents {
    &.no-margin {
      margin-top: -4em;
    }
  }
}

.ent-section {
  .carousel {
    .slick-dots {
      margin-top: 2em;

      @include media(769px) {
        margin-top: 4em;
      }
    }

    .next-slide {
      &:before {
        right: -.2em;
        left: auto;
      }
    }
  }
}
