.others-section {
  .container {
    > .row {
      > [class*="col-"] {
        margin-top: 2em;
        padding-top: 2.5em;
        border-top: 1px solid #e5e5e5;
        border-color: rgba(0, 0, 0, .1);

        &:first-child {
          margin-top: 0;
          padding-top: 0;
          border-top: 0;
        }
      }
    }
  }

  figure {
    &.product-icon {
      max-width: 50%;
      margin: 0 auto 1.5em;
    }
  }

  .button {
    &.transparent {
      background: none;
      color: $kgreen;

      &:hover {
        color: darken($kgreen, 5%);
        background: none;
      }
    }
  }
}

@include media(481px) {
  .others-section {
    figure {
      &.product-icon {
        max-width: none;
        margin: 0;
      }
    }
  }
}

@include media(769px) {
  .others-section {
    .container {
      > .row {
        > [class*="col-"] {
          position: relative;
          margin-top: 0;
          padding-top: 0;
          border-top: 0;
          padding-left: 2%;
          padding-right: 2%;

          &:before {
            content: "";
            position: absolute;
            left: -4%;
            top: 0;
            bottom: 0;
            width: 1px;
            background: #e5e5e5;
            background: rgba(0, 0, 0, .1);
          }

          &:first-child {
            padding-left: 0;

            &:before {
              display: none;
            }
          }

          &:last-child {
            padding-right: 0;
          }
        }
      }
    }
  }
}
