<ul class="video-list">
    <li ng-repeat="item in $ctrl.videos | limitTo : 5">
        <figure>
            <a class="thumbnail" style="height: 79px;">
                <iframe width="640" height="79" ng-src="{{item.video | trustUrl}}" frameborder="0" allowfullscreen></iframe>
            </a>
            <!--<p class="meta duration">1:33</p>-->
        </figure>
        <h3><a href ui-sref="resources-category.details({category: 'videos', path:$ctrl.getUserFriendlyUrl(item), jsonPath:item.url})">{{item.videoTitle}}</a></h3>
        <p class="meta date">{{item.date_publication_start | date: 'shortDate'}}</p>
    </li>
</ul>
<!-- <a href class="button transparent full-width">Show more</a> -->
