<div class="news-section press-releases-hp">
	<div class="container">
		<div class="row" ng-repeat="cat in $ctrl.categories">
			<div class="col-l-9">
				<h4 class="section-title">{{cat.title}}</h4>
			</div>
			<div class="desktop-view col-l-3 text-right">
				<a ng-href="{{cat.viewAllLink}}" class="button transparent">{{cat.viewAllText}}</a>
			</div>
			<ul class="news-section-list">
				<li class="row" ng-repeat="item in cat.prs | orderBy: '-date_publication_start' | limitTo: cat.numberItems">
					<div class="col-l-2"><span>{{item.date_publication_start | date : 'longDate'}}</span></div>
					<div class="col-l-10"><a ui-sref="press-releases.details({path:$ctrl.getUserFriendlyUrl(item)})">{{item.title}}</a></div>
				</li>

				<div class="mobile-view col-l-3 text-right">
					<a ng-href="{{cat.viewAllLink}}" class="button transparent">{{cat.viewAllText}}</a>
				</div>

				<hr class="divider" ng-if="!$last">
			</ul>
		</div>
	</div>
</div>