<nav class="press-center-nav page-nav" id="page-nav" ng-class="{'sticky': $ctrl.stickyNav}">
	<div class="container">
		<div class="page-menu-wrapper" ng-class="{'active': $ctrl.showMobileMenu}">
			<p class="label selected" ng-bind="::$ctrl.data.skipTo"></p>
			<ul class="page-menu">
				<li ng-repeat="$link in $ctrl.data.nav">
					<a ng-href="#{{::$link.anchor}}" du-smooth-scroll du-scrollspy offset="92" ng-click="$ctrl.showMobileMenu = !$ctrl.showMobileMenu" ng-bind="::$link.title"></a>
				</li>
			</ul>
			<div class="page-menu-label" ng-bind="::$ctrl.data.skipTo" ng-click="$ctrl.showMobileMenu = !$ctrl.showMobileMenu"></div>
		</div>
	</div>
</nav>
