<header ng-hide="!$ctrl.data" id="page-header" class="page-header" ng-style="{'background-image': 'url(' + $ctrl.data.bannerImage + ')'}">
    <div class="overlay-1"></div>
    <div class="overlay-2"></div>
    <div class="container">
        <div class="page-info">
            <ul ng-if="$ctrl.data.quickmenuButtons != null" class="quick-menu">
                <li ng-repeat="item in $ctrl.data.quickmenuButtons">
                    <a ng-if="!item.product" ng-click="$ctrl.navigateUserTo(item.link, null, item.isExternal[0] === 'Yes')" class="{{item.class}}">{{item.text}}</a>
                </li>
            </ul>
            <breadcrumb ng-if="$ctrl.data.hideBreadcrumbs != 'Yes'"></breadcrumb> <!--BREADCRUMBS-->
        </div>
        <!--HEADLINE-->
        <div class="page-headline" ng-class="{'show-figure': $ctrl.data.image != null, 'no-padding': $ctrl.noPadding}">
          <figure ng-if="$ctrl.data.image != null"><img ng-src="{{::$ctrl.data.image}}" alt="{{::$ctrl.data.imageAlt}}"></figure>
        	<h3 ng-if="$ctrl.data.surtitle != null && $ctrl.data.bannerbuttons.length == 0" class="page-surtitle">{{$ctrl.data.surtitle}}</h3>
            <h1 ng-if="$ctrl.data.bannerbuttons.length == 0" ng-bind-html="$ctrl.data.header" class="page-title">{{::$ctrl.data.header}}</h1>

            <sub-description ng-bind-html="$ctrl.data.subDescription" ng-if="$ctrl.data.headerType == 'B2C Thank You V1'">{{::$ctrl.data.subDescription}}</sub-description>

            <h2 ng-if="$ctrl.data.description != null && $ctrl.data.bannerbuttons.length == 0" class="page-desc" ng-bind-html="$ctrl.data.description|html">{{::$ctrl.data.description}}</h2>
            <div ng-if="$ctrl.data.bannerbuttons.length > 0" class="col-l-10">
                <div class="" ng-class="{'col-l-8': $ctrl.data.bannerbuttons.length == 1, 'col-xl-9': $ctrl.data.padButtons == 'Yes' && $ctrl.data.bannerbuttons.length == 1, 'col-l-12 col-xl-7': $ctrl.data.bannerbuttons.length > 1}">
                    <h1 ng-bind-html="$ctrl.data.header" class="page-title">{{::$ctrl.data.header}}</h1>
                    <h2 ng-if="$ctrl.data.description != null" class="page-desc" ng-bind-html="$ctrl.data.description|html">{{::$ctrl.data.description}}</h2>
                </div>
                <div class="" ng-class="{'col-l-4': $ctrl.data.bannerbuttons.length == 1, 'col-xl-3 no-gutter': $ctrl.data.padButtons == 'Yes' && $ctrl.data.bannerbuttons.length == 1, 'col-l-12 col-xl-5': $ctrl.data.bannerbuttons.length > 1}">
                    <div class="side-ctas">
                        <a ng-repeat="bannerbutton in $ctrl.data.bannerbuttons" ng-href="{{bannerbutton.link}}" class="button {{bannerbutton.class}}" ng-class="{'wide': $ctrl.data.padButtons == 'Yes'}" ng-attr-target="{{bannerbutton.isExternal[0] == 'Yes' ? '_blank' : ''}}">{{::bannerbutton.text}}</a>
                    </div>
                </div>
            </div>
        </div>
        <!--HEADLINE end-->
    </div>
</header>
