<section class="about-us-item-list-3" id="about-us-news">
    <div class="container">
        <form class="search-form row">
            <div class="col-l-8">
                <!--<div class="search-box-wrap">-->
                <!--<input class="search-box" placeholder="Search Articles" type="text">-->
                <!--<button class="search-btn font-icons icon-search" type="button"></button>-->
                <!--<button class="submit-btn" type="submit">Search</button>-->
                <!--</div>-->
            </div>
            <div class="col-l-4">
                <select class="sortby-btn" ng-model="$ctrl.selector" ng-change="$ctrl.changeFilter($ctrl.selector)">
                    <option ng-repeat="defaultOption in $ctrl.filterDefaultSelections" ng-value="defaultOption" subcategory="">{{defaultOption}}</option>
                    <option ng-repeat="item in $ctrl.filterSelections" ng-value="item" subcategory="{{$ctrl.getSubCat(item)}}">{{item}}</option>
                </select>
            </div>
        </form>
        <ul class="search-results section-col-l-3">
            <li dir-paginate="item in $ctrl.resources | orderBy: '-date_publication_start' | itemsPerPage: $ctrl.pageSize"
                total-items=$ctrl.resourcesTotalCount
                current-page="$ctrl.currentPage"
                pagination-id="pressReleasePagination">
                <!--<a ui-sref="press-center.details({path:$ctrl.getUserFriendlyUrl(item)})">-->
                <!--<figure class="thumbnail">-->
                <!--<img ng-src="{{item.image | addLocalRoot}}">-->
                <!--</figure>-->
                <!--</a>-->

                <div class="content">
                    <h4><a ui-sref="press-center.details({path:$ctrl.getUserFriendlyUrl(item)})">{{item.title}}</a></h4>
                    <p style="padding-top: 5px; padding-bottom: 5px;">{{item.date_publication_start | date : 'longDate'}} - {{item.subcategoryTitle}}</p>
                    <p ng-bind-html="item.summary"></p>
                    <a ui-sref="press-center.details({path:$ctrl.getUserFriendlyUrl(item)})" class="more">{{$ctrl.prData.prReadMore || 'Learn more'}} &gt;</a>
                </div>
            </li>
        </ul>
        <div class="item-list-footer">
            <dir-pagination-controls boundary-links="true" pagination-id="pressReleasePagination"
                                     template-url="/apps/kapp/pages/content-repo/press-releases-pagination.html"
                                     on-page-change="$ctrl.pageChangeHandler(newPageNumber)">
            </dir-pagination-controls>
        </div>
    </div>
</section>
