<section ng-if="$ctrl.data.articles" class="features-section features-section-center no-margin grey-pattern-background {{$ctrl.addClass}}"  ng-style="{'background-image': 'url(' + $ctrl.data.bg + ')'}">
    <div class="container">
        <h3 class="section-title">{{::$ctrl.data.blockTitle}}</h3>
        <div ng-bind-html="$ctrl.data.blockDesc | html"></div>
        <div class="features-list feature-slider section-col-l-3">
            <div class="feature-item" ng-repeat="article in $ctrl.data.articles">
                <figure><img ng-src="{{::article.image | addLocalRoot}}" /></figure>
                <p class="title">{{::article.atricleTitle}}</p>
                <p ng-bind-html="article.description"></p>
            </div>
        </div>
    </div>
</section><!-- /features-section -->