/***************************************
	Press Releases
***************************************/
.press-releases-hp {
  .desktop-view {
    display: block;
  }

  .mobile-view {
    display: none;
  }

  @media screen and (max-width: 768px) {
    .desktop-view {
      display: none;
    }

    .mobile-view {
      display: block;
    }
  }
}
