<section class="blogs-section" ng-if="$ctrl.resources.length > 0">
    <div class="container">
        <smb-repo-all-articles-header content-name="smb-repo-all-articles-header"></smb-repo-all-articles-header>
        <ul class="simple-articles-list section-col-l-2 list-mh">
            <!--SMB-->
            <li ng-if="$ctrl.repoType === 'smb'" ng-repeat="(key, value) in $ctrl.resources | groupBy: 'categoryName'">
                <div class="simple-articles-section" ng-repeat="article in value | limitTo: 3 track by $index">
                    <h5 ng-if="$index === 0">{{article.translatedCategoryName || article.categoryName | uppercase}}</h5>
                    <div class="article image-aside" ng-if="$index === 0">
                        <figure ng-if="!article.isVideoContent"><a href ui-sref="smb-resources-category.details({category: article.categoryName,path:$ctrl.getUserFriendlyUrl(article)})"><img ng-src="{{article.thumb | addLocalRoot}}" alt="{{article.thumb}}"></a></figure>

                        <figure ng-if="article.isVideoContent">
                            <a class="thumbnail" style="height: 130px;" href ui-sref="smb-resources-category.details({category: article.categoryName,path:$ctrl.getUserFriendlyUrl(article)})">
                                <iframe width="640" height="130" ng-src="{{article.video | trustUrl}}" frameborder="0" allowfullscreen></iframe>
                            </a>
                        </figure>
                        <h2><a href ui-sref="smb-resources-category.details({category: article.categoryName,path:$ctrl.getUserFriendlyUrl(article)})" ng-bind-html="article.title"></a></h2>
                        <p ng-bind-html="$ctrl.getStrippedString(article.summary, 250)"></p>
                    </div>
                    <ul>
                        <li ng-if="$index > 0"><h2><a href ui-sref="smb-resources-category.details({category: article.categoryName,path:$ctrl.getUserFriendlyUrl(article)})" ng-bind-html="$ctrl.getStrippedString(article.title, 60)"></a></h2></li>
                    </ul>
                    <a href ui-sref="smb-resources-category({category: article.categoryName })" class="button transparent" ng-if="$last" ng-bind="$ctrl.translations.readMore || 'View More'"></a>
                </div>
            </li>


            <!--VSB-->
            <li ng-if="$ctrl.repoType === 'vsb'" ng-repeat="(key, value) in $ctrl.resources | groupBy: 'categoryName'">
                <div class="simple-articles-section" ng-repeat="article in value | limitTo: 3 track by $index">
                    <h5 ng-if="$index === 0">{{article.translatedCategoryName || article.categoryName | uppercase}}</h5>
                    <div class="article image-aside" ng-if="$index === 0">
                        <figure ng-if="!article.isVideoContent">
                            <a href ui-sref="resources-category.details({category: article.categoryName,path:$ctrl.getUserFriendlyUrl(article)})">
                                <img ng-src="{{article.thumb | addLocalRoot}}" alt="{{article.thumb}}">
                            </a>
                        </figure>
                        <figure ng-if="article.isVideoContent">
                            <a class="thumbnail" style="height: 130px;" href ui-sref="resources-category.details({category: article.categoryName,path:$ctrl.getUserFriendlyUrl(article)})">
                                <iframe width="640" height="130" ng-src="{{article.video | trustUrl}}" frameborder="0" allowfullscreen></iframe>
                            </a>
                        </figure>
                        <h2><a href ui-sref="resources-category.details({category: article.categoryName,path:$ctrl.getUserFriendlyUrl(article)})" ng-bind-html="article.title"></a></h2>
                        <p ng-bind-html="$ctrl.getStrippedString(article.summary, 250)"></p>
                    </div>
                    <ul>
                        <li ng-if="$index > 0"><h2><a href ui-sref="resources-category.details({category: article.categoryName,path:$ctrl.getUserFriendlyUrl(article)})" ng-bind-html="$ctrl.getStrippedString(article.title, 60)"></a></h2></li>
                    </ul>
                    <a href ui-sref="resources-category({category: article.categoryName })" class="button transparent" ng-if="$last" ng-bind="$ctrl.translations.readMore || 'View More'"></a>
                </div>
            </li>

            <!--About-->
            <li ng-if="$ctrl.repoType === 'about'" ng-repeat="(key, value) in $ctrl.resources | groupBy: 'categoryName'">
                <div class="simple-articles-section" ng-repeat="article in value | limitTo: 3 track by $index">
                    <h5 ng-if="$index === 0">{{article.translatedCategoryName || article.categoryName | uppercase}}</h5>
                    <div class="article image-aside" ng-if="$index === 0">
                        <figure ng-if="!article.isVideoContent">
                            <a href ui-sref="policy-blog-category.details({category: article.categoryName,path:$ctrl.getUserFriendlyUrl(article)})">
                                <img ng-src="{{article.thumb | addLocalRoot}}" alt="{{article.thumb}}">
                            </a>
                        </figure>
                        <figure ng-if="article.isVideoContent">
                            <a class="thumbnail" style="height: 130px;" href ui-sref="policy-blog-category.details({category: article.categoryName,path:$ctrl.getUserFriendlyUrl(article)})">
                                <iframe width="640" height="130" ng-src="{{article.video | trustUrl}}" frameborder="0" allowfullscreen></iframe>
                            </a>
                        </figure>
                        <h2><a href ui-sref="policy-blog-category.details({category: article.categoryName,path:$ctrl.getUserFriendlyUrl(article)})" ng-bind-html="article.title"></a></h2>
                        <p ng-bind-html="$ctrl.getStrippedString(article.summary, 250)"></p>
                    </div>
                    <ul>
                        <li ng-if="$index > 0"><h2><a href ui-sref="policy-blog-category.details({category: article.categoryName,path:$ctrl.getUserFriendlyUrl(article)})" ng-bind-html="$ctrl.getStrippedString(article.title, 60)"></a></h2></li>
                    </ul>
                    <a href ui-sref="resources-category({category: article.categoryName })" class="button transparent" ng-if="$last" ng-bind="$ctrl.translations.readMore || 'View More'"></a>
                </div>
            </li>
        </ul>
    </div>
</section>
