<div class="social-wrap" ng-if="$ctrl.template == 'about'">
    <hr>
    <div class="about-us-social">
        <div class="content">
            <i class="font-icons icon-heart-o"></i>
            <p><strong>{{$ctrl.socialData.socialShareLikeThis}}</strong><br/><soc-share ng-bind-html="$ctrl.socialData.socialShareRecommendText|html"></soc-share></p>
            <span>{{$ctrl.socialData.socailShareShareOnText}}</span>
        </div>

        <a href class="about-us-button grey-border twitter"
            socialshare
            socialshare-provider="twitter"
            socialshare-text="Kaspersky:"
            socialshare-hashtags="Kaspersky"
            socialshare-url="{{$ctrl.pageUrl}}">
            <i class="font-icons icon-twitter"></i>
            <span>{{$ctrl.socialData.socailShareShareOnText}} <br ng-if="$ctrl.socialData.socailShareShareOnText"><strong>twitter</strong></span>
        </a>

        <a>&nbsp;</a>
    </div><!-- /social -->
</div>

<div class="social-wrap" ng-if="$ctrl.template == 'awards'">
    <hr>
    <div class="about-us-social">
        <div class="content">
            <i class="font-icons icon-heart-o"></i>
            <p><strong>{{$ctrl.socialData.socialShareLikeThis}}</strong><br/><soc-share ng-bind-html="$ctrl.socialData.socialShareRecommendText|html"></soc-share></p>
            <span>{{$ctrl.socialData.socailShareShareOnText}}</span>
        </div>

        <a href class="about-us-button grey-border facebook"
            socialshare
            socialshare-provider="facebook"
            socialshare-text="Kaspersky:"
            socialshare-url="{{$ctrl.pageUrl}}">
            <i class="font-icons icon-facebook"></i>
            <span>{{$ctrl.socialData.socailShareShareOnText}} <br ng-if="$ctrl.socialData.socailShareShareOnText"><strong>facebook</strong></span>
        </a>

        <a href class="about-us-button grey-border twitter"
            socialshare
            socialshare-provider="twitter"
            socialshare-text="Kaspersky:"
            socialshare-hashtags="Kaspersky"
            socialshare-url="{{$ctrl.pageUrl}}">
            <i class="font-icons icon-twitter"></i>
            <span>{{$ctrl.socialData.socailShareShareOnText}} <br ng-if="$ctrl.socialData.socailShareShareOnText"><strong>twitter</strong></span>
        </a>

        <a href class="about-us-button grey-border linkedin"
            socialshare
            socialshare-provider="linkedin"
            socialshare-text="Kaspersky:"
            socialshare-url="{{$ctrl.pageUrl}}">
            <i class="font-icons icon-linkedin"></i>
            <span>{{$ctrl.socialData.socailShareShareOnText}} <br ng-if="$ctrl.socialData.socailShareShareOnText"><strong>linkedin</strong></span>
        </a>

        <a href class="about-us-button grey-border google-plus"
            socialshare
            socialshare-provider="google"
            socialshare-text="Kaspersky:"
            socialshare-url="{{$ctrl.pageUrl}}">
            <i class="font-icons icon-google-plus"></i>
            <span>{{$ctrl.socialData.socailShareShareOnText}} <br ng-if="$ctrl.socialData.socailShareShareOnText"><strong>google+</strong></span>
        </a>
    </div><!-- /social -->
</div>

<div class="share-section" ng-if="$ctrl.template == 'team'">
    <div class="intro">
        <p class="share-title">{{$ctrl.socialData.socialShareLikeThis}}</p>
        <p ng-bind-html="$ctrl.socialData.socialShareRecommendText|html"></p>
        <p class="share-invite">{{$ctrl.socialData.socailShareShareOnText}}</p>
    </div>
    <ul class="share-list">
        <li>
            <a href class="facebook"
               socialshare
               socialshare-provider="facebook"
               socialshare-text="Kaspersky:"
               socialshare-url="{{$ctrl.pageUrl}}">
                <span class="font-icons icon-facebook"></span>
                <span class="share-invite">{{$ctrl.socialData.socailShareShareOnText}}</span>
                <span class="share-name">Facebook</span>
            </a>
        </li>
        <li>
            <a href class="twitter"
               socialshare
               socialshare-provider="twitter"
               socialshare-text="Kaspersky:"
               socialshare-hashtags="Kaspersky"
               socialshare-url="{{$ctrl.pageUrl}}">
                <span class="font-icons icon-twitter"></span>
                <span class="share-invite">{{$ctrl.socialData.socailShareShareOnText}}</span>
                <span class="share-name">Twitter</span>
            </a>
        </li>
        <li>
            <a href class="linkedin"
               socialshare
               socialshare-provider="linkedin"
               socialshare-text="Kaspersky:"
               socialshare-url="{{$ctrl.pageUrl}}">
                <span class="font-icons icon-linkedin"></span>
                <span class="share-invite">{{$ctrl.socialData.socailShareShareOnText}}</span>
                <span class="share-name">LinkedIn</span>
            </a>
        </li>
        <li>
            <a href class="googleplus"
               socialshare
               socialshare-provider="google"
               socialshare-text="Kaspersky:"
               socialshare-url="{{$ctrl.pageUrl}}">
                <span class="font-icons icon-google-plus"></span>
                <span class="share-invite">{{$ctrl.socialData.socailShareShareOnText}}</span>
                <span class="share-name">Google+</span>
            </a>
        </li>
    </ul>
</div>

<div class="social-col" ng-if="$ctrl.template == 'search'">
    <div class="about-us-social">
        <div class="content">
            <i class="font-icons icon-heart-o"></i>
            <p><strong>{{$ctrl.socialData.socialShareLikeThis}}</strong><br/><soc-share ng-bind-html="$ctrl.socialData.socialShareRecommendText|html"></soc-share></p>
            <span>{{$ctrl.socialData.socailShareShareOnText}}</span>
        </div>

        <a href class="about-us-button grey-border facebook"
            socialshare
            socialshare-provider="facebook"
            socialshare-text="Kaspersky:"
            socialshare-url="{{$ctrl.pageUrl}}">
            <i class="font-icons icon-facebook"></i>
            <span>{{$ctrl.socialData.socailShareShareOnText}} <br><strong>facebook</strong></span>
        </a>

        <a href class="about-us-button grey-border twitter"
            socialshare
            socialshare-provider="twitter"
            socialshare-text="Kaspersky:"
            socialshare-hashtags="Kaspersky"
            socialshare-url="{{$ctrl.pageUrl}}">
            <i class="font-icons icon-twitter"></i>
            <span>{{$ctrl.socialData.socailShareShareOnText}} <br><strong>twitter</strong></span>
        </a>

        <a href class="about-us-button grey-border linkedin"
            socialshare
            socialshare-provider="linkedin"
            socialshare-text="Kaspersky:"
            socialshare-url="{{$ctrl.pageUrl}}">
            <i class="font-icons icon-linkedin"></i>
            <span>{{$ctrl.socialData.socailShareShareOnText}} <br><strong>linkedin</strong></span>
        </a>

        <a href class="about-us-button grey-border google-plus"
            socialshare
            socialshare-provider="google"
            socialshare-text="Kaspersky:"
            socialshare-url="{{$ctrl.pageUrl}}">
            <i class="font-icons icon-google-plus"></i>
            <span>{{$ctrl.socialData.socailShareShareOnText}} <br><strong>google+</strong></span>
        </a>
    </div><!-- /social -->
</div>

<div class="widget widget-social aligncenter" ng-if="$ctrl.template == 'widget-center'">
    <div class="widget-inner about-us-social">
        <div class="content">
            <i class="font-icons icon-heart-o"></i>
            <p><strong>{{$ctrl.socialData.socialShareLikeThis}}</strong><br/><soc-share ng-bind-html="$ctrl.socialData.socialShareRecommendText|html"></soc-share></p>
            <span>{{$ctrl.socialData.socailShareShareOnText}}</span>
        </div>

        <a href class="about-us-button grey-border facebook"
            socialshare
            socialshare-provider="facebook"
            socialshare-text="Kaspersky:"
            socialshare-url="{{$ctrl.pageUrl}}">
            <i class="font-icons icon-facebook"></i>
            <span>{{$ctrl.socialData.socailShareShareOnText}} <br><strong>facebook</strong></span>
        </a>

        <a href class="about-us-button grey-border twitter"
            socialshare
            socialshare-provider="twitter"
            socialshare-text="Kaspersky:"
            socialshare-hashtags="Kaspersky"
            socialshare-url="{{$ctrl.pageUrl}}">
            <i class="font-icons icon-twitter"></i>
            <span>{{$ctrl.socialData.socailShareShareOnText}} <br><strong>twitter</strong></span>
        </a>

        <a href class="about-us-button grey-border linkedin"
            socialshare
            socialshare-provider="linkedin"
            socialshare-text="Kaspersky:"
            socialshare-url="{{$ctrl.pageUrl}}">
            <i class="font-icons icon-linkedin"></i>
            <span>{{$ctrl.socialData.socailShareShareOnText}} <br><strong>linkedin</strong></span>
        </a>

        <a href class="about-us-button grey-border google-plus"
            socialshare
            socialshare-provider="google"
            socialshare-text="Kaspersky:"
            socialshare-url="{{$ctrl.pageUrl}}">
            <i class="font-icons icon-google-plus"></i>
            <span>{{$ctrl.socialData.socailShareShareOnText}} <br><strong>google+</strong></span>
        </a>
    </div><!-- /social -->
</div>

<div class="widget widget-social alignleft" ng-if="$ctrl.template == 'widget-left'">
    <div class="widget-inner about-us-social">
        <div class="content">
            <i class="font-icons icon-heart-o"></i>
            <p><strong>{{$ctrl.socialData.socialShareLikeThis}}</strong><br/><soc-share ng-bind-html="$ctrl.socialData.socialShareRecommendText|html"></soc-share></p>
            <span>{{$ctrl.socialData.socailShareShareOnText}}</span>
        </div>

        <a href class="about-us-button grey-border facebook"
            socialshare
            socialshare-provider="facebook"
            socialshare-text="Kaspersky:"
            socialshare-url="{{$ctrl.pageUrl}}">
            <i class="font-icons icon-facebook"></i>
            <span>{{$ctrl.socialData.socailShareShareOnText}} <br><strong>facebook</strong></span>
        </a>

        <a href class="about-us-button grey-border twitter"
            socialshare
            socialshare-provider="twitter"
            socialshare-text="Kaspersky:"
            socialshare-hashtags="Kaspersky"
            socialshare-url="{{$ctrl.pageUrl}}">
            <i class="font-icons icon-twitter"></i>
            <span>{{$ctrl.socialData.socailShareShareOnText}} <br><strong>twitter</strong></span>
        </a>

        <a href class="about-us-button grey-border linkedin"
            socialshare
            socialshare-provider="linkedin"
            socialshare-text="Kaspersky:"
            socialshare-url="{{$ctrl.pageUrl}}">
            <i class="font-icons icon-linkedin"></i>
            <span>{{$ctrl.socialData.socailShareShareOnText}} <br><strong>linkedin</strong></span>
        </a>

        <a href class="about-us-button grey-border google-plus"
            socialshare
            socialshare-provider="google"
            socialshare-text="Kaspersky:"
            socialshare-url="{{$ctrl.pageUrl}}">
            <i class="font-icons icon-google-plus"></i>
            <span>{{$ctrl.socialData.socailShareShareOnText}} <br><strong>google+</strong></span>
        </a>
    </div><!-- /social -->
</div>
