<div class="main" ng-if="$ctrl.template === '2.0'">
    <ar-popup class="ar-popup"></ar-popup>
    <page-header template="ksc" product="$ctrl.product"></page-header>
    <animated-features></animated-features>
    <custom-carousel></custom-carousel>
    <product-features template="product"></product-features>
	<kscloud-featured-products></kscloud-featured-products>
    <accordion></accordion>
    <hp-reviews-section class="plain-design"></hp-reviews-section>
    <awards-section template="b2c" class="plain-design"></awards-section>
    <feature-section-sec class="plain-design"></feature-section-sec>
</div>

<div class="main" ng-if="$ctrl.template !== '2.0'">
	<ar-popup class="ar-popup"></ar-popup>
	<page-header id="page-header" class="taller-header-overlay"></page-header>
	<section class="product-header">
		<div class="container divider">
			<div class="row">
				<div class="welcome-section col-l-12">
					<welcome-section type="kscPage" product-info="$ctrl.product"></welcome-section>
				</div><!-- /welcom-section -->
			</div>
		</div>
	</section>
	<product-features></product-features>
	<features-grid></features-grid>
	<kscloud-featured-products></kscloud-featured-products>
	<hp-reviews-section></hp-reviews-section>
	<feature-section-sec></feature-section-sec>
	<custom-html></custom-html>
	<bottom-banner></bottom-banner>
</div>
