.custom-carousel {
  padding-top: 5em;
}

.carousel-header {
  margin-top: 6em;
  text-align: center;

  &--left,
  &--right,
  &--plus {
    display: inline-block;
    vertical-align: middle;
    margin: 0 3.5em;
  }

  &--left,
  &--right {
    h2 {
      margin-bottom: .1em;
      font-size: 2.3em;
      font-weight: 700;
      color: $klgrey;
    }

    p {
      font-size: 1.3em;
      font-weight: 500;
      color: $klgreen;
    }
  }

  &--plus {
    position: relative;
    width: 80px;
    height: 80px;

    &:before {
      content: "";
      display: block;
      width: 100%;
      height: 50%;
      border-bottom: 2px solid #B0CCD8;
      position: absolute;
      top: 0;
      left: 0;
    }

    &:after {
      content: "";
      display: block;
      height: 100%;
      width: 50%;
      border-right: 2px solid #B0CCD8;
      position: absolute;
      top: 0;
      left: 0;
    }
  }
}

.carousel-body {
  margin-top: 2em;

  &--item {
    text-align: left;
    display: flex;
    flex-wrap: nowrap;
    align-items: stretch;

    //img {
    //  margin: 0 auto;
    //}
    //
    //& > p:first-child {
    //  margin-top: .5em;
    //}
    //
    //p {
    //  margin-bottom: 0;
    //  color: $klgrey;
    //  font-size: 1em;
    //  font-weight: 700;
    //  line-height: .8em;
    //}

    .large-section-title {
      color: $klgrey;
      font-size: 1.75em;
      font-weight: 700;
    }

    p {
      color: $klblack;
      font-size: 1.3em;
      font-weight: 300;

      &.small {
        font-size: 1em;
      }
    }
  }

  .slick-dots {
    border: none;

    @include media(769px) {
      margin-top: 3em;
    }

    li {
      button {
        background: #E1EDF2;
        border-color: #E1EDF2;
        width: 1.4em;
        height: 1.4em;
        border-radius: .7em;

        &:hover {
          opacity: .8;
        }
      }

      &.slick-active {
        button {
          background: #009982;
          border-color: #009982;
        }
      }
    }
  }

  .slick-arrow {
    &:hover {
      opacity: .8;
    }
  }

  .next-slide,
  .prev-slide {
    position: absolute;
    top: 30%;
    margin-top: -.5em;
    display: block;
    font-size: 2.5em;
    width: 45px;
    height: 84px;
    color: #ccc;
    text-indent: -9000em;
    overflow: hidden;
    background: url(../i/icons/carousel-arrows.png) no-repeat 0 0;
  }

  .prev-slide {
    background-position: 100% 0;
    left: -2em;
  }

  .next-slide {
    right: -2em;
  }
}

.carousel-footer {
  margin-top: 2em;
  text-align: center;

  a {
    font-size: 1.2em;
    padding: 20px 40px 20px 0;
    background: url(../i/icons/arrow-icon-learn-more.png) no-repeat 100% center;
  }
}
