<section class="grey-typography strong-typography custom-carousel">
    <div class="container">
        <div class="carousel-body clear">
            <div class="carousel-body--item" ng-repeat="element in $ctrl.data.elements">
                <div class="row">
                    <div class="col-l-6">
                        <figure class="figure-smaller text-center">
                            <img ng-src="{{element.img}}" alt="">
                        </figure>
                    </div>
                    <div class="col-l-6 large-feature-section-content larger-gutter" ng-bind-html="element.desc | html"></div>
                </div>
            </div>
        </div>
        <p class="carousel-footer" ng-if="$ctrl.data.bottomText && $ctrl.data.bottomLink">
            <a ng-href="{{$ctrl.data.bottomLink}}">{{$ctrl.data.bottomText}}</a>
        </p>
    </div>
</section>


<!--<section class="grey-typography strong-typography custom-carousel">-->
    <!--<div class="container">-->
        <!--<div class="carousel-header">-->
            <!--<div class="carousel-header&#45;&#45;left" ng-bind-html="$ctrl.data.headerLeft | html"></div>-->
            <!--<div class="carousel-header&#45;&#45;plus"></div>-->
            <!--<div class="carousel-header&#45;&#45;right" ng-bind-html="$ctrl.data.headerRight | html"></div>-->
        <!--</div>-->
        <!--<div class="carousel-body clear">-->
            <!--<div class="carousel-body&#45;&#45;item" ng-repeat="element in $ctrl.data.elements">-->
                <!--<img ng-src="{{element.img}}" />-->
                <!--<p>{{element.preText}}</p>-->
                <!--<p>{{element.text}}</p>-->
            <!--</div>-->
        <!--</div>-->
        <!--<p class="carousel-footer">-->
            <!--<a ng-href="{{$ctrl.data.bottomText}}">{{$ctrl.data.bottomText}}</a>-->
        <!--</p>-->
    <!--</div>-->
<!--</section>-->