/***************************************
	Trustpilot Slider
***************************************/
.reviews-slider {
  padding-top: 5em;
  border-top: 1px solid #e5e5e5;

  .main & .container {
    padding-bottom: 5em;
  }

  .section-title,
  .button {
    text-transform: uppercase;
  }

  .reviews-all-link {
    display: inline-block;
    margin-left: 1em;
    margin-top: 60px;
    padding-left: 1em;
    font-size: .875em;
    border-left: 1px solid #e5e5e5;
  }

  .reviews-item {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

  .reviews-personal {
    margin-bottom: 2em;

    h5 {
      margin-bottom: .5em;
      font-weight: 500;
      line-height: 1.3em;
      color: #1C1C1C;
    }

    blockquote {
      font-style: italic;
      font-size: 1em;
      font-weight: 300;
      padding-top: 0;
      margin-bottom: 0;
      line-height: 1.4em;
      color: #888;
    }

    .starbar {
      &.medium {
        .icon-star {
          font-size: .9em;
          margin-right: .15em;
        }
      }
    }
  }

  p.note {
    margin: 2em 0 .8em;
    font-size: .75em;
    color: #999;
  }

  .logo-small {
    max-width: 120px;
  }

  .reviews-list {
    display: none;

    &.slick-initialized {
      display: block;
    }

    .slick-list {
      & > div,
      .slick-slide,
      .item-inner {
        display: flex;
        flex-wrap: nowrap;
        align-items: stretch;
      }

      @include media(769px) {
        figure {
          margin: 0 auto;
        }
      }

      .content {
        flex-grow: 1;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
      }
    }

    .slick-dots {
      @include list-reset;
      padding-top: 0;
      text-align: center;
      font-size: em(12);
      border-top: none;
      float: left;
      margin-top: 60px;

      li {
        display: inline-block;

        &:only-child {
          display: none;
        }

        a,
        button {
          @include prefixer(border-radius, .5em, webkit moz spec);
          @include prefixer(appearance, none, webkit moz spec);
          display: block;
          cursor: pointer;
          margin: 0 .2em;
          padding: 0;
          width: 1em;
          height: 1em;
          text-indent: -9000em;
          background: transparent;
          border: 1px solid #ddd;
          outline: none;

          &:hover {
            border-color: $kgreen;
          }
        }

        &.slick-active {
          a,
          button {
            background-color: #ddd;

            &:hover {
              border-color: #ddd;
            }
          }
        }
      }
    }
  }

  .reviews-list,
  ul.reviews-list {
    @include list-reset;
    list-style: none;
    margin: 0;
    padding: 0;

    li {
      list-style: none;
      margin: 0;
      padding: 0;
      -webkit-backface-visibility: hidden;
    }

    .slick-list,
    .slick-track {
      @include list-reset;
      list-style: none;
    }

    .slick-arrow {
      position: absolute;
      top: 50%;
      margin-top: -.5em;
      display: block;
      font-size: 2.5em;
      width: 1em;
      height: 1em;
      color: #ccc;
      text-indent: -9000em;
      overflow: hidden;

      &:before {
        display: block;
        position: absolute;
        top: -.18em;
        left: -.2em;
        font-size: 1.25em;
        width: 1em;
        height: 1em;
        text-indent: 0;
        text-align: center;
      }

      &:hover {
        color: $kgreen;
      }

      &.prev-slide {
        left: -1em;

        &:before {
          content: "\f104";
        }
      }

      &.next-slide {
        right: -1em;

        &:before {
          content: "\f105";
        }
      }
    }
  }
}

@include media(769px) {
  .reviews-list,
  ul.reviews-list {
    .slick-dots {
      padding-top: 0;
      border-top: 0;
    }
  }
}

@media (max-width: 768px) {
  .reviews-list {
    margin-top: 2em;
  }

  .reviews-list {
    .slick-dots {
      float: none;
    }

    .reviews-all-link {
      border: 0;
      margin: 2em 0;
      width: 100%;
      text-align: center;
    }
  }

  .logo-small {
    margin-bottom: 2em;
  }
}
