<header id="page-header" ng-if="$ctrl.data" class="page-header image-bg {{$ctrl.data.sectionBlockClass}}" ng-style="{'background-image': 'url(' + $ctrl.data.headerBackgroundImage + ')'}">
  <div class="overlay-1"></div>
  <div class="overlay-2"></div>

  <div class="container">
    <div class="page-headline show-figure big-headline">
      <figure>
      	<img ng-src="{{$ctrl.data.errorIcon | addLocalRoot}}" alt="{{$ctrl.data.title}}" />
      </figure>

      <h1 class="page-title">{{$ctrl.data.title}}</h1>
      <h2 class="page-desc" ng-if="$ctrl.data.errorDescriptionSubtitle">{{$ctrl.data.errorDescriptionSubtitle}}</h2>
      <text-description ng-if="$ctrl.data.errorDescriptionText" ng-bind-html="$ctrl.data.errorDescriptionText">{{$ctrl.data.errorDescriptionText|html}}</text-description>
    </div>
  </div>
</header>
