<section class="about-us-item-list-2 border-bottom" id="about-us-news">
    <div class="container">
        <form class="search-form row">
            <div class="col-l-8">
                <div class="search-box-wrap">
                </div>
            </div>
            <div class="col-l-4">
                <div class="search-submit-wrap">
                    <select class="sortby-btn" ng-model="$ctrl.selector" ng-options="item for item in $ctrl.filterSelections"
                            ng-change="$ctrl.changeFilter($ctrl.selector)">
                    </select>
                </div>
            </div>
        </form>
        <ul class="search-results">
            <li dir-paginate="item in $ctrl.resources | orderBy: '-date_publication_start'  | itemsPerPage: $ctrl.pageSize"
                total-items=$ctrl.resourcesTotalCount
                current-page="$ctrl.currentPage"
                pagination-id="pressReleasePagination">
                <div class="career-content-wrap">
                    <h3><a ui-sref="rss-feeds.details({path:$ctrl.getUserFriendlyUrl(item)})">{{item.title}}</a></h3>
                    <p>{{item.date_publication_start | date : 'longDate'}} - {{item.subcategoryTitle}}</p>
                    <p class="career-desc" ng-bind-html="item.summary"></p>
                    <a class="career-apply-link" ui-sref="rss-feeds.details({path:$ctrl.getUserFriendlyUrl(item)})">Read More &gt;</a>
                </div>
            </li>
        </ul>
        <div class="item-list-footer">
            <dir-pagination-controls boundary-links="true" pagination-id="pressReleasePagination"
                                     template-url="/apps/kapp/pages/content-repo/press-releases-pagination.html"
                                     on-page-change="$ctrl.pageChangeHandler(newPageNumber)">
            </dir-pagination-controls>
            <social-sharing use-press-release-template="true"></social-sharing>
        </div>
    </div>
</section>
