.bazarvoice {
  cursor: pointer;
  text-align: center;

  .starbar {
    min-width: 50px;
    display: inline-block;
    vertical-align: middle;
  }

  .text {
    margin-bottom: 0;
    font-size: 11px;
    color: #aaa;
    display: inline-block;
    margin-left: 10px;
  }

  .star {
    position: relative;
    float: left;
    display: block;
    font-size: 10px;
    color: #FFC200;
  }
}