<section class="regular-section">
    <div class="container">
        <div class="row">
            <div class="content" ng-class="{'col-l-7 col-xl-8': $ctrl.data.sidebarHeader != null, 'col-l-12 col-xl-12': $ctrl.data.sidebarHeader == null}">
                <div class="tab-nav">
                    <ul class="tabs tabs-title-wrapper" data-tab="top-tabs">
                        <li ng-repeat="tab in $ctrl.data.tabs" class="tab-title" ng-class="{'selected':$index==$ctrl.selected}">
                            <a href="" ng-click="$ctrl.selectTab($index)">{{tab.tabTitle}}</a>
                        </li>
                    </ul>
                </div>
                <ul class="tab-content-wrapper" data-tab="top-tabs">
                    <li ng-repeat="tab in $ctrl.data.tabs" id="tab-{{tab.tabTitle}}" class="tab-content-single" ng-class="{'tab-show':$index==$ctrl.selected}">
                        <div ng-bind-html="tab.tabTextBlock"></div>
                        <ul ng-if="tab.accordions.length != 0"  class="accordion-section">
                            <li ng-repeat="accordion in tab.accordions" class="accordion-wrapper">
                                <h4>{{accordion.header}}</h4>
                                <div class="accordion-content">
                                    <div ng-bind-html="accordion.content"></div>
                                </div>
                            </li>
                        </ul><!-- /accordion-section -->
                    </li>
                </ul>
            </div><!-- /content -->
            <div ng-if="$ctrl.data.sidebarHeader !=null" class="sidebar col-l-5 col-xl-4">
				<h4>{{$ctrl.data.sidebarHeader}}</h4>
				<ul class="services-list">
					<li ng-repeat="service in $ctrl.data.relatedServices">
						<h2><a href="{{service.link}}">{{service.name}}</a></h2>
						<span ng-if="service.price">{{service.price}}</span>
						<description ng-bind-html="service.description">{{service.description}}</description>
					</li>
				</ul>
			</div><!-- /sidebar -->
        </div>
    </div>
</section>