<li class="full no-gutter">
    <div class="menu-list-wrapper col-l-6">
        <div class="menu-list" ng-repeat="products in item.megaMenuItem.megaMenuGroups track by $index" ng-if="products.position === 'Left'">
            <h4 class="section-title">{{products.groupTitle}}</h4>
            <div ng-repeat="product in products.groupProduct track by $index">
                <h5><a ng-href="{{product.megaMenuProdLink}}">{{product.megaMenuKasperskyTitle}} {{product.megaMenuProdTitle}}</a></h5>
                <div class="desc">
                    <p ng-bind-html="product.headerDescription"></p>
                </div>
            </div>
        </div>
    </div>
    <div class="menu-list-wrapper col-l-6">
        <div class="menu-list" ng-repeat="products in item.megaMenuItem.megaMenuGroups track by $index" ng-if="products.position !== 'Left'">
            <h4 class="section-title">{{products.groupTitle}}</h4>
            <div ng-repeat="product in products.groupProduct track by $index">
                <h5><a ng-href="{{product.megaMenuProdLink}}">{{product.megaMenuKasperskyTitle}} {{product.megaMenuProdTitle}}</a></h5>
                <div class="desc">
                    <p ng-bind-html="product.headerDescription"></p>
                </div>
            </div>
        </div>
    </div>
</li>