$homepage-header-width: 2400px;
$homepage-header-height: 670px;

.homepage-hero-header-desktop {
  display: none;
}

@include media(769px) {
  .site-homepage #site-top {
    display: none;
  }

  .site-homepage #site-header {
    display: none;
  }

  .homepage-hero-header-desktop {
    display: block;
    position: relative;
    overflow: hidden;
    height: $homepage-header-height + 1px;
    border-bottom: 1px solid #e3e3e3;

    .hero-header-inner {
      position: absolute;
      left: 50%;
      margin: 0 0 0 ($homepage-header-width / -2);
      width: $homepage-header-width;
      height: $homepage-header-height;

      .top-nav {
        position: absolute;
        top: 31px;
        left: 50%;
        margin-left: -175px;
        width: 350px;
        height: 30px;
        z-index: 10;

        .locale--ja-jp & {
          margin-left: -190px;
          width: 380px;
        }

        label {
          z-index: 1;
        }

        .top-nav-search-form {
          position: absolute;
          top: 0;
          right: 0;
          left: 0;
          height: 30px;
          margin: 0;
          padding: 0;

          .search-bar {
            z-index: 0;
            position: absolute;
            top: -10px;
            width: 100%;
            background-color: #fff;
            border: 1px solid #E0E1DD;
            padding-bottom: .2em;

            & > span {
              position: absolute;
              top: .5em;
              left: 90%;
              opacity: .2;
              vertical-align: middle;
              cursor: pointer;

              &:hover {
                @include transition(color .15s ease-in);
                color: $kgreen;
                opacity: .7;
                width: 3.5%;
              }
            }

            ul {
              padding-top: .5em;

              li {
                font-size: .9em;
                margin: 0 auto;
                display: block;
                cursor: pointer;

                div {
                  padding: 3px;
                  cursor: pointer;
                  color: #888;
                  font-weight: 400;

                  span {
                    color: #444;
                  }
                }
              }
            }
          }

          .top-nav-search-btn {
            @include transition(color .2s ease-in);
            font-family: $museosans;
            font-weight: 300;
            font-size: 15px;
            line-height: 1.2;
            color: #afafaf;
            display: block;
            float: left;
            position: relative;
            top: -1px;
            left: 16px;
            cursor: pointer;

            &:hover {
              color: #006d5c;
            }
          }

          &.active .top-nav-search-btn {
            color: #006d5c;
          }

          .search-input-wrap {
            z-index: -1;
            position: absolute;
            top: -7px;
            right: 58px;
            left: 58px;
            height: 30px;
            opacity: 0;
            width: 70%;
          }

          #homepage-header-search-input {
            @include placeholder {
              color: inherit;
              opacity: 1;
            }
            display: block;
            width: 100%;
            height: 30px;
            border: 0;
            margin: 0;
            padding: 0;
            font-family: $museosans;
            font-weight: 300;
            font-size: 14px;
            line-height: 1.57;
            color: #afafaf;
            box-shadow: none;
            background: transparent;
          }
        }

        .top-nav-hideonsearch {
          position: absolute;
          top: 0;
          right: 0;
          left: 50px;
          height: 30px;

          & > li {
            display: block;
            float: left;

            & > a {
              @include transition(color .2s ease-in);
              display: block;
              font-family: $museosans;
              font-weight: 300;
              font-size: 14px;
              line-height: 1.2;
              color: #afafaf;
            }

            &:hover > a {
              color: #006d5c;
            }

            &.top-nav-cart {
              position: relative;
              top: -4px;

              & > a {
                font-size: 19px;
              }
            }

            &.top-nav-support,
            &.top-nav-mykaspersky {
              position: relative;
              margin-left: 27px;

              & > a {
                padding-bottom: 25px;
              }

              & > a i {
                @include transition(color .2s ease-in);
                font-size: 8px;
                position: relative;
                top: -1px;
                left: 3px;
                color: #c9c9c9;
              }

              &:hover > a i {
                color: #8c8c8c;
              }

              & > ul {
                position: absolute;
                display: none;
                top: 33px;
                left: -195px;
                z-index: 100;
                width: 330px;
                background: #fafafa;
                border-top: 1px solid #eee;
                border-bottom: 2px solid #ddd;
                box-shadow: 0 1px 1px 0 rgba(0, 0, 0, .2);

                li {
                  display: block;
                  float: left;
                  width: 33.3%;
                  border-left: 1px solid #e5e5e5;

                  &:first-child {
                    border-left: 0;
                  }

                  a {
                    display: block;
                    height: 95px;
                    text-align: center;
                    padding: 21px 4px 12px;
                    font-size: 12px;
                    color: #666;

                    &:hover {
                      color: #006d5c;
                    }

                    .font-icons {
                      font-size: 18px;
                      margin-bottom: 14px;
                      display: block;
                    }
                  }
                }
              }

              &:hover > ul {
                display: block;
              }
            }
          }
        }
      }

      .mid-screen-wrap {
        position: absolute;
        top: 167px;
        right: 0;
        bottom: 0;
        left: 0;
      }

      .mid-screen {
        text-align: center;
        position: absolute;
        top: 0;
        right: 0;
        bottom: auto;
        left: 0;
        visibility: hidden;

        .focus-img {
          display: block;
          max-width: 250px;
          height: auto;
          margin: 0 auto 30px;
        }

        h2 {
          font-family: $museosans;
          font-weight: 300;
          font-size: 18px;
          line-height: 1.22;
          color: #373737;

          &.business {
            margin-bottom: 4px;
          }

          &.home {
            margin-bottom: 11px;
          }
        }

        .subtitle {
          font-family: $museosans;
          font-weight: 300;
          font-size: 14px;
          line-height: 1.57;
          color: #006d5c;
          margin-bottom: 9px;
          text-transform: uppercase;
        }

        .desc {
          font-family: $museosans;
          font-weight: 300;
          font-size: 14px;
          line-height: 1.57;
          color: #888;
          letter-spacing: -.2px;
          max-width: 250px;
          margin: 0 auto 5px;
        }
      }

      .mid-screen-intro {
        top: 104px;
        visibility: visible;

        .logo {
          max-width: 242px;
          height: auto;
          display: block;
          margin: 0 auto 44px;
        }

        h2 {
          font-family: $museosans;
          font-weight: 100;
          font-size: 28px;
          line-height: 1.21;
          color: #323232;
          letter-spacing: -1.3px;
        }
      }

      .mid-small-logo {
        position: absolute;
        right: 0;
        bottom: 0;
        left: 0;
        visibility: hidden;

        span {
          display: block;
          width: 2px;
          margin: 0 auto 26px;
          height: 1px;
          background-color: #e6e6e6;
        }

        img {
          max-width: 162px;
          display: block;
          margin: 0 auto;
          height: auto;
        }
      }

      .select-product-type {
        position: absolute;
        right: 0;
        bottom: 66px;
        left: 0;
        color: #bbb;
        overflow: hidden;

        p {
          text-transform: uppercase;
          font-family: $museosans;
          font-weight: 300;
          font-size: 11px;
          line-height: 1;
          color: inherit;
          text-align: center;
          letter-spacing: -.4px;
          margin: 0;
        }

        .left,
        .right {
          display: block;
          position: absolute;
          top: 4px;
          width: 40px;
          height: 1px;
          background-color: #e7e7e7;
        }

        .left {
          left: 25px;
        }

        .right {
          right: 25px;
        }
      }

      .side-cta-box {
        position: absolute;
        bottom: 0;
        min-width: 245px;
        text-align: center;
        visibility: hidden;

        &.business {
          right: 0;
          left: 195px;
        }

        &.home {
          right: 195px;
          left: 0;
        }

        a {
          @include user-select(none);
          display: block;
          margin: 0 auto 25px;
          padding: 12px 5px 11px;
          max-width: 200px;
          font-family: $museosans;
          font-weight: 900;
          font-size: 20px;
          line-height: 1.46;
          color: #fff;
          text-transform: uppercase;
          border: 1px solid #a09e9d;
          border: 1px solid rgba(255, 255, 255, .4);
          border-radius: 1px;
          text-shadow: 0 2px 1px rgba(0, 0, 0, .4);
          letter-spacing: -.6px;
          outline: none;
          -webkit-tap-highlight-color: rgba(255, 255, 255, 0);
        }

        p {
          margin-bottom: 40px;
          font-family: $museoslab;
          font-weight: 100;
          font-style: italic;
          font-size: 18px;
          line-height: 1.4;
          color: #fff;
          text-shadow: 0 2px 1px rgba(0, 0, 0, .4);
          letter-spacing: -.8px;
        }
      }

      .side-screen {
        width: 483px;
        position: absolute;
        top: 152px;
        bottom: 0;
        text-align: center;
        visibility: hidden;

        &.business {
          right: 0;
        }

        &.home {
          left: 0;
        }

        h2 {
          margin: 0 auto;
          padding: 0;
          font-family: $museosans;
          font-weight: 900;
          font-size: 38px;
          line-height: 1.2;
          color: #fff;
          text-transform: uppercase;
          text-shadow: 0 1px 1px rgba(0, 0, 0, .4);
          letter-spacing: -.8px;
        }

        h3 {
          font-family: $museoslab;
          font-weight: 100;
          font-style: italic;
          font-size: 23px;
          line-height: 1.8;
          color: #fff;
          text-shadow: 0 1px 1px rgba(0, 0, 0, .4);
          letter-spacing: -.9px;
          margin-bottom: 39px;
        }

        .cta-list {
          width: 310px;
          margin: 0 auto;

          li {
            display: block;
            width: 320px;
            height: 84px;
            margin: 0 auto;
          }

          .cta {
            position: relative;
            display: block;
            width: 320px;
            height: 56px;
            background: #fff;
            border-radius: 3px;
            opacity: .7;

            i {
              position: absolute;
              display: block;
              color: #070707;
              top: 0;
              left: 0;
              width: 64px;
              line-height: 56px;

              &.business-small {
                padding: 3px 0 0 3px;
                font-size: 18px;
              }

              &.business-medium {
                font-size: 22px;
              }

              &.business-enterprise {
                font-size: 28px;
              }

              &.home-pc {
                padding: 4px 0 0 5px;
                font-size: 28px;
              }

              &.home-mac {
                padding: 2px 0 0 4px;
                font-size: 30px;
              }

              &.home-mobile {
                font-size: 28px;
              }
            }

            .cta-title {
              position: absolute;
              display: block;
              top: 0;
              left: 64px;
              width: 99px;
              height: 56px;
              text-align: left;

              &.business {
                padding: 15px 0 0;

                .locale--ja-jp & {
                  padding: 23px 0 0 6px;
                }
              }

              &.home {
                padding: 23px 0 0 6px;

                .locale--ja-jp & {
                  padding: 15px 0 0;
                }
              }

              b {
                display: block;
                font-family: $museosans;
                font-weight: 300;
                font-size: 14px;
                line-height: 1;
                color: #373737;
                letter-spacing: -.3px;
                margin-bottom: 4px;
              }

              span {
                display: block;
                font-family: $museosans;
                font-weight: 300;
                font-size: 10px;
                line-height: 1;
                color: #9e9e9e;
                text-transform: uppercase;
                letter-spacing: -.2px;
              }
            }

            .cta-green-text {
              display: block;
              position: absolute;
              top: 11px;
              left: 163px;
              line-height: 34px;
              padding: 1px 0 0 12px;
              font-family: $museosans;
              font-weight: 500;
              font-size: 11px;
              color: #006d5c;
              text-transform: uppercase;
              border-left: 1px solid #d9d9d9;

              &.business {
                left: 163px;
                padding: 1px 0 0 12px;

                content {
                  white-space: nowrap;
                }
              }

              &.home {
                left: 158px;
                padding: 1px 0 0 14px;
              }
            }
          }
        }

        &.home .cta-list li {
          height: 74px;
        }

        .all-products {
          @include transition(border-color .2s ease-in);
          font-weight: 700;
          font-size: 11px;
          letter-spacing: -.1px;
          color: #fff;
          text-transform: uppercase;
          border: 1px solid #c7c9cb;
          border: 1px solid rgba(255, 255, 255, .45);
          border-radius: 1px;
          padding: 15px 5px 13px;
          display: block;
          max-width: 179px;
          margin: 10px auto 30px;
          text-align: center;

          &:hover {
            border-color: #eaf4f3;
            border-color: rgba(255, 255, 255, .9);
          }
        }

        .bottom-copy {
          font-family: $museoslab;
          font-weight: 100;
          font-style: italic;
          font-size: 12px;
          line-height: 1.66;
          color: #fff;
          letter-spacing: -.2px;
          text-shadow: 0 1px 1px rgba(0, 0, 0, .4);
          margin: 0;
          padding: 1px 0 0;
        }
      }

      .green-overlay {
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        background-repeat: no-repeat;
        background-size: cover;
        visibility: hidden;

        &.business {
          background-image: url("/content/en-global/images/homepage/bg-green-overlay-left.png");
          background-position: right center;
        }

        &.home {
          background-image: url("/content/en-global/images/homepage/bg-green-overlay-right.png");
          background-position: left center;
          opacity: 0;
        }
      }

      .gray-overlay {
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        background-color: #3c3c3c;
        visibility: hidden;
      }

      .hero-side-col {
        position: relative;
        float: left;
        height: $homepage-header-height;
        width: (($homepage-header-width - 280px) / 2);
        background-repeat: no-repeat;
        background-size: cover;
        z-index: 50;

        &.business {
          background-position: right center;
        }

        &.home {
          background-position: left center;
        }
      }

      .hero-mid-col {
        position: relative;
        float: left;
        height: $homepage-header-height;
        width: 280px;
        z-index: 55;

        .border-left {
          @include transform-origin(top right);
          @include transform(skewX(4.2deg));
          position: absolute;
          top: 0;
          right: auto;
          bottom: 0;
          left: -50px;
          width: 50px;
          height: auto;
          background: #fff;

          .no-csstransforms & {
            position: absolute;
            top: 0;
            right: auto;
            bottom: auto;
            left: -50px;
            width: 0;
            height: 0;
            background: transparent;
            border-style: solid;
            border-width: 0 50px 670px 0;
            border-color: transparent #fff transparent transparent;
          }
        }

        .border-right {
          @include transform-origin(top left);
          @include transform(skewX(-4.2deg));
          position: absolute;
          top: 0;
          right: -50px;
          bottom: 0;
          left: auto;
          width: 50px;
          height: auto;
          background: #fff;

          .no-csstransforms & {
            position: absolute;
            top: 0;
            right: -50px;
            bottom: auto;
            left: auto;
            width: 0;
            height: 0;
            background: transparent;
            border-style: solid;
            border-width: 670px 50px 0 0;
            border-color: #fff transparent transparent;
          }
        }
      }
    }
  }
}

@include media(992px) {
  .homepage-hero-header-desktop {
    display: block;
    position: relative;
    overflow: hidden;
    height: $homepage-header-height + 1px;
    border-bottom: 1px solid #e3e3e3;

    .hero-header-inner {
      position: absolute;
      left: 50%;
      margin: 0 0 0 ($homepage-header-width / -2);
      width: $homepage-header-width;
      height: $homepage-header-height;

      .top-nav {
        position: absolute;
        top: 31px;
        left: 50%;
        margin-left: -175px;
        width: 350px;
        height: 30px;
        z-index: 10;

        label {
          z-index: 1;
        }

        .top-nav-search-form {
          position: absolute;
          top: 0;
          right: 0;
          left: 0;
          height: 30px;
          margin: 0;
          padding: 0;

          .search-bar {
            z-index: 0;
            position: absolute;
            top: -10px;
            left: 15px;
            width: 90%;
            background-color: #fff;
            border: 1px solid #E0E1DD;
            padding-bottom: .2em;

            & > span {
              position: absolute;
              top: .5em;
              left: 90%;
              opacity: .2;
              vertical-align: middle;
              cursor: pointer;

              &:hover {
                @include transition(color .15s ease-in);
                color: $kgreen;
                opacity: .7;
                width: 3.5%;
              }
            }

            ul {
              padding-top: .5em;

              li {
                font-size: .9em;
                margin: 0 auto;
                display: block;
                cursor: pointer;

                div {
                  padding: 3px;
                  cursor: pointer;
                  color: #888;
                  font-weight: 400;

                  span {
                    color: #444;
                  }
                }
              }
            }
          }

          .top-nav-search-btn {
            @include transition(color .2s ease-in);
            font-family: $museosans;
            font-weight: 300;
            font-size: 15px;
            line-height: 1.2;
            color: #afafaf;
            display: block;
            float: left;
            position: relative;
            top: -1px;
            left: 12px;
            cursor: pointer;

            &:hover {
              color: #006d5c;
            }
          }

          &.active .top-nav-search-btn {
            color: #006d5c;
          }

          .search-input-wrap {
            z-index: -1;
            position: absolute;
            top: -7px;
            right: 58px;
            left: 58px;
            height: 30px;
            opacity: 0;
            width: 70%;
          }

          #homepage-header-search-input {
            @include placeholder {
              color: inherit;
              opacity: 1;
            }
            display: block;
            width: 100%;
            height: 30px;
            border: 0;
            margin: 0;
            padding: 0;
            font-family: $museosans;
            font-weight: 300;
            font-size: 14px;
            line-height: 1.57;
            color: #afafaf;
            box-shadow: none;
            background: transparent;
          }
        }
      }

      .mid-screen {
        .focus-img {
          max-width: 100%;
        }
      }

      .mid-screen-intro {
        top: 104px;
        visibility: visible;

        .logo {
          max-width: 242px;
          height: auto;
          display: block;
          margin: 0 auto 44px;
        }

        h2 {
          font-family: $museosans;
          font-weight: 100;
          font-size: 28px;
          line-height: 1.21;
          color: #323232;
          letter-spacing: -1.3px;
        }
      }

      .side-cta-box {
        min-width: 300px;

        &.business {
          right: 40px;
          left: 20px;
        }

        &.home {
          right: 20px;
          left: 40px;
        }

        a {
          padding: 16px 5px 18px;
          max-width: 300px;
          font-size: 28px;
        }
      }

      .side-screen {
        width: auto;

        &.business {
          right: 35px;
          left: 0;
        }

        &.home {
          left: 35px;
          right: 0;
        }
      }
    }
  }
}

@include media(1250px) {
  .homepage-hero-header-desktop {
    display: block;
    position: relative;
    overflow: hidden;
    height: $homepage-header-height + 1px;
    border-bottom: 1px solid #e3e3e3;

    .hero-header-inner {
      position: absolute;
      left: 50%;
      margin: 0 0 0 ($homepage-header-width / -2);
      width: $homepage-header-width;
      height: $homepage-header-height;

      .top-nav {
        position: absolute;
        top: 31px;
        left: 50%;
        margin-left: -175px;
        width: 350px;
        height: 30px;
        z-index: 10;

        label {
          z-index: 1;
        }

        .top-nav-hideonsearch {
          left: 50px;
        }

        .top-nav-search-form {
          position: absolute;
          top: 0;
          right: 0;
          left: 0;
          height: 30px;
          margin: 0;
          padding: 0;

          .search-bar {
            z-index: 0;
            position: absolute;
            top: -10px;
            width: 100%;
            background-color: #fff;
            border: 1px solid #E0E1DD;
            padding-bottom: .2em;
            left: 0;

            & > span {
              position: absolute;
              top: .5em;
              left: 90%;
              opacity: .2;
              vertical-align: middle;
              cursor: pointer;

              &:hover {
                @include transition(color .15s ease-in);
                color: $kgreen;
                opacity: .7;
                width: 3.5%;
              }
            }

            ul {
              padding-top: .5em;

              li {
                font-size: .9em;
                margin: 0 auto;
                display: block;
                cursor: pointer;

                div {
                  padding: 3px;
                  cursor: pointer;
                  color: #888;
                  font-weight: 400;

                  span {
                    color: #444;
                  }
                }
              }
            }
          }

          .top-nav-search-btn {
            @include transition(color .2s ease-in);
            font-family: $museosans;
            font-weight: 300;
            font-size: 15px;
            line-height: 1.2;
            color: #afafaf;
            display: block;
            float: left;
            position: relative;
            top: -1px;
            left: 4px;
            cursor: pointer;

            &:hover {
              color: #006d5c;
            }
          }

          &.active .top-nav-search-btn {
            color: #006d5c;
          }

          .search-input-wrap {
            z-index: -1;
            position: absolute;
            top: -7px;
            right: 58px;
            left: 58px;
            height: 30px;
            display: inline-block;
            opacity: 0;
            width: 70%;
          }

          #homepage-header-search-input {
            @include placeholder {
              color: inherit;
              opacity: 1;
            }
            display: block;
            width: 100%;
            height: 30px;
            border: 0;
            margin: 0;
            padding: 0;
            font-family: $museosans;
            font-weight: 300;
            font-size: 14px;
            line-height: 1.57;
            color: #afafaf;
            box-shadow: none;
            background: transparent;
          }
        }
      }

      .mid-screen-wrap {
        position: absolute;
        top: 167px;
        right: 0;
        bottom: 0;
        left: 0;
      }

      .mid-screen {
        text-align: center;
        position: absolute;
        top: 0;
        right: 0;
        bottom: auto;
        left: 0;
        visibility: hidden;

        .focus-img {
          display: block;
          max-width: 250px;
          height: auto;
          margin: 0 auto 30px;
        }

        h2 {
          font-family: $museosans;
          font-weight: 300;
          font-size: 18px;
          line-height: 1.22;
          color: #373737;

          &.business {
            margin-bottom: 4px;
          }

          &.home {
            margin-bottom: 11px;
          }
        }

        .subtitle {
          font-family: $museosans;
          font-weight: 300;
          font-size: 14px;
          line-height: 1.57;
          color: #006d5c;
          margin-bottom: 9px;
          text-transform: uppercase;
        }

        .desc {
          font-family: $museosans;
          font-weight: 300;
          font-size: 14px;
          line-height: 1.57;
          color: #888;
          letter-spacing: -.2px;
          max-width: 250px;
          margin: 0 auto 5px;
        }
      }

      .mid-screen-intro {
        top: 104px;
        visibility: visible;

        .logo {
          max-width: 242px;
          height: auto;
          display: block;
          margin: 0 auto 44px;
        }

        h2 {
          font-family: $museosans;
          font-weight: 100;
          font-size: 28px;
          line-height: 1.21;
          color: #323232;
          letter-spacing: -1.3px;
        }
      }

      .mid-small-logo {
        position: absolute;
        right: 0;
        bottom: 0;
        left: 0;
        visibility: hidden;

        span {
          display: block;
          width: 2px;
          margin: 0 auto 26px;
          height: 1px;
          background-color: #e6e6e6;
        }

        img {
          max-width: 162px;
          display: block;
          margin: 0 auto;
          height: auto;
        }
      }

      .select-product-type {
        position: absolute;
        right: 0;
        bottom: 66px;
        left: 0;
        color: #bbb;
        overflow: hidden;

        p {
          text-transform: uppercase;
          font-family: $museosans;
          font-weight: 300;
          font-size: 11px;
          line-height: 1;
          color: inherit;
          text-align: center;
          letter-spacing: -.4px;
          margin: 0;
        }

        .left,
        .right {
          display: block;
          position: absolute;
          top: 4px;
          width: 40px;
          height: 1px;
          background-color: #e7e7e7;
        }

        .left {
          left: 50px;
        }

        .right {
          right: 50px;
        }
      }

      .side-cta-box {
        position: absolute;
        bottom: 0;
        min-width: 483px;
        text-align: center;

        &.business {
          right: 0;
          left: auto;
        }

        &.home {
          right: auto;
          left: 0;
        }

        a {
          display: block;
          margin: 0 auto 25px;
          padding: 20px 5px 22px;
          max-width: 363px;
          font-family: $museosans;
          font-weight: 900;
          font-size: 32px;
          line-height: 1.46;
          color: #fff;
          text-transform: uppercase;
          border: 1px solid #a09e9d;
          border: 1px solid rgba(255, 255, 255, .4);
          border-radius: 1px;
          text-shadow: 0 2px 1px rgba(0, 0, 0, .4);
          letter-spacing: -.6px;

          .locale--ja-jp & {
            border: 1px solid rgba(255, 255, 255, 1);
          }
        }

        p {
          margin-bottom: 40px;
          font-family: $museoslab;
          font-weight: 100;
          font-style: italic;
          font-size: 18px;
          line-height: 1.4;
          color: #fff;
          text-shadow: 0 2px 1px rgba(0, 0, 0, .4);
          letter-spacing: -.8px;
        }
      }

      .side-screen {
        width: 483px;
        position: absolute;
        top: 152px;
        bottom: 0;
        text-align: center;
        visibility: hidden;

        &.business {
          right: 0;
          left: auto;
        }

        &.home {
          right: auto;
          left: 0;
        }

        h2 {
          margin: 0 auto;
          padding: 0;
          font-family: $museosans;
          font-weight: 900;
          font-size: 38px;
          line-height: 1.2;
          color: #fff;
          text-transform: uppercase;
          text-shadow: 0 1px 1px rgba(0, 0, 0, .4);
          letter-spacing: -.8px;
        }

        h3 {
          font-family: $museoslab;
          font-weight: 100;
          font-style: italic;
          font-size: 23px;
          line-height: 1.8;
          color: #fff;
          text-shadow: 0 1px 1px rgba(0, 0, 0, .4);
          letter-spacing: -.9px;
          margin-bottom: 39px;
        }

        .cta-list {
          width: 310px;
          margin: 0 auto;

          li {
            display: block;
            width: 300px;
            height: 84px;
            margin: 0 auto;
          }

          .cta {
            position: relative;
            display: block;
            width: 300px;
            height: 56px;
            background: #fff;
            border-radius: 3px;
            opacity: .7;

            i {
              position: absolute;
              display: block;
              color: #070707;
              top: 0;
              left: 0;
              width: 64px;
              line-height: 56px;

              &.business-small {
                padding: 3px 0 0 3px;
                font-size: 18px;
              }

              &.business-medium {
                font-size: 22px;
              }

              &.business-enterprise {
                font-size: 28px;
              }

              &.home-pc {
                padding: 4px 0 0 5px;
                font-size: 28px;
              }

              &.home-mac {
                padding: 2px 0 0 4px;
                font-size: 30px;
              }

              &.home-mobile {
                font-size: 28px;
              }
            }

            .cta-title {
              position: absolute;
              display: block;
              top: 0;
              left: 64px;
              width: 99px;
              height: 56px;
              text-align: left;

              &.business {
                padding: 15px 0 0;
              }

              &.home {
                padding: 23px 0 0 6px;
              }

              b {
                display: block;
                font-family: $museosans;
                font-weight: 300;
                font-size: 14px;
                line-height: 1;
                color: #373737;
                letter-spacing: -.3px;
                margin-bottom: 4px;
              }

              span {
                display: block;
                font-family: $museosans;
                font-weight: 300;
                font-size: 10px;
                line-height: 1;
                color: #9e9e9e;
                text-transform: uppercase;
                letter-spacing: -.2px;
              }
            }

            .cta-green-text {
              display: block;
              position: absolute;
              top: 11px;
              left: 163px;
              line-height: 34px;
              padding: 1px 0 0 12px;
              font-family: $museosans;
              font-weight: 500;
              font-size: 11px;
              color: #006d5c;
              text-transform: uppercase;
              border-left: 1px solid #d9d9d9;

              &.business {
                left: 163px;
                padding: 1px 0 0 12px;
              }

              &.home {
                left: 158px;
                padding: 1px 0 0 14px;
              }
            }
          }
        }

        .bottom-copy {
          font-family: $museoslab;
          font-weight: 100;
          font-style: italic;
          font-size: 12px;
          line-height: 1.66;
          color: #fff;
          letter-spacing: -.2px;
          text-shadow: 0 1px 1px rgba(0, 0, 0, .4);
          margin: 0;
          padding: 1px 0 0;
        }
      }

      .green-overlay {
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        background-repeat: no-repeat;
        background-size: cover;
        visibility: hidden;

        &.business {
          background-image: url("/content/en-global/images/homepage/bg-green-overlay-left.png");
          background-position: right center;
        }

        &.home {
          background-image: url("/content/en-global/images/homepage/bg-green-overlay-right.png");
          background-position: left center;
          opacity: 0;
        }
      }

      .gray-overlay {
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        background-color: #3c3c3c;
        visibility: hidden;
      }

      .hero-side-col {
        position: relative;
        float: left;
        height: $homepage-header-height;
        width: (($homepage-header-width - 350px) / 2);
        background-repeat: no-repeat;
        background-size: cover;
        z-index: 50;

        &.business {
          background-position: right center;
        }

        &.home {
          background-position: left center;
        }
      }

      .hero-mid-col {
        position: relative;
        float: left;
        height: $homepage-header-height;
        width: 350px;
        z-index: 55;

        .border-left {
          @include transform-origin(top right);
          @include transform(skewX(4.2deg));
          position: absolute;
          top: 0;
          right: auto;
          bottom: 0;
          left: -50px;
          width: 50px;
          height: auto;
          background: #fff;

          .no-csstransforms & {
            position: absolute;
            top: 0;
            right: auto;
            bottom: auto;
            left: -50px;
            width: 0;
            height: 0;
            background: transparent;
            border-style: solid;
            border-width: 0 50px 670px 0;
            border-color: transparent #fff transparent transparent;
          }
        }

        .border-right {
          @include transform-origin(top left);
          @include transform(skewX(-4.2deg));
          position: absolute;
          top: 0;
          right: -50px;
          bottom: 0;
          left: auto;
          width: 50px;
          height: auto;
          background: #fff;

          .no-csstransforms & {
            position: absolute;
            top: 0;
            right: -50px;
            bottom: auto;
            left: auto;
            width: 0;
            height: 0;
            background: transparent;
            border-style: solid;
            border-width: 670px 50px 0 0;
            border-color: #fff transparent transparent;
          }
        }
      }
    }
  }
}

$homepage-header-height: 485px;

.homepage-hero-header-mobile {
  display: block;
  position: relative;
  overflow: hidden;
  height: $homepage-header-height;

  .screen {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    visibility: hidden;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;

    &.screen-intro {
      visibility: visible;
      padding-top: 119px;

      h2 {
        font-weight: 100;
        font-size: 28px;
        line-height: 1.21;
        letter-spacing: -1.2px;
        color: #fff;
        margin-bottom: 1em;
        text-align: center;
      }

      .solutions-for {
        display: block;
        font-size: 11px;
        letter-spacing: -.3px;
        color: #fff;
        text-transform: uppercase;
        margin-bottom: 29px;
        text-align: center;
      }

      ul.cta-list {
        li {
          display: block;
          margin-bottom: 14px;

          a {
            display: block;
            background-color: #006d5c;
            margin: 0 auto;
            padding: 16px 10px 13px;
            font-weight: 700;
            font-size: 14px;
            line-height: 1.2;
            color: #fff;
            text-transform: uppercase;
            text-align: center;
            letter-spacing: -.2px;
            max-width: 280px;
          }
        }
      }
    }

    &.screen-business,
    &.screen-home {
      padding-top: 45px;

      .back-btn {
        position: absolute;
        width: 21px;
        height: 21px;
        background-image: url("/content/en-global/images/homepage/icon-arrow-back.png");
        background-repeat: no-repeat;
        background-position: center;
        background-size: 21px 21px;
        top: 18px;
        left: 20px;
        cursor: pointer;
      }

      h2 {
        font-weight: 800;
        font-size: 28px;
        letter-spacing: -.3px;
        color: #fff;
        text-transform: uppercase;
        text-align: center;
        margin-bottom: 4px;
        text-shadow: 0 1px 1px rgba(0, 0, 0, .4);
      }

      h3 {
        font-family: $museoslab;
        font-weight: 100;
        font-style: italic;
        letter-spacing: -.6px;
        font-size: 16px;
        color: #fff;
        margin-bottom: 19px;
        text-shadow: 0 1px 1px rgba(0, 0, 0, .4);
        text-align: center;
      }

      .cta-list {
        width: 280px;
        margin: 0 auto 27px;

        li {
          display: block;
          width: 280px;
          height: 56px;
          margin: 0 auto;

          &:last-child {
            margin-bottom: 0;
          }

          &.business {
            margin-bottom: 28px;
          }

          &.home {
            margin-bottom: 17px;
          }
        }

        .cta {
          position: relative;
          display: block;
          width: 280px;
          height: 56px;
          background: #fff;
          border-radius: 3px;

          i {
            position: absolute;
            display: block;
            color: #070707;
            top: 0;
            left: 0;
            width: 46px;
            line-height: 56px;
            text-align: center;

            &.business-small {
              padding: 3px 0 0 3px;
              font-size: 18px;
            }

            &.business-medium {
              font-size: 22px;
            }

            &.business-enterprise {
              font-size: 28px;
            }

            &.home-pc {
              font-size: 28px;

              &:before {
                position: relative;
                top: 4px;
                left: 8px;
              }
            }

            &.home-mac {
              font-size: 30px;

              &:before {
                position: relative;
                top: 7px;
                left: 7px;
              }
            }

            &.home-mobile {
              font-size: 28px;

              &:before {
                position: relative;
                left: 5px;
              }
            }
          }

          .cta-title {
            position: absolute;
            display: block;
            top: 0;
            left: 45px;
            width: 99px;
            height: 56px;
            text-align: left;

            &.business {
              padding: 15px 0 0;
            }

            &.home {
              padding: 23px 0 0 18px;
            }

            b {
              display: block;
              font-family: $museosans;
              font-weight: 300;
              font-size: 14px;
              line-height: 1;
              color: #373737;
              letter-spacing: -.3px;
              margin-bottom: 4px;
            }

            span {
              display: block;
              font-family: $museosans;
              font-weight: 300;
              font-size: 10px;
              line-height: 1;
              color: #9e9e9e;
              text-transform: uppercase;
              letter-spacing: -.2px;
            }
          }

          .cta-green-text {
            display: block;
            position: absolute;
            top: 11px;
            line-height: 34px;
            padding: 1px 0 0 12px;
            font-family: $museosans;
            font-weight: 500;
            font-size: 11px;
            color: #006d5c;
            text-transform: uppercase;
            border-left: 1px solid #d9d9d9;
            letter-spacing: -.3;

            &.business {
              left: 143px;
              padding: 1px 0 0 12px;
            }

            &.home {
              left: 138px;
              padding: 1px 0 0 14px;
            }
          }
        }
      }

      .all-products {
        font-weight: 700;
        font-size: 11px;
        letter-spacing: -.1px;
        color: #fff;
        text-transform: uppercase;
        border: 1px solid #c7c9cb;
        border: 1px solid rgba(255, 255, 255, .45);
        border-radius: 1px;
        padding: 15px 5px 13px;
        display: block;
        max-width: 179px;
        margin: -10px auto 11px;
        text-align: center;
      }
    }

    .bottom-copy {
      font-family: $museoslab;
      font-weight: 100;
      font-style: italic;
      font-size: 12px;
      line-height: 1.5;
      color: #d0d0d0;
      letter-spacing: -.4px;
      text-shadow: 0 1px 1px rgba(0, 0, 0, .4);
      margin: 0;
      padding: 1px 0 0;
      text-align: center;
    }
  }
}

@media (max-width: 667px) {
  .homepage-hero-header-mobile .screen {
    &.screen-intro {
      padding-top: 85px;
    }
  }
}

@include media(769px) {
  .homepage-hero-header-mobile {
    display: none;
  }
}

.locale--ru-ru {
  .homepage-hero-header-desktop .hero-header-inner .side-screen .cta-list .cta {
    .cta-title.home {
      width: 105px;
    }

    .cta-green-text.business {
      left: 180px;
      width: 140px;
      text-align: center;
      padding-left: 0;

      @include media(1250px) {
        width: 120px;
      }
    }
  }
}
