
.button {
  display: inline-block;
  min-width: 12em;
  cursor: pointer;
  color: #FFF;
  font-size: 12px;
  border: 0;
  border-radius: 1px;
  background-color: #FFF;
  border: 1px solid #D2D2D2;
  color: #818181;
  text-align: center;
  text-decoration: none;
  word-spacing: normal;
  transition: all ease-out 0.1s;

  &:hover{
    color: #686868;
    border: 1px solid #b9b9b9;
  }
}

.disabled,
.button:disabled {
    cursor: normal;
    opacity: 0.3;
}

.button span {
  margin: auto;
  font-size: 12px;
  font-weight: bold;
  text-align: center;
  text-transform: uppercase;
}

.normal {
  composes: button;
}

.lightGreen {
  composes: button;
  border: 1px solid green;
  color: green;
  
  &:hover {
    color: rgb(0, 82, 0);
    border-color: rgb(0, 82, 0);
  }
}

.primary {
    composes: button;
    background-color: green;
    border: 1px solid green;
    color: #FFF;
    &:hover {
      color: #FFF;
      background-color: rgb(0, 82, 0);
      border-color: rgb(0, 82, 0);
    }
}

.danger {
    composes: button;
    background-color: red;
    border: 1px solid red;
    color: #FFF;
    &:hover {
      color: #FFF;
      background-color: red;
      border-color: red;
    }
}

.size_sm {
    padding: 5px 10px;
}

.size_md {
    padding: 12px 15px;
}

.size_lg {
    padding: 15px 20px;
}
